[2017-07-29 03:55] lochappy commented on #132
I did not, I thought I was automatically added in when I created through QtCreator.
I just added it manually, then thing works fine now.
Thank you very much for your quick reply!!!

[2017-07-29 04:00] Levi-Armstrong commented on #132
Great! This is something that is in the plan.

[2017-07-29 04:37] lochappy commented on #132
Can't wait to see this feature!!! Cheers!!!

[2017-07-29 17:11] FreelanceJavaDev commented on #127
@Levi-Armstrong Unable to locate package. I've also tried `sudo apt-get install libglesv2` as well:
`sudo apt install libglesv2`
`[sudo] password for ros:`
`Reading package lists...  Done`
`Building dependency tree`
`Reading state information... Done`
`E: Unable to locate package libglesv2`

[2017-07-29 19:39] Levi-Armstrong commented on #127
Ok I am going to see if I can find a work around.

[2017-07-29 20:23] FreelanceJavaDev commented on #127
Thank you.

[2017-08-01 14:40] antoan commented on #133
I took some screenshots as I wasn't able to select/copy/paste the environment listings directly, I hope thats ok.
![env1](https://user-images.githubusercontent.com/1454427/28830798-bdfdb6d6-76cf-11e7-8044-8f252ab56e3c.png)
![env2](https://user-images.githubusercontent.com/1454427/28830802-bee74f4e-76cf-11e7-9cf8-07c6d7cddfd8.png)
![env3](https://user-images.githubusercontent.com/1454427/28830797-b

[2017-08-01 18:19] Levi-Armstrong commented on #133
OK, I see the issue. You are opened it as a CMake Project and not a ROS Project. To open as a ROS project goto File>New File or Project>Projects>Import Project>Import ROS Workspace and follow the instruction. I recommend selecting Catkin Tools as the build system.

[2017-08-02 18:49] maxgittelman opened #135 "sudo add-apt-repository ppa is not up to date with the current version of Ubuntu 16.04"
Currently there is a strange bug that is causing the package manager to believe that the command has added "~" infront of  levi-armstrong and "ubuntu" to the command. As seen below, the PPA cannot be found. Below is someone who asked the exact same question but no solution has been proposed.

https://bugs.launchpad.net/ubuntu/+source/software-properties/+bug/1651256
[code]

What did seem to work w

[2017-08-02 19:08] maxgittelman commented on #135
You can also enter in the PPA manually to Ubuntu's Software & Updates center under the Other Software tab. Simply type in:
`ppa:levi-armstrong/qt-libraries-xenial`

[2017-08-02 19:08] #135 closed

[2017-08-03 01:33] Levi-Armstrong commented on #134
@AustinDeric Were you able to resolve the issue?

[2017-08-03 01:34] #132 closed

[2017-08-03 01:34] #129 closed

[2017-08-10 18:04] kjeremy commented on #119
I'm seeing this too with CatkinTools Step.

[2017-08-15 11:08] MuhsinFatih opened #136 "Unable to locate package qt57creator-plugin-ros"
When I try apt-get update I get the following:
[code]

I followed the instuctions, removed the ppa's and added them again. tried apt upgrade as well. I don't know why it doesn't see the package. Seems like qt-libraries-xenial ppa works fine, I can see it's packages, but ppa:levi-armstrong/ppa packages aren't available.

Am I doing something wrong? I coulnd't get it to download the plugin

[2017-08-15 11:11] gavanderhoorn commented on #136
Can you please add which OS (and arch) you are running? I see Ubuntu (xenial) and Debian (artful) repositories in the `apt` output. That is normally not a good idea.

[2017-08-15 11:12] MuhsinFatih commented on #136
Ubuntu Xenial (16.04.3)

[2017-08-15 11:17] gavanderhoorn commented on #136
Did you at any point add the Debian repositories to your system?

I see a lot of:

[code]

which makes sense, as it's trying to fetch indices for Debian artful from a xenial repository and the other way around.

[2017-08-15 11:18] MuhsinFatih commented on #136
Seems like when I try to install repositories I get repo's for artful as well. Didn't know debian release was called artful.
[code]

I suspect this has to do something with lsb_release error in the output. Is that so?

[2017-08-15 11:20] gavanderhoorn commented on #136
I think your OS is rather confused, and so am I.

I believe this is a problem with your system configuration, and not with the QT plugin PPA that this repository offers.

[2017-08-15 13:57] MuhsinFatih commented on #136
A couple days ago I tried to install elementary OS desktop environment just for fun. It messed with the existing packages. ` lsb_release -a ` was printing ` elementaryOS ` even under Ubuntu Unity. After that I purged all the packages under the elementaryOS repository (` sudo ppa-purge ppa:elementary-os/daily && sudo ppa-purge ppa:/elementary-os/stable `) and restarted the computer. After that ever

[2017-08-15 13:58] MuhsinFatih commented on #136
Oh and after that I reinstalled (without touching the dependencies) lsb_release manually because it was failing to print any output

[2017-08-15 16:37] gavanderhoorn commented on #136
I don't know what is happening exactly, but I do know that mixing `debian.org` and `ubuntu.org` repositories is not really a good idea. Personally I would recommend to review your `sources.list` and the files under `sources.list.d` to see what you have there that is lookin for `artful`.

[2017-08-16 06:39] MuhsinFatih commented on #136
I had removed all the artful entries, there was none. But the following:
[code]
adds artful repositories for some reason. I just fixed it tho! :) I edited the repository in the list after adding. Changed distro to xenial and now it's installing! Thanks for pointing out the issue

[2017-08-16 09:13] gavanderhoorn commented on #136
Good that you got things to install, but I would recommend you spend some time figuring out where the `artful` entries come from.

`add-apt-repository` uses info it gets from other libs/parts of your system, so that is perhaps something to look at. What is the output of `lsb_release -a`?

And a regular Ubuntu install should also not have `debian.org` entries in its sources list.

[2017-08-16 09:15] gavanderhoorn commented on #136
[code]

this seems to hint at something that was changed when you installed Elementary OS packages. The `-u` option is one that works on Elementary (and prints info about the Ubuntu distro it is based on).

A regular `lsb_release` doesn't support that option.

So something seems to have been left behind and you have a hybrid Xenial/Elementary OS install at this point.

[2017-08-16 09:16] gavanderhoorn commented on #136
Could I ask you to close this issue if you agree that it isn't an issue with the qt creator plugin?

Thanks.

[2017-08-16 11:19] #136 closed

[2017-08-16 11:29] MuhsinFatih commented on #136
[code]
I will investigate that further this week and I will have a look at add-apt-repository and hopefully share what I learn. Thanks a lot for helping :)

[2017-08-16 12:45] gavanderhoorn commented on #136
Btw: `artful` is an Ubuntu distro name, not a Debian one. The output from the various commands got me confused.

But the mixing of `debian.org` and `ubuntu.com` repositories is still not a good idea.

[2017-08-16 13:12] Levi-Armstrong commented on #136
@gavanderhoorn Thank you for helping solve this issue. :)

[2017-08-16 13:13] gavanderhoorn commented on #136
np.

[2017-08-16 13:13] Levi-Armstrong commented on #133
@antoan Were you able to import it as a ros project?

[2017-08-16 19:29] antoan commented on #133
Not quite, I got a  notification for the desktop kit which mentions my version of Cmake
is unsupported and I need to upgrade to 3.0?

Other than that, I seem to be able to load my catkin workspace which contains multiple ros packages. Is it possible to open packages individually?

[2017-08-17 16:20] Levi-Armstrong commented on #133
The plugin still require it be a workspace. But if you have it in a workspace and you only want to see a single package in the project tree, then open up the  <project_name>.workspace and change the input *src* to *src/<package_name>* and only this package will show ups.

[code]

If you want see more than one package then do this.
[code]

[2017-08-23 13:15] antoan commented on #133
I see, thank you.

I'm still unable to build, I'm guessing because of the Cmake version issue I mentioned earlier? What would be the best way to resolve this?

[code]

[2017-08-23 15:56] koenlek opened #137 "Indexing ("building C++ Code Model") fails for packages that are symlinked into the catkin source space"
I have a workspace in which I add a stack of packages using a symlink. I.e. on my system I have:

- `~/my-project-git-clone/ros/` which contains several packages.
- `~/catkin_ws`, which is my catkin tools based catkin ws.
- and a symlink `~/catkin_ws/src/ros -> ~/my-project-git-clone/ros/`.

This works fine with catkin tools, but unfortunately, the ROS Qt Creator plugin seems unable to deal with i

[2017-08-23 16:22] koenlek opened #138 "Add `--no-status` as `catkin build` arg by default"
The Compile Output console of QtCreator is polluted by many lines because the console isn't capable of dealing with 'carriage returns'. The catkin tools 'status bar' at the bottom of the compile output is normally updated by using carriage returns, but in QtCreator it results in a new line for every update of the status line. To avoid this pollution, the switch `--no-status` can be used (from the

[2017-08-24 05:36] Levi-Armstrong commented on #138
Thank you, I will add set it as the default.

[2017-08-24 05:39] Levi-Armstrong commented on #137
I will create a test case and see how to resolve the issue.

[2017-08-27 05:42] wojiaojiao opened #139 "good install method, I recommend！"
The following methods are installed  qt creator and plugin-ros at the same time,Very convenient and avoid the error their versions do not match.
// for Ubuntu 14.04

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros

[2017-08-28 01:19] MaxWattage commented on #139
Hi,
I have the current version of Qt Creator, which reports itself as being "Qt Creator 4.3.1", "Based on Qt 5.9.1 (GCC 5.3.1 20160406 (Red Hat 5.3.1-6), 64 bit)".
I use this for many software projects, but I would now like to use ROS as well.

The installation instructions at https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)  ,for users of Ubuntu 16.04 LTS, do not se

[2017-08-28 06:34] wojiaojiao commented on #139
@MaxWattage
Because your Qt Creator cersion is 4.3.1!qt57creator-plugin-ros need qt creator version is 5.7.1
please try:
sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros

[2017-08-28 16:00] Levi-Armstrong commented on #133
Do you mind providing another screen shot of your build configuration screen?

[2017-08-28 17:50] MaxWattage commented on #139
Well, that now gives me two versions of Qt on my machine.
My original "Qt 5.9.1 Creator" version, and the "Qt 5.7.1 Creator" version.

The Qt 5.7.1 version correctly shows the "Import ROS Workspace" option, whereas my original installation still doesn't.

However, when I load my existing code project(s) into the 5.7.1 version it is broken and won't compile.
I get the following compiler message:

[2017-08-28 18:14] Levi-Armstrong commented on #139
Given that Qt was not regularly keeping the binary release updated with the latest version in Indigo, it was decided to manage our own Qt Libraries since the plugins will only work with the exact version from which it was built for.  It currently is not the latest on kinetic but it soon will change where the ROS version is greater than what you can get through apt-get. So you must use Qt 5.7.1 if

[2017-08-28 18:19] Levi-Armstrong commented on #139
I get the following compiler message:
Project ERROR: Unknown module(s) in QT: serialbus
18:35:06: The process "/usr/lib/x86_64-linux-gnu/qt5/bin/qmake" exited with code 3.
Error while building/deploying project ModbusMasterTest (kit: Desktop)

Does this error occur when building a ROS workspace?

[2017-08-28 21:53] MaxWattage commented on #139
I don't have any code yet that uses a ROS workspace, I've only just installed ROS, and haven't yet learned how to use it.
What I do have a project that uses serial ports, and the modbus components from the Qt "serialport" and Qt "serialbus" components respectively.

My aim is to develop a ROS project that will use the "serialport" and "serialbus" components to communicate with the robot.
However,

[2017-08-29 12:34] Levi-Armstrong commented on #139
ROS should work with any version of Qt, it is the ROS Qt Creator Plugin which requires Qt 5.7.1. When developing using Qt Creator (Qt 5.7.1) you must configure your kit within Qt Creator to use Qt 5.9.1 when building Qt Projects. Just because Qt Creator was built using Qt 5.7.1 does not prevent you from building other application using different version of Qt.

[2017-08-29 13:28] wojiaojiao commented on #139
@Levi-Armstrong
you must configure your kit within Qt Creator to use Qt 5.9.1 when building Qt Projects

[2017-08-29 17:40] nathangeorge1 commented on #132
I built my `catkin_ws` within QtCreator; here's the output:

![image](https://user-images.githubusercontent.com/2744891/29835260-6ecb703e-8cbf-11e7-94c3-73067855c34a.png)

but my header files are not being resolved:

![image](https://user-images.githubusercontent.com/2744891/29835309-9697c9f0-8cbf-11e7-9bbd-bfdf46d71658.png)

I also right-clicked the `catkin_ws` and ran "Reload Project Build Info.

[2017-08-29 19:29] nathangeorge1 commented on #132
I got it working, I needed to right click the project and `Build`; the problem was that it wasn't building properly; simple enough

[2017-08-30 02:19] MaxWattage commented on #139
Well, I've spent a good 8 hours trying to configure a kit within Qt Creator to use Qt 5.9.1, without any joy.

I did find that I could stop it using Qt4 by using "export QT_SELECT=5"
However, the version of Qt5 with Ubuntu 16.04 LTS seems to be fixed at 5.5.1, which does not include the QtSerialbus libraries I need. (apparently QtSerialbus was first introduced in Qt 5.6.0)

That's why I need Qt 5.

[2017-08-30 05:08] Levi-Armstrong commented on #127
@FreelanceJavaDev  It looks like it is part of the libgles2-mesa-dev, but when building on the launchpad.net it still cannot find the library when linking. It does install it, but I think something is missing when executing qmake.

 I do not have a armv7 to do extensive testing. Would you be able to download the source [here](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt571-xenial/+files/q

[2017-08-30 06:03] Levi-Armstrong commented on #127
@FreelanceJavaDev Well I finally was able to tinker enough and get it to build on launchpad.net. Currently Qt Creator is building so hopefully everything goes smooth and it should be available for you to install.

[2017-08-30 06:08] Levi-Armstrong commented on #139
Are you able to provide a sample project which recreates the issue and I will see if I can get it to build with a local install of Qt 5.9.1?

[2017-08-30 06:21] Levi-Armstrong commented on #139
I believe it is something to do with the environment variables in project>build>System Environment.

I would remove any reference to qt57 from the following environment variables:
LD_LIBRARY_PATH
PATH
PKG_CONFIG_PATH

Then update this environment variable to point to the local install directory of qt:
QTDIR

[2017-08-30 06:24] Levi-Armstrong commented on #127
Well Qt Creator did not build now, but I will keep working on it.

[2017-08-30 13:07] Levi-Armstrong commented on #132
That is interesting. Let me know if you keep running into the same issue.

[2017-08-30 13:07] #134 closed

[2017-08-30 13:19] nathangeorge1 commented on #132
o @Levi-Armstrong , I meant that by personal project had build issues; nothing wrong with your repo; although, there wasn't much documentation on solving this problem; so it might be helpful to newcomers to have a doc or video on solving build and indexing issues.

[2017-08-30 23:34] MaxWattage commented on #139
Ok, it seems to be working now. (for a given value of working)

I updated the three environment variables and now mt oroject compiles.

The caveats to this are that the 'Kit' Desktop (default) has a yellow warning '!' next to it and the pop-up message I get when I hover over this says that...
Warning: CMake version is unsupported. Please update to version 3.0 or later
Warning: CMake tool does not

[2017-08-31 13:33] Levi-Armstrong commented on #139
The following plugins have errors and cannot be loaded:
QbsProjectManager
Details:
/opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: Cannot load library /opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: (libqbscore.so.1.7: cannot open shared object file: No such file or directory)

I have been trying to get everything released for armhf and in the pr

[2017-08-31 14:15] Levi-Armstrong commented on #139
Note: Everything should work except feature from the QbsPlugin which if you are developing with ros you should be OK.

[2017-08-31 22:46] MaxWattage commented on #139
Hi, I have received your software update through the PPA, but I can detect no changes to the functionality.

All the bugs/issues I reported above still seem to be present. I even re-booted and tested again, just to be sure.

What changes in the behaviour should I have seen?

[2017-08-31 23:07] msinvent opened #140 "Need to restart the qt to reflect the update made in the launch files."
I am running a simple program in which I am simply launching gazebo with and without the robot. The change is only appearing after I am restarting the qt.

I tried to remove and add the run step but to no avail. I am trying to build it again, but I believe that build is not happening again because there are no changes in the src files.

Is there any step that I can add so that I need not restart Q

[2017-09-01 12:26] Levi-Armstrong commented on #140
What files are you editing?

[2017-09-02 20:24] Neoplanetz opened #142 "I got error message about QbsProjectManager when run QTcreator"
Hello. I install Ros Kinetic desktop-full. and I install QT creator plugin-ROS.

As follow this install instruction,  I install qt57creator-plugin-ros.

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros

Installation is completely installed. and then, I execute qtcreator i

[2017-09-04 01:47] lq1216766050 commented on #142
I also encountered the same problem last night, but I installed this plugin on another machine 2 days ago did not appear on this issue, the problem you solved?

[2017-09-04 02:16] Neoplanetz commented on #142
Not yet. What are your another machines you installed completely?
In my case, I installed this plug-in in the VMware virtual machine. Is it a problem?

[2017-09-04 03:11] lq1216766050 commented on #142
I installed it on Ubuntu16.04 ，not on the virtual machine，and this time is also on Ubuntu16.04，I found that the problem don't affect the development. But every time I open the qt creator the Pop-ups is annoying.
`/opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: Cannot load library /opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: (libqbscore.so.1.7:

[2017-09-04 12:39] Levi-Armstrong commented on #142
I am in the process of upgrading to Qt Creator 4.3 which is the reason for the error. I have a PR wait review sorry for the inconvenience.

[2017-09-04 12:42] Levi-Armstrong commented on #139
There are currently no changrd just the upgrade to the qbs library. I have a PR in review for upgrading to Qt Creator 4.3.

[2017-09-04 14:20] hljchenxi commented on #142
How long will it work ?

[2017-09-04 17:53] Neoplanetz commented on #142
Levi Thank you for your work! We are waiting for fixing this problem ASAP ^^

[2017-09-04 19:14] msinvent commented on #109
Coming across the similar problem, tried re-installing the qt twice, by purging the old install. Could not get any success.

[2017-09-05 02:19] Levi-Armstrong commented on #142
If you are developing only ros projects it should work without issues.

[2017-09-05 02:21] Levi-Armstrong commented on #109
@msinvent I think your issues is related to issue #142

[2017-09-06 13:36] nathangeorge1 commented on #142
thank you @Levi-Armstrong ; also experiencing the same problem

[2017-09-07 17:05] nathangeorge1 commented on #142
thanks @Levi-Armstrong ; now, I get the following error after getting the latest PR merge

![image](https://user-images.githubusercontent.com/2744891/30175586-0b7c9bce-93cd-11e7-90ba-e37480d2d357.png)

[2017-09-07 17:32] js708fw commented on #142
I got same issue as @nathangeorge1 , cannot even open workspace

[2017-09-07 17:50] Levi-Armstrong commented on #142
I am working the release of the plug-in for Qt 4.3.1 and should be available soon.

[2017-09-07 17:51] Levi-Armstrong commented on #142
I don't recommend doing an update upgrade on your system until it is published.

[2017-09-07 18:03] nathangeorge1 commented on #142
Ok; is that until your release for the Qt 4.3.1 is published?

Is there a way to revert back also, because I already did `sudo apt upgrade`?

[2017-09-07 18:05] Levi-Armstrong commented on #142
It is available perform an update and upgrade and you should be good to go.

[2017-09-07 18:06] Levi-Armstrong commented on #126
Everything has been upgraded to 4.3.1, let me know if you have any issues.

[2017-09-07 18:07] Levi-Armstrong commented on #124
This is now available in the latest release.

[2017-09-07 18:07] #124 closed

[2017-09-07 18:07] Levi-Armstrong commented on #118
Moved in the latest release.

[2017-09-07 18:07] #118 closed

[2017-09-07 18:10] #126 closed

[2017-09-07 18:11] Levi-Armstrong commented on #139
Everything has been upgraded to 4.3.1.

[2017-09-07 18:12] nathangeorge1 commented on #142
Cool; the errors went away; thanks; and great plugin btw!

[2017-09-07 18:13] Levi-Armstrong commented on #138
@koenlek I tested this on a fresh install on a VM and it works fine without `--no-status`. I think it might be something with your configuration.

[2017-09-07 18:15] Levi-Armstrong commented on #139
@wojiaojiao The install procedure has been updated per your recommendation.

[2017-09-07 18:16] Levi-Armstrong commented on #139
@MaxWattage If you still are having issues please create a new issues.

[2017-09-07 18:16] #139 closed

[2017-09-07 18:17] Levi-Armstrong commented on #142
Great! Let me know if you have any issues.

[2017-09-07 18:17] #142 closed

[2017-09-07 18:18] #121 closed

[2017-09-07 18:20] Levi-Armstrong commented on #133
@antoan Did you add the CatkinTools Step under the deploy section?

[2017-09-07 18:27] Levi-Armstrong commented on #127
@FreelanceJavaDev QtCreator is now release under armv7 and I am now working on the plugin

[2017-09-07 18:55] Levi-Armstrong commented on #127
@FreelanceJavaDev Everything is released for armv7 let me know if you have any issues.

[2017-09-07 18:55] #127 closed

[2017-09-07 18:55] Levi-Armstrong commented on #140
@msinvent are you still having issues.

[2017-09-07 18:56] #114 closed

[2017-09-07 20:31] Levi-Armstrong commented on #117
I have notified the maintainer on launchpad.net.

[2017-09-08 01:53] XuxinDoubleWang opened #145 "Command Panel Section disappeared"
Hi everyone,
I am using QT to design my own GUI.
At beginning, I run my node, the window shows as following:
![1001667-20161221032040839-1490518329](https://user-images.githubusercontent.com/20387673/30192642-a63782ac-9416-11e7-8675-52755c70573d.png)

Once I closed Command Panel Section, I cannot open it due to I cannot find where to open it.
Now, my windows shows as following :
![screenshot from

[2017-09-08 12:06] Levi-Armstrong commented on #145
You will most likely need to add a button either in a menu or some where on the gui to show the panel again. If this is not the behavior you want you could change it to another widget where it minimizes to the left like some of the panels in rviz.

[2017-09-08 12:10] JonathanSchmalhoferBMW opened #146 "Item "Import ROS Workspace" not available"
I do  have **qt57creator** installed on **Ubuntu 16.04 LTS** and installed the plugin as described in the Wiki. Yet, I cannot find the menu item "**Import ROS Workspace**" under **File>New File or Project>Projects>Import Project**.
The Plugin seems to be installed correctly though. Any ideas?

Screenshot:
![image](https://user-images.githubusercontent.com/26005950/30210969-383023c0-949f-11e7-9142-

[2017-09-08 12:17] Levi-Armstrong commented on #146
Sorry, The version I released yesterday moved it under `Other Project`. I will update the wiki.

[2017-09-08 12:20] Levi-Armstrong commented on #146
The wiki has been updated.

[2017-09-08 13:16] andrei-herdt commented on #126
The upgrade seems to be incomplete, since in setup.sh the default version is still set to 4.2 / 5.7.
Also, QtCreator 4.4 has been released this week. Could the plugin be used with this version too?

[2017-09-08 13:22] JonathanSchmalhoferBMW commented on #146
Thanks for the hint, but still there is no Menu-Item "**Import ROS Workspace**". I do have an Iteam "**ROS Workspace**" there, which seems to be used to create a new ROS Workspace from blank:
![image](https://user-images.githubusercontent.com/26005950/30212546-bb538fc0-94a5-11e7-8887-b04ffeecd879.png)

A colleague of mine had no problems following the tutorials a few weeks ago. He uses QT Creator

[2017-09-08 13:25] Levi-Armstrong commented on #126
The plugin is currently released for 4.3.X and will not work with QtCreator 4.4.

If you are using the setup.sh to build your own version instead of using the one provided by the ppa, you can build it for 4.3. Output the help for the setup.sh file and there is a way to change the branch for QtCreator.

[2017-09-08 13:27] Levi-Armstrong commented on #146
I did not relize the name was changed from Import ROS Workspace. Use the ROS Workspace option, it is used for both creating and opening existing workspaces.

[2017-09-08 13:30] Levi-Armstrong opened #147 "Update to Qt 5.9"

[2017-09-08 13:32] #91 closed

[2017-09-08 13:32] #77 closed

[2017-09-08 13:32] Levi-Armstrong commented on #57
Seems to be fixed in the latest release.

[2017-09-08 13:32] #57 closed

[2017-09-08 13:54] JonathanSchmalhoferBMW commented on #146
OK got it. The Menu-Title-Bar under "**ROS Workspace**" still states "Create New ROS Project" which mislead me to thinking, that this is a different workflow than importing an existing project. I guess this should be adapted to avoid future confusion.

Nevertheless, it works like a charm now. Thank you very much, @Levi-Armstrong!

[2017-09-08 13:54] #146 closed

[2017-09-08 15:09] Levi-Armstrong commented on #146
Thank you for your feedback. I will update the title.

[2017-09-08 16:02] oxoocoffee commented on #126
If build fails for some reason please zip/tar setup.log file and attach to bug.

[2017-09-10 16:48] BrunoXL opened #148 "Import projects"
Is not possible to import ROS projects anymore unlike previous version?

![ros plugin](https://user-images.githubusercontent.com/11648780/30250941-497381c4-962d-11e7-9f0a-cf6093968f26.png)

[2017-09-10 18:03] Levi-Armstrong commented on #148
It was moved to other projects in the latest version.

[2017-09-10 18:52] BrunoXL commented on #148
On "other projects"  I'm just able to create new projects as i go through the menu.
It creates on the chosen path  the default ros folders (src, devel and build) again

[2017-09-11 07:39] ARSblithe212 commented on #132
hi i meet the same problem . how do you solve it?

[2017-09-11 12:40] Levi-Armstrong commented on #148
It does the same as it did before. It should import is the workspace has already been initialized and if not it sets it up and initializes it.

[2017-09-11 12:41] Levi-Armstrong commented on #132
@ARSblithe212  Did you build from within the IDE?

[2017-09-11 13:06] ARSblithe212 commented on #132
Thank you!!!  The reason is not Build.

[2017-09-11 13:23] Levi-Armstrong commented on #132
I am working on integrating the CMake Build Manager developed by Qt Creator which uses the CMake Server which should alleviate this issue in the future.

[2017-09-11 14:29] BrunoXL commented on #148
Ok. Know I saw

[2017-09-11 14:29] #148 closed

[2017-09-11 21:33] XuxinDoubleWang opened #149 "How to run launch file using PushButton"
Hi everyone,
I try to add many buttons that if I click one, one ros command line run automatically.
For example, if I click a push button, one launch file from other packages can run.
I already added a push button in .ui.
However, I tried some methods by myself to finish the following function (created by QT) but it is not successfully.

void qt::MainWindow::on_run_clicked()
{

}

Does anyone have

[2017-09-12 11:17] Levi-Armstrong commented on #149
Where would you like to see the output? If you don't care to see the output you can create a qprocess object, start a bash terminal an send it the same commands you would in a terminal. Take a look at this [file](https://github.com/ros-industrial/ros_qtc_plugin/blob/master/src/project_manager/ros_utils.cpp) I do this several places to get ros related information. If you are interested in see the o

[2017-09-12 13:59] koenlek commented on #138
For me, compiling works fine, but the output in the "Compile Output" window (which you can select in the bottom bar of qt-creator) shows tons of extra lines (every 'refresh' of the status msg creates a new line). Are you sure that doesn't happen in your VM? If it indeed works fine for you I'll fire up a VM too to check it myself too.

[2017-09-12 15:04] Levi-Armstrong commented on #138
I don't see this on any of my VM's including the training VM. I have seen this on one other machine but they were have a lot issues other than this which lead me to believe something was different in there configuration.

[2017-09-12 18:09] nathangeorge1 commented on #83
hello @Levi-Armstrong, currently I'm getting this message; how do I fix it so that I can debug? My process is building in debug mode, and following `4.1 Attach to a unstarted process` at https://github.com/ros-industrial/ros_qtc_plugin/wiki/4.-Debugging-Catkin-Workspace

[2017-09-12 18:10] nathangeorge1 commented on #83
Also my message looks like this:

![image](https://user-images.githubusercontent.com/2744891/30341473-188c76cc-97c4-11e7-8469-cfd2df15a2cb.png)

[2017-09-12 18:20] nathangeorge1 commented on #83
I fixed it by following `3.1 Setup Ubuntu to allow debugging/ptrace` at https://github.com/ros-industrial/ros_qtc_plugin/wiki/3.-Setup-Qt-Creator-for-ROS

[2017-09-13 13:24] Levi-Armstrong commented on #83
@nathangeorge1 Thank you for your feedback. I have updated the wiki with a prerequisite section point the instructions for allowing ptrace.

[2017-09-14 23:46] akashjinandra commented on #130
Was anybody able to get rid of the rviz errors? It doesn't cause any issues as Levi mentioned, but it is kind of annoying as it spams the screen.

[2017-09-15 12:27] Levi-Armstrong commented on #130
@akashjinandra If you delete the build and devel directory and build outside of Qt Creator does it go away?

[2017-09-17 09:52] surachairobotic opened #150 "ERROR Operation canceled when run setup script."
I try install ROS Qt Creator Plugin follow by this tutorial --> [https://github.com/ros-industrial/ros_qtc_plugin/wiki/2.-Improve-ROS-Qt-Creator-Plugin-(Developers-ONLY)](url)
In step
1.3 Run ROS Qt Creator setup script.
git clone -b master https://github.com/ros-industrial/ros_qtc_plugins.git
but when run this command [ **bash setup.sh -d** ] got a **_ERROR_** message below.

When see in setup.lo

[2017-09-17 18:02] Levi-Armstrong commented on #150
Try `setup.sh -d -qtr master -qtc 4.3`

[2017-09-19 15:57] surachairobotic commented on #150
OK . . . Happy ROSing
Thank you very much.

[2017-09-19 15:57] #150 closed

[2017-09-21 01:05] Levi-Armstrong commented on #149
@XuxinDoubleWang Were you able to get it to work?

[2017-09-25 10:52] justwillim commented on #147
expected for this very much.

[2017-09-26 14:53] maxgittelman commented on #58
Under Tools > Options > Build & Run > CMake, the auto-detected System CMake is found at `/usr/bin/cmake` should I be changing this to somewhere else, @vharron ? Everything runs smoothly when playing, it's only the fact that when debugging I get the double message

[code]
@superjax Did you ever resolve the issue?

[2017-09-26 21:46] Levi-Armstrong commented on #58
When debugging ros nodes you should use the attach to unstarted method described in the wiki. If it is a single node you can use the custom executable run step instead and then the run debug button will work assuming the project was built in debug.

[2017-09-26 21:51] maxgittelman commented on #58
To which wiki are you referring?

[2017-09-26 22:10] Levi-Armstrong commented on #58
The github wiki. Sorry for not provide a more detailed response, i am away from my computer at the moment.

[2017-09-26 22:22] Levi-Armstrong commented on #58
Here is the [link](https://github.com/ros-industrial/ros_qtc_plugin/wiki/4.-Debugging-Catkin-Workspace).

[2017-09-28 17:27] XuxinDoubleWang commented on #149
No, I have not. I am working on it. If I finish it , I will post it here.

[2017-09-29 18:55] Levi-Armstrong commented on #83
#152 Adds message box when pressing run debug.

[2017-09-29 19:38] nathangeorge1 commented on #123
If possible in one of the setup tutorials, maybe add the steps for changing the editor and code style settings within the Projects tab, saying that going to the Tools > Options thing doesn't work for QT ROS project; I didn't know that and had to come here to resolve it. Thanks.

[2017-09-30 23:35] Levi-Armstrong commented on #123
Sounds great! Do you mind updating the wiki?

[2017-10-01 00:08] nathangeorge1 commented on #123
Not at all; I didn't know I was allowed to do that. I will do that sometime soon.

[2017-10-01 01:39] Levi-Armstrong commented on #123
If you cannot let me know.

[2017-10-01 16:49] vincent-hui opened #153 "Does ros_qtc_plugin support Qt creator 4..4?"
Can I use ros_qtc_plugin in Qt creator 4..4? I do not see Qt creator 4.4 branch.

[2017-10-01 17:20] Levi-Armstrong commented on #153
I have PR to upgrade to 4.4 so should be released in about a week.

[2017-10-02 08:20] Levi-Armstrong commented on #137
This should be resolved by #152

[2017-10-02 08:20] Levi-Armstrong commented on #119
This should be resolved by #152

[2017-10-02 08:24] Levi-Armstrong commented on #83
Update I have integrated a Attach to Unstarted Run Step to simplify debugging ros workspace. Now you can add the run step to start watching for the process press the debug run button. Note: You must either add another run step that actually launches the node or launch it from another terminal.

[2017-10-02 18:43] nathangeorge1 commented on #123
Another problem I am having is that when I set the tab policy to tabs only, it actually is outputting 4 spaces, which is making it difficult to develop in Python; my settings:

![image](https://user-images.githubusercontent.com/2744891/31093500-e878c032-a77f-11e7-8a11-c3c4ae5d272b.png)

any ideas?

[2017-10-02 21:17] Levi-Armstrong commented on #123
Are you changing it in the project setting or at the global level?

[2017-10-02 21:20] Levi-Armstrong commented on #123
In the project tab > project settings for the ROS[built-in] copy it and then select edit and update it there and it should work.

[2017-10-03 13:26] nathangeorge1 commented on #123
O, I was changing it in the global setting on accident. I changed it in Projects >Editor. I'll update the wiki now. Also, I noticed that changing in Projects > Code Style does not working, even if I make a copy of ROS[built-in].

[2017-10-03 13:26] nathangeorge1 commented on #123
Also, I don't believe I have write access to the wiki.

[2017-10-03 13:51] Levi-Armstrong commented on #123
Sorry, It is now open to the public to make edits.

[2017-10-03 14:00] nathangeorge1 commented on #123
ok it's updated in section 3

[2017-10-05 04:23] Levi-Armstrong commented on #123
Great! Thank you.

[2017-10-07 01:18] oxoocoffee commented on #153
Approved. Also tested just released Qt Creator 4.4.1 and it works too.

[2017-10-07 01:34] oxoocoffee commented on #138
I am also running on desktop and in couple VM and do not see this problem.

[2017-10-07 14:38] Levi-Armstrong commented on #153
Ok I will do a release for 4.4.1 with Qt 5.7. I am still working on releasing Qt 5.9.1 on arm and arch.

[2017-10-08 01:31] Levi-Armstrong commented on #133
No Response

[2017-10-08 01:31] #133 closed

[2017-10-08 01:31] #119 closed

[2017-10-08 01:32] #83 closed

[2017-10-08 01:33] #63 closed

[2017-10-08 15:14] koenlek commented on #138
Then I guess it's just me... I'll see this week if I can clear all QtCreator settings in some way to get it fixed... But for me we can consider this issue closed.

[2017-10-09 10:18] d-walsh opened #158 "Plugin not loading since update"
![screenshot](https://user-images.githubusercontent.com/2351963/31333809-70b57798-ace3-11e7-8199-ded8e2322dcc.png)

Updated "qt57creator" and "qt57qbs" now the plugin doesn't seem to be working.

[2017-10-09 13:54] Levi-Armstrong commented on #158
Thank you, I just release Qt Creator 4.4.1 and now that it has been published I can release the plug-in, should have it soon.

[2017-10-09 14:27] Levi-Armstrong commented on #158
It has been published. Perform an upgrade and everything should work.

[2017-10-09 15:10] Levi-Armstrong commented on #153
Everything has been released for 4.4.1 enjoy.

[2017-10-09 15:10] #153 closed

[2017-10-09 15:11] Levi-Armstrong commented on #137
@koenlek I just released everything for 4.4.1 which should fix the issue let me know if it does not.

[2017-10-10 08:52] koenlek commented on #137
Works like a charm!

[2017-10-10 08:52] #137 closed

[2017-10-10 10:21] vincent-hui opened #159 "the type of "data" of "generators" in some wizard.json files is wrong and ../../global/genericfilewizard.png is missing"
The type of "data" of "generators" in some wizard.json files is wrong. It should be an array not an object. For example, ros_basic_node/wizard.json is wrong. Another issue is that ../../global/genericfilewizard.png is missing, "global" does not contains genericfilewizard.png.

    "generators" :
    [
        {
            "typeId": "File",
            "data":
            {
                "source

[2017-10-11 03:46] Levi-Armstrong commented on #159
Sorry, I don't follow.

[2017-10-11 03:51] Levi-Armstrong commented on #159
The does not appear to be in qt creator any longer. Though they added another parameter iconText so I will work on updating them to this instead of using the png.

[2017-10-11 22:15] #138 closed

[2017-10-11 22:16] #105 closed

[2017-10-11 22:16] Levi-Armstrong commented on #159
This PR #160 should resolve the issue.

[2017-10-12 01:23] Levi-Armstrong commented on #147
I was able to build all dependencies on qt 5.9.1 for arm, so this weekend I will upgrade everything .

[2017-10-18 14:04] nathangeorge1 opened #175 "Failed opening project...No plugin can open project type"
When trying to open `~/catkin_ws/catkin_ws.workspace` I get the following error:

![image](https://user-images.githubusercontent.com/2744891/31722925-6c90bff6-b3eb-11e7-8217-f646a455d843.png)

Does this have something to do with an update; for example, I can't import a ROS workspace anymore, as per the tutorial:
![image](https://user-images.githubusercontent.com/2744891/31723006-a5dbe218-b3eb-11e7

[2017-10-19 03:59] x3Randomise commented on #147
HI Levi,

I got the following problem after update to Qt5.9

conghui@conghui-Pc:~$ sudo apt-get install qt59creator
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been cre

[2017-10-19 04:01] x3Randomise commented on #175
Similar problem i got after update to Qt59creator, see the following:

conghui@conghui-Pc:~$ sudo apt-get install qt59creator
The following packages have unmet dependencies:
 **qt59creator : Depends: libclang1-4.0 (>= 3.6) but it is not installable**
               Recommends: qt59creator-doc but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

[2017-10-19 06:28] x3Randomise commented on #147
The problem has been solved by ticking "Installed updates from" as the picture below.
![screenshot from 2017-10-19 14-26-22](https://user-images.githubusercontent.com/31727725/31757052-c84462dc-b4d9-11e7-9205-0a827738c8c4.png)

[2017-10-19 07:34] luator commented on #175
I have the same problem after doing an update yesterday.

[2017-10-19 07:43] luator commented on #175
I noticed that in the installation instructions it now says
[code]
On my system I had `qt57creator` installed instead of `qt59creator`. However installing `qt59creator` did not help. It also seems weird to me that different versions are used (`qt59creator` vs `qt57creator-plugin-ros`), is this intended? There is no `qt59creator-plugin-ros`, though.

[2017-10-20 13:46] Levi-Armstrong commented on #175
With the latest release a lot has changed to work with Qt Creator 4.4. The Import ROS workspace has moved under "Other Projects". Also to not break things during the update I left the debian name the same "qt57creator-plugin-ros" though it has been upgraded to Qt 5.9. When going to the next LTS I will remove the any reference to the version of qt in the name of the debian.

[2017-10-20 13:57] Levi-Armstrong commented on #175
Oh, Also when I did an upgrade it would not upgrade directly. Because the dependencies changed from Qt 5.7 to Qt 5.9 you must perform `sudo apt install qt57creator-plugin-ros`. During a `sudo apt upgrade` you should see something about it being held back due to dependency changing saying to perform a install to correct. I apologize there was no way around this.

[2017-10-20 13:58] luator commented on #175
@Levi-Armstrong Thanks for the information. I did the reinstall and now it is working again.

[2017-10-23 13:01] #159 closed

[2017-10-23 13:07] nathangeorge1 commented on #175
thanks @Levi-Armstrong that worked for me too. I believe the 2 installation videos are outdated. I can create updated installation instructions if you'd like.

[2017-10-23 13:07] #175 closed

[2017-10-23 13:21] Levi-Armstrong commented on #175
@nathangeorge1  That would be great! I have moved away from using the GitHub wiki to using Sphinx documentation so the pages have been moved to the directory gh_pages. After making changes you can test it by running the command `make html` from within the gh_pages directory. Then open this file `gh_pages/_build/html/index.html`.  After you are happy with the changes you can create a PR.

[2017-10-23 13:23] nathangeorge1 commented on #175
sounds good; it might take some time to learn front end stuff; but I'll get to it soon

[2017-10-23 20:44] liamstask opened #176 "trusty upgrades?"
Hi Levi - do you plan to release any of the qtc 4.4/qt 5.9 updates to the `debian/trusty` branch (and ppa's)? I'm still on that distribution, it would be great to get access to those updates if possible 👍 Thanks!

[2017-10-23 21:46] BrunoXL opened #177 "Repository not found"
On installing from [user's tutorial ](http://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html)it gives error of **not found repository** :

` Err:21 http://ppa.launchpad.net/bzindovic/suitesparse-bugfix-1319687/ubuntu xenial Release
  404  Not Found
Reading package lists... Done
E: The repository 'http://ppa.launchpad.net/bzindovic/suitesparse-bugfix-1319687/ubuntu xenial

[2017-10-24 14:02] Levi-Armstrong commented on #176
Well have ran into an issue releasing on trusty. I can do a release if I exclude the clang code model because there appears to be a binary incompatibility because Qt Creator requires g++ 4.9 which is not the current version on trusty. When compiling I receive the error below and I have tried multiple attempts to resolve the issue, but I believe to resolve the issue I would need to build llvm/clang

[2017-10-24 14:07] Levi-Armstrong commented on #177
This ppa `http://ppa.launchpad.net/bzindovic` is not related to the Qt Creator ROS Plugin.  I checked out the ppa and it contains several libraries for spars matrix math; did you add this for some other reason? If you are not using this ppa I would recommend removing it and then perform an `apt` update/upgrade.

[2017-10-24 14:33] Levi-Armstrong commented on #147
@x3Randomise I apologize I missed this post. Let me know if you have may more issues.

[2017-10-25 14:27] Levi-Armstrong commented on #176
Good news after a week of research I was able to stumble onto a solution. I have all of the Qt 5.9 Libraries  and Qt Creator 4.4.1 published on trusty last night. I will work on a releasing the plug-in tonight.

[2017-10-25 14:27] #140 closed

[2017-10-25 15:00] gavanderhoorn commented on #176
@Levi-Armstrong wrote:

sorry my late reply, but I don't think I would've been able to help you anyway.

Are you now distribution qt 5.9 on trusty? How does that work with the 'default' Qt versions on that OS?

And I haven't been following too closely, but what about [ppa:beineri/opt-qt591-trusty](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt591-trusty)?

[2017-10-25 15:17] Levi-Armstrong commented on #176
This does not have much of an affect Qt provides a way to easily switch between different versions.

Yea, I start with his version and then I modify them to accommodate building on arm processor. I also maintain my own copy to prevent things from breaking because occasionally he upgrades and things break along with a few other things.

[2017-10-25 16:29] liamstask commented on #176
Great news! Looking forward to testing it. Thanks for your work on this 👍

[2017-10-26 02:26] intgogo commented on #147
I  installed qt57creator-plugin-ros for qt5.9.2,but no ros found in qtcreator.How to fix this?

[2017-10-26 05:07] Levi-Armstrong commented on #176
@liamstask  It is released let me know if you have any issues. Note: since there is a dependence change you will most likely to reinstall.

[2017-10-26 06:18] intgogo commented on #147
Finally,I use this qtcreator and it works...
![screenshot from 2017-10-26 11-18-54](https://user-images.githubusercontent.com/31696329/32037584-8ccfa0de-ba58-11e7-90fa-0b3282b3ab98.png)

[2017-10-26 17:03] Levi-Armstrong opened #179 "Use CMakeProjectManager build manager"

[2017-10-27 11:43] #176 closed

[2017-10-27 11:45] Levi-Armstrong commented on #147
@intgogo I just released a new version of qtcreator which create a symbolic link in the usr/bin director called `qtcreator-ros` to make it easier to launch from a terminal.

[2017-10-27 11:45] #147 closed

[2017-10-27 11:50] Levi-Armstrong commented on #117
@jackros1022 @JinglinZhang I think this was fixed in the latest release with Qt 5.9 can you confirm?

[2017-10-27 18:02] liamstask commented on #176
Ah, unfortunately we have a dependency pinned that prevents me from upgrading libstdc++ to the version required by `qt59creator` :/

However, because `qt57creator-plugin-ros` now appears to depend on `qt59creator` (this is unintuitive) it's not simple to reinstall the version that was previously working.

Seems like it might be clearer to create a `qt59creator-plugin-ros` that depends on `qt59crea

[2017-10-27 19:35] #177 closed

[2017-10-27 19:49] BrunoXL opened #186 "Unmet dependency"
On installing version `0.1.8` I came across the following issue:

` You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 libqtermwidget59-0 : Depends: qtermwidget59-data (= 0.6.1-0xenial1) but it is not going to be installed
E: Unmet dependencies. Try 'apt-get -f install' with no packages (or specify a solution). `

Running  `apt-get -f inst

[2017-10-29 21:53] bpinaya opened #187 "Can't install qt59creator on Ubuntu 14.04."
Hi there I followed the instructions provided [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html), but can't seem to get qt59creator on Ubuntu.
This is my output, while it seems to be an issue from qt, I tried installing it from the .run file and then tried to install qt57creator-plugin-ros but can't still.
The following information may help to resolve the sit

[2017-10-30 13:02] Levi-Armstrong commented on #187
I appoligize, I did not think this would be required for users. You will need to add this dependency to get g++-4.9.

https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test

[2017-10-30 17:32] Levi-Armstrong opened #188 "Create installer to be used in conjunction with Qt installer method."
@oxoocoffee Have you looked into this at all? It was quite painful with the last upgrade to get everything in Qt built and released just to release the plug-in. I think going forwards it may be better to go with an installer like how Qt releases its newer version.

[2017-10-30 21:47] oxoocoffee commented on #188
I did not have time yet.

[2017-10-30 21:48] liamstask commented on #176
@Levi-Armstrong can you recommend a way to reinstall the version that was working previously? Looking at https://launchpad.net/~levi-armstrong/+archive/ubuntu/ppa/+packages I see references to a `0.1.5-0trusty8` version but it appears to no longer be published?

Right now, I am not able to use the plugin due to these dependency issues :(

[2017-10-31 00:03] bpinaya commented on #187
Thank you, that indeed solves my issue.

[2017-10-31 00:03] #187 closed

[2017-10-31 02:34] Levi-Armstrong commented on #186
It looks like I need to add a conflict to the qtermwidget59-data debian to fix this. In the interim just `sudo apt remove --purge qtermwidget57-data`, then reinstall.

[2017-10-31 12:33] Levi-Armstrong commented on #176
What is your dependency issue?

[2017-10-31 12:35] Levi-Armstrong commented on #176
This is most likely your issues, see issue #187.

[2017-10-31 14:33] BrunoXL commented on #186
I'm unable to remove `qtermwidget57-data`

`    You might want to run 'apt-get -f install' to correct these:
     The following packages have unmet dependencies:
 libqtermwidget59-0 : Depends: qtermwidget59-data (= 0.6.1-0xenial1) but it is not going to be installed
E: Unmet dependencies. Try 'apt-get -f install' with no packages (or specify a solution).`

[2017-10-31 16:40] liamstask commented on #176
Hi @Levi-Armstrong yes, that is related - the problem is that due to some other unrelated projects, I can't upgrade my gcc toolchain to 4.9 and must stay on 4.8 for now.

One solution that occurred to me was that, if the previous version of the `qt57creator-plugin-ros` package (i.e. before the change was made to depend on `qt59creator`) was still available, I could explicitly install that version

[2017-10-31 19:17] Levi-Armstrong commented on #176
You should be able to have multiple version of gcc toolchain installed and then set the active one to gcc 4.8. See if the link below help with setting up multiple versions.

https://askubuntu.com/questions/26498/choose-gcc-and-g-version

[2017-10-31 19:41] BrunoXL commented on #186
I've done this through `aptitude` .

[2017-10-31 19:41] #186 closed

[2017-11-01 16:51] liamstask commented on #176
Thanks @Levi-Armstrong. I took a look but was unsuccessful.

Our project unfortunately has a pretty specific set of packages pinned, and I'm not able to install the required version of gcc-4.9.

I was mostly just hoping there was a way to revert to the previous version of the plugin that I was using, as that worked well :D

[2017-11-02 01:21] jontromanab opened #189 "cannot be installed on ubuntu 14.04"
I am trying to install ros_qtc_plugin on ubuntu 14.04 from here:
http://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html

This line fails: "sudo apt-get install qt59creator"
with the error:
The following packages have unmet dependencies:
 qt59creator : Depends: libstdc++6 (>= 4.9) but 4.8.4-2ubuntu1~14.04.3 is to be installed
               Depends: qt59qbs but it is not g

[2017-11-02 01:30] jontromanab commented on #189
Sorry My bad. It needed gcc 4.9. It can be installed in ubuntu 14.04 like this:

sudo add-apt-repository ppa:ubuntu-toolchain-r/test
sudo apt-get update
sudo apt-get install gcc-4.9 g++-4.9

Problem solved.

[2017-11-02 08:43] HubertWelp opened #190 "No include and src folder for created package (qt59creator & qt57creator-plugin-ros)"
I have installed qt59creator and qt57creator-plugin-ros on Ubuntu 16.04 LTS. After creating a ROS workspace I wanted to add a package by selecting the "src"-folder and then "add new ...", "Package". QtCreator creates a subentry for  this package under "src". But this subentry does not contain an "include" nor a "src" folder, although these folders were created on disk. Subsequently I am not able t

[2017-11-02 21:37] MauleshSTrivedi opened #191 "Installation problems for the plugin with Ubuntu 14.04 with ROS Indigo"
Hi!
I tried to install QT with the ROS plugin onto my system a few times now. The following issue popped up in both the systems (ROS KInetic/Ubuntu 16.04, and now ROS Indigo/Ubuntu 14.04).
I followed the instructions on this website (http://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html) but I ran into dependency issues (and QT failed to install as well, as far as I coul

[2017-11-02 21:40] MauleshSTrivedi commented on #191
On my other machine (ROS Kinetic/Ubuntu 16.04), I ran into this similar issue. The only other difference was that my other system already had Qt (minus the ROS plugin) installed. And I figured that perhaps I am running into the dependency issues because the above installation guide somehow overwrote existing Qt packages. It resulted in a whole new mess. But now that I am running into the same issu

[2017-11-02 21:41] MauleshSTrivedi commented on #191
I have also tried to follow the instructions detailed in this issue:
https://github.com/ros-industrial/ros_qtc_plugin/issues/187

But it is still not working.

[2017-11-02 21:51] MauleshSTrivedi commented on #191
Ign http://us.archive.ubuntu.com trusty InRelease
Ign http://dl.google.com stable InRelease
Hit http://us.archive.ubuntu.com trusty-updates InRelease
Hit http://packages.microsoft.com stable InRelease
Hit http://us.archive.ubuntu.com trusty-backports InRelease
Hit http://packages.microsoft.com stable/main amd64 Packages
Hit http://security.ubuntu.com trusty-security InRelease
Hit http://dl.google.

[2017-11-02 21:53] MauleshSTrivedi commented on #191
This is where I am at the moment. Any help would be appreciated. Thank you.

[2017-11-02 22:03] 130s commented on #187
Can it be documented? In particular, I don't know how the command for this looks like. I tried the following:
[code]

[2017-11-02 22:15] 130s commented on #191
@MauleshSTrivedi If you could,
1. Remove all that you added regarding this installation.
1. Start over. This time, copy-paste **all output** (including the commands, which are actually crucial part when it comes to sharing the system output).

I just tried installing on my 14.04 and got no issue (except https://github.com/ros-industrial/ros_qtc_plugin/issues/187#issuecomment-341571754, which I cou

[2017-11-02 22:18] 130s commented on #187
Found that in the referenced link.
[code]

Opened https://github.com/ros-industrial/ros_qtc_plugin/pull/192 to document this.

[2017-11-02 22:21] MauleshSTrivedi commented on #191
Ok, so I'm going to uninstall Qt and remove everything.

[2017-11-02 22:25] MauleshSTrivedi commented on #187
The command worked for me fine.. weird!

[2017-11-02 22:31] MauleshSTrivedi commented on #187
@130s

'''
Toolchain test builds; see https://wiki.ubuntu.com/ToolChain

 More info: https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test
Press [ENTER] to continue or ctrl-c to cancel adding it

gpg: keyring `/tmp/tmpuz1jbvit/secring.gpg' created
gpg: keyring `/tmp/tmpuz1jbvit/pubring.gpg' created
gpg: requesting key BA9EF27F from hkp server keyserver.ubuntu.com
gpg: /tmp/tmpuz1jbvit/tru

[2017-11-02 22:44] MauleshSTrivedi commented on #191
Run: sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
[code]

[2017-11-02 22:45] MauleshSTrivedi commented on #191
Run: sudo add-apt-repository ppa:levi-armstrong/ppa

[code]

[2017-11-02 22:52] MauleshSTrivedi commented on #191
Installed PPA for toolchain uploads as directed by Issue #187
Output for confirming PPA installed correctly --

[code]

[2017-11-02 22:53] MauleshSTrivedi commented on #191
Run: sudo apt-get update && sudo apt-get install qt59creator

[code]

[2017-11-02 22:54] MauleshSTrivedi commented on #191
Run: "sudo apt-get install qt57creator-plugin-ros"

[code]

[2017-11-02 22:55] MauleshSTrivedi commented on #191
@130s Umm, I have no idea what happened back then, but it seems to have installed cleanly. I'm gonna test it out but looks like I can safely close the issue.

Thanks a lot for your help. Appreciate it.

[2017-11-02 22:55] #191 closed

[2017-11-02 22:59] 130s commented on #191
I have no idea what was wrong either, but software installation, even using binary, could easily mess up.
Glad that you solved your issue by yourself :)

[2017-11-03 16:24] Levi-Armstrong commented on #190
I am assuming the folder is empty is why it is not showing up. To add the file have you tried to just right clicking on any folder > Add New  then select file to add and select Chose then it will bring to another window where you can change the directory location on where to place the file and browse to the src directory. Then it should automatically show up.

Though empty folder use to show up bu

[2017-11-03 16:24] Levi-Armstrong opened #193 "Empty folder not showing in project tree."

[2017-11-03 16:31] Levi-Armstrong commented on #176
I would recommend cloning this repository and use the setup script to build everything local for the version you need. It works well and you can specify the Qt Creator Branch and the ROS plugin branch and it will build and create a desktop icon with the version label.

[2017-11-03 22:09] rachillesf opened #194 "Can't close a node after roslaunch by "Run" button"
Hi,
I'm having a problem where I can close a node after executing it with the "Run" button in the bottom left corner. There is no terminal window that I can open and there is no "Run in terminal" option available in the project configuration.

Thanks

[2017-11-03 22:13] rachillesf commented on #194
Just find out a ROS Terminal tab in the bottom menu, that one was quick!

I'm closing the issue,
Thanks

[2017-11-03 22:13] #194 closed

[2017-11-04 12:26] HubertWelp commented on #190
Thank you for that workaround. The folders now appear in the project tree. But the added files are still not recognized as being part of the project. After adding a new file the warning "This file is not part of any project." still appears and there are no appropriate build-entries for this file in the CMakeLists.txt. I suppose the plugin is intended to maintain the CMake files?!

[2017-11-04 18:56] Levi-Armstrong commented on #190
Currently it is still up to the user to add the file to the CMakeLists file. Though this is a planned feature.

I have not seen the message you are referring to. Do you mind providing how I may recreate the message and where does it appear?

[2017-11-04 20:46] Levi-Armstrong commented on #189
Addressed by #192 and #195

[2017-11-04 20:46] #189 closed

[2017-11-05 12:02] HubertWelp commented on #190
For getting the warning proceed as follows: after creating a workspace and a package right-click on the src-folder of the package > add new ... > select i.e. Basic Node >  Choose > select Name and Path of the src-folder of the package > Next > Finish.
The complete warning says: "This file is not part of any project. The code model might have issues to parse this file properly." The warning appears

[2017-11-05 12:52] lhzlhz opened #196 "How to import a package to the QtCreator(have install ros_qtc_plugin) which create by "catkin_create_qt_pkg" command in terminal?"
- Hello, I create a package through the command "catkin_create_qt_pkg" in the terminal, but I don't know how to import the pacakge to the QtCreator.

- I search on the net, some way to solve the question by "New File or Project>>Import Project>>ROS WorkPlace" to import the package. But I know the latest version of ros_qtc_plugin doesn't have the menu of "New File or Project>>Import Project>>ROS Wo

[2017-11-05 18:10] Levi-Armstrong commented on #196
You only need to import the workspace. After the workspace is imported it monitors the src directory for any new files/directories and when items are added either using the terminal or Qt Creator is see that a new object was added and adds it to the project tree,

[2017-11-05 18:13] Levi-Armstrong commented on #190
Oh, I believe this warning is normal. It will go a way once the file is added to the CMakeLists file and you build the project. The code model gets built after every build and it parses particular file from the build directory to generate the code model.

[2017-11-05 18:29] HubertWelp commented on #190
Yes, but the last sentence in my comment above holds also for files that I did not add to the CMakelistss file.

[2017-11-06 06:47] lhzlhz commented on #196
Thanks for your reply.
    I try to use the "New Project->>Ohter Project->>ROS Workspace" to import the workspace to the Qt Creator, and then to build it. It has some errors, like the picture down.
![image](https://user-images.githubusercontent.com/32038764/32428129-300b01a4-c2ff-11e7-8364-805d37de0bf0.png)
    I try to create the qt package in the terminal again(use the command of "catkin_create_

[2017-11-06 12:19] praveenputhettu opened #197 "Can't use qt3D libraries inside qt Ros"
I am trying to visualize the data using qml3D. But unable to link the required libraries.
I don't know whether this is possible..

[2017-11-06 12:44] Levi-Armstrong commented on #197
Is this a standalone application or are you writing a plugin for an existing ros utility like Rviz?

[2017-11-06 12:51] Levi-Armstrong commented on #196
You will need to add `sudo add-apt-repository ppa:ubuntu-toolchain-r/test` this ppa to get the 4.9. I just merged a PR that updates the documentation that adds this line and should have it published soon.

As for the build errors, does it build from the terminal after you clean it?

[2017-11-06 13:05] lhzlhz commented on #196
Yes, in Ubuntu-16.04.3 ROS Kinetic, I create a new qt package in the terminal, then build it. It has errors in the picture 2.

[2017-11-06 13:24] Levi-Armstrong commented on #196
OK, there error is related to BOOST_JOINT are you using boost within your GUI? If so I would start there.

[2017-11-06 13:25] Levi-Armstrong commented on #190
I will look into further and see what I can find out.

[2017-11-06 13:41] lhzlhz commented on #196
I check the package just now,  I don't find something about boost. The package is created by the command "catkin_create_qt_pkg", and I don't modify a little.

[2017-11-06 15:34] lhzlhz commented on #196
I have test on three computers(Ubuntu-16.04.3+ROS-Kinetic), and the result are same.
My setup:
Win10 + VMware14.0.0(Ubuntu-16.04.3 + ROS-Kinetic)
The test steps:
![image](https://user-images.githubusercontent.com/32038764/32447771-f3a59028-c347-11e7-96a1-d9c45b904947.png)
![image](https://user-images.githubusercontent.com/32038764/32447824-1ca9df38-c348-11e7-957d-c62145fdec33.png)
The same operate

[2017-11-07 02:03] lhzlhz commented on #196
I search the errors on the net, and find a way to solve the problem.
http://blog.csdn.net/h321654/article/details/54582341
The steps:
1. sudo gedit /usr/include/boost/type_traits/detail/has_binary_operator.hpp
2. Modify "namespace BOOST_JOIN(BOOST_TT_TRAIT_NAME,_impl) {...}" to
"
#ifndef Q_MOC_RUN
namespace BOOST_JOIN(BOOST_TT_TRAIT_NAME,_impl) {
#endif
....
#ifndef Q_MOC_RUN
}
#endif
"
And then b

[2017-11-07 06:45] praveenputhettu commented on #197
This is a standalone application which I am building by using ros packages in qt. Currently I am able to visualize data in 2D.
I installed the ros_qtc_plugin from here :  http://ros-industrial.github.io/ros_qtc_plugin/_source/-Install-Users.html
Currently I am trying to use qt 3D capabilities for visualizing data's generated by the ros packages. When i include the files 'import Qt3D.core 2.0 ' in

[2017-11-07 13:21] Levi-Armstrong commented on #197
What version of Ubuntu are you on?

[2017-11-07 13:22] Levi-Armstrong commented on #196
Glad to here you found the issue.

[2017-11-07 13:22] #196 closed

[2017-11-08 02:44] praveenputhettu commented on #197
Ubuntu 16.04

[2017-11-08 03:48] Levi-Armstrong commented on #197
I have a few ideas,  first lets launch Qt Creator using this command `/opt/qt59/bin/qtcreator-wrapper` this will setup the necessary Qt environment variables. Then try cleaning the project and rebuilding the project.

[2017-11-08 04:12] Levi-Armstrong commented on #190
Ok, I have tested the process you provided and the warning showed up but removing and adding the file again did not make the warning go away for me. The only thing that caused it to go away was adding the file to the CMakeList file. I expected this because the project code model is built from a project file generated by CMake when the workspace is built and if you open a file with an extension ass

[2017-11-08 05:58] praveenputhettu commented on #197
I tried above procedure, but still has the errors.

The error details is as follows:
'by not providing "FindQt53DRender" in CMAKE_MODULE_PATH this project has asked CMake to find a package configuration file provided by "Qt53DRender", but CMake did not find one. Could not find a package configuration file provided by "Qt53DRender" with any of the following names: Qt53DRenderConfig.cmake, qt53drend

[2017-11-08 16:18] praveenputhettu commented on #197
A screenshot of the error is

![cmake_error](https://user-images.githubusercontent.com/33420537/32560006-82dd7dd2-c4ce-11e7-9197-752b508158e5.png)

[2017-11-08 21:00] Levi-Armstrong commented on #197
Can you look at your environment variable in the project tab on the left in Qt Creator. I would make sure that the /opt/qt59 related paths were added to the appropriate variables. To get the appropriate environment variables I recommend opening up this file `/opt/qt59/bin/qtcreator-wrapper` to see what it should of setup. I assume this issue is related to getting the environment setup correctly.

[2017-11-09 11:07] MrYelameli opened #198 "Unable to locate build directory for package: <package_name>"
Hi.. I am new to ROS. I am using ubuntu 14.04 and ROS indigo version. I have installed qt5.9 version.

 and then followed this link [http://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html](url)

and [http://ros-industrial.github.io/ros_qtc_plugin/_source/Setup-Qt-Creator-for-ROS.html](url)

And then followed this video [https://www.youtube.com/watch?v=GqBzI7O9h8A](url)

I

[2017-11-09 13:21] Levi-Armstrong commented on #198
What type of error; is it a segfault, error printed out in the compiler window, etc? Also if you can provide a screen shot Qt Creator with the error this may help.

[2017-11-10 01:26] MrYelameli commented on #198
Hi.. Thanks for your reply. I am trying again by removing everything and installing again. I just uninstalled ROS. How to remove qtcreator ros completely which I installed by referring [http://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html](url).

I will install again ROS and then qtcreator plug in, I hope it works then. Waiting for your reply. Thank you.

[2017-11-10 02:51] MrYelameli commented on #198
I couldn't understand so I uninstalled ROS and qt and installed it again. So now my problem is [http://ros-industrial.github.io/ros_qtc_plugin/_source/Setup-Qt-Creator-for-ROS.html](url) in this link under **Setup Clang Formatting** at step number 8 when type "Clang", there is no New Tool to pull up. I have already followed the step 1 to 5 and installed Clang formatting. I send you screen short To

[2017-11-10 05:23] EdXian opened #199 "Can we use "WebEngine" and "Data Visualization" in this Qt version?"
Hi , @Levi-Armstrong
Can we add `WebEngine` and `Data Visualization` module into our ROS project?
That is to say,I want to install Qt community version and add `qt57creator-ros-plugin` to it.
Any idea?
Thanks

[2017-11-10 13:21] Levi-Armstrong commented on #199
If you follow the install procedure it will install the necessary qt libraries for Qt 59. They get installed into /opt/qt59 directory for which you will need to use qt tools `qtchooser` to add it as a version if you want to develop with it and easily switch between different version.  Also I am not sure if the libraries you mentioned are automatically installed when installing Qt Creator but they

[2017-11-10 13:32] Levi-Armstrong commented on #198
The wiki is missing a step when setting up a new tool. You need to name the tool, the default is `New Tool` and you should rename it something like `Clang-Formatting`. Then when searching Clang it will show up. Also I have been using the plug-in Beautifier which provides more option for using clang formatting. You will need to enable the plugin under Help>About Plugins and load it by selecting the

[2017-11-10 14:16] EdXian commented on #199
Hi @Levi-Armstrong ,
First , thanks for your advice.
I had successfully used webengine in the previous qt57creator-ros-plugin (see [here](https://github.com/EdXian/ROS_QT_GUI/blob/master/googlemap/CMakeLists.txt)).  however , I got error as follwing after update to this version:
[code]
It seems that cmake can find module like `Widgets`   `Network` ... but cant find the `Webengine` because the wron

[2017-11-10 16:23] Levi-Armstrong commented on #199
OK, So I had to make a change because by default when loading Qt Creator 57 it would load environment variable that would pointing to /opt/qt57 and this caused issues when building rviz plugin because ros is build with a different version. So I remove this so it does not automatically set up your environment to point to a particular version of Qt libraries. Try launching Qt from the terminal using

[2017-11-10 17:59] EdXian commented on #199
@Levi-Armstrong
It works fine for me again!! Now I can use both datavisualiztion and webengine in my ROS project.
Thank you very much.

[2017-11-10 18:00] #199 closed

[2017-11-10 20:27] Levi-Armstrong commented on #199
Glade to hear!

[2017-11-13 01:50] MaxWattage opened #200 "Software Updater failed (ROS plugin for Qt Creator IDE, Terminal emulator widget for Qt 5.9)"
Hi,
I'm running Ubuntu 16.04.3 LTS (xenial) and today my software update process failed.
Details of updates:
    ROS plugin for Qt Creator IDE
            Changes for qt57creator-plugin-ros versions:
            Installed version: 0.1.6-0xenial1
            Available version: 0.1.8-0xenial3
    Terminal emulator widget for Qt 5.9 (data files)
           Changes for qtermwidget59-data versions:

[2017-11-13 14:25] Levi-Armstrong commented on #200
I forgot to add a conflict in the debian with the older version of qt57termwidget. Uninstall qt57termwidget and the try installing the plugin again.

[2017-11-13 15:06] MaxWattage commented on #200
You will see from my posting that  "Installed version: None",
i.e. I don't currently have any version of qt57termwidget installed for me to uninstall.

I checked in "Synaptic Package Manager", and it can find no reference to a qt57termwidget package.

[2017-11-13 16:39] Levi-Armstrong commented on #200
Sorry qt57termwidget-data need to be uninstalled.

[2017-11-13 16:41] Levi-Armstrong commented on #200
If that does not work perform a force install.

[2017-11-13 16:57] MaxWattage commented on #200
Can you give specific instructions on how to do this?

I tried:
- sudo apt-get update
- sudo apt-get install qt57termwidget-data
Which resulted in...
- Reading package lists... Done
- Building dependency tree
- Reading state information... Done
- E: Unable to locate package qt57termwidget-data

NB: I did a search, and there is no package called "qt57termwidget-data" (or anything similarly named) s

[2017-11-13 19:10] Levi-Armstrong commented on #200
try `sudo apt install -f`

[2017-11-13 19:18] MaxWattage commented on #200
sudo apt-get install -f qt57termwidget-data
- Unable to locate package qt57termwidget-data

If the package can't be found, then "force" isn't going to help.

[2017-11-13 19:32] Levi-Armstrong commented on #200
try it without the library name `sudo apt-get install -f` if that does not work try `sudo apt-get install -f qt57creator-plugin-ros`

[2017-11-13 21:28] MaxWattage commented on #200
Well, that borked things.
Software update now says everything is up to date, however...
Qt 5.7.1 Creator now just gives "There was an error launching the application" when you try and open it.

Attempting to re-install Qt 5.7.1 Creator gives the following:
sudo apt-get update && sudo apt-get install qt57creator
Some packages could not be installed. This may mean that you have
requested an impossib

[2017-11-13 21:34] MaxWattage commented on #200
PS:
dpkg --get-selections | grep hold
returns nothing, so I assume this means there are no held packages.

[2017-11-13 23:21] Levi-Armstrong commented on #200
OK, try this below.

[code]

[2017-11-14 00:01] MaxWattage commented on #200
Worked a treat!
Thanks

[2017-11-14 01:48] Levi-Armstrong commented on #200
Great

[2017-11-14 02:19] weijiav opened #201 "include file"
After the installation of apt, you can compile the file package normally, but open the cpp file, all the include files have red line below, can not find the relevant header files. How to solve this problem?

[2017-11-14 02:24] weijiav commented on #201
ubuntu 16.04.3

[2017-11-14 13:15] Levi-Armstrong commented on #201
Assuming you followed the wiki and opened the workspace as a ros project there is usually two reasons why the headers are not being found. The first is the project has not been built within the Qt Creator. The second is the library or package is not added to the CMakeLists.txt or the package.xml.

[2017-11-15 12:23] Levi-Armstrong commented on #190
@HubertWelp How is everything working?

[2017-11-16 12:37] Levi-Armstrong commented on #198
@MrYelameli were you able to get everything working?

[2017-11-17 11:25] marketto89 opened #202 "Problem with ros_qtc_plugin installation - Ubuntu 16.04.3"
Hey there,

I am having troubles installing QtCreator on Ubuntu 16.04 following the wiki [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html#installation-procedure-for-ubuntu-16-04).

Here is what I am seeing:

[code]

I also tried `apt-get install -f` which does not seem to solve the issue:
[code]

Am I doing something wrong?

[2017-11-17 12:34] Levi-Armstrong commented on #202
Try the commands below. I

[code]

[2017-11-17 12:47] Levi-Armstrong commented on #202
I found the issue in the Debian, the conflict for `qtermwidget57-data` was misspelled. I just pushed new version of them and they should be published in about 30 minutes but the command above should solve the issue.

[2017-11-17 13:14] Levi-Armstrong commented on #202
Ok there are published so you can perform an update and try to reinstall.

[2017-11-17 13:16] Levi-Armstrong commented on #200
I just fixed the Debian adding a conflict qtermwidget57-data.

[2017-11-17 13:16] #200 closed

[2017-11-17 13:30] marketto89 commented on #202
Thanks for your help, it works!

This is what I've done:
1) From Synaptic Complete Removal of libqtermwidget59-0 (it was broken and `apt-get install -f` didn't help)
2) `sudo apt-get remove --purge '^qt57.*'`
3) `sudo apt-get remove --purge '^qt59.*'`
4) re-installed following [the wiki](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html#installation-procedure-for-ub

[2017-11-17 13:30] #202 closed

[2017-11-17 14:22] Levi-Armstrong commented on #202
Great! Hopefully with the fix to the Debian it will not be an issue for other developers.

[2017-11-19 08:46] HadiMohamadi opened #203 "Missing Import ROS Workspace in Qt 4.4"
Hi
I've installed Qt Creator 4.4.1 (qt 5.9.2) in Ubuntu 14.04 LTS. Then followed [this](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html) Installation guid.
Everything installed correctly with no error, But still there is no " Import ROS Workspace " option in Qt. I can not find " ROS Project Manager " in installed plugins either.

[2017-11-19 13:29] Levi-Armstrong commented on #203
Did you install Qt Creator from Qt website?

[2017-11-19 13:34] Levi-Armstrong commented on #203
Actually looking at the version I am almost certain you have. I maintain my own version at the moment until we can get an installer created for this. To lainch my version of Qt Creator try '/opt/qt59/bin/qtcreator' then lock it to the taskbar.

[2017-11-19 14:30] HadiMohamadi commented on #203
I installed it using Qt Creator online installer. Actually when i lunch Qt with desktop icon, There is no `Import ROS Workspace` or `ROS Workspace` option, But When i use `qtcreator-ros` command, `ROS Workspace` is placed under `other project`.

[2017-11-19 16:02] HubertWelp commented on #190
I haven't done a lot of further testing. But in accordance with your testing I couldn't reproduce the behavior which I described as "this warning doesn't appear again if I completely remove the file and add a new file with the same filename".

[2017-11-19 19:44] oxoocoffee opened #204 "Create ROS QTC installer"
I am in process adding qt installer option. I will post more final information and PG when ready.

[2017-11-19 19:49] oxoocoffee commented on #197
Levi
I am in process updating setup script to add desktop icon with option reading shell variables. As we all know Qt creator build with setup and Qt official installer does not read your .bashrc. I will have PR shortly.
I would be interested if building your project from Terminal builds fine? That would be indication of such issue.

[2017-11-19 20:10] oxoocoffee commented on #203
I have same use case. For that reason I am updating project to have enable qt installer creation package. It should be available soon. Watch for PR. We will update Wiki with necessary steps when ready.

[2017-11-20 12:39] Levi-Armstrong commented on #203
@HadiMohamadi The reason is the current plugin is not compatible with the version install using Qt Creator Online Installer. When following the install instructions you added two ppa's one to my version of all of the Qt Libraries and the other to the plug-in. When installing the plugin it installs a version of Qt Creator in /opt/qt59 directory and creates the qtcreator-ros. If you had not installe

[2017-11-21 13:33] Levi-Armstrong commented on #201
@weijiav Are you still having issues?

[2017-11-21 13:36] #190 closed

[2017-11-21 13:37] weijiav commented on #201
Thank you very much. I reinstall the system, and the problem is solved.

[2017-11-21 14:48] Levi-Armstrong commented on #201
Great!

[2017-11-21 14:48] #201 closed

[2017-11-22 19:51] Levi-Armstrong commented on #204
I think I found Qt's packaging tool. We may follow the structure but there looks way more involved than what this would need.
http://code.qt.io/cgit/qtsdk/qtsdk.git/tree/packaging-tools

[2017-11-24 07:01] MaZhengg commented on #203
Hi, here is a problem. so we can NOT compile the .pro project in your version Qt creator? Cause  when i open and compile the project with some file(earlier created in the .pro project and compile successed)  in your version of Qt Creator, some of the head files cannot find. If this situation is right, is there any way to meet an emergency, such as include some head files manually? thanks

[2017-11-25 16:13] duonglacbk commented on #147
I install Qt59 with ros plugin but when I create a "new ros package" in tab ROS, the Qt is not responding and close. I think Qt59 may have some errors. Please help me!

[2017-11-25 16:31] Levi-Armstrong commented on #147
Please provide step by step procedure to I may try and recreate the issue on my end?

[2017-11-25 16:34] Levi-Armstrong commented on #203
Can you provide an example so I may recreate the issue on my end?

[2017-11-26 15:12] duonglacbk commented on #46
Sorry for late reply, I have been reinstall Ubuntu and Qt ros
1. I completed installing Ros plug in for Qt59 as this instruction:

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt update && sudo apt install qt59creator
sudo apt install qt57creator-plugin-ros

2. I create a new ROS package:
![1](https://user-images.githubusercont

[2017-11-26 15:15] duonglacbk commented on #147
Sorry for late reply, I have been reinstall Ubuntu and Qt ros
1. I completed installing Ros plug in for Qt59 as this instruction:

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt update && sudo apt install qt59creator
sudo apt install qt57creator-plugin-ros

2. I create a new ROS package:
![1](https://user-images.githubusercont

[2017-11-26 15:21] Levi-Armstrong commented on #147
Ok have you created/imported your ros workspace prior to creating the package? The reason I ask is the path specified when creating the paclate looks like your home directory.

[2017-11-26 15:39] duonglacbk commented on #147
Dear Levi-Armstrong,

That exactly as you predict. I didn't make a ROS workspace so that Qt can't create the Package in that
workspace.

Thank @Levi-Armstrong  so much,
Best wish for you!

[2017-11-26 17:26] Levi-Armstrong commented on #147
Great! I will create an issue to add a check and give an error message.

[2017-11-27 09:09] MaZhengg commented on #203
Well, it was a mistake myself, sorry.  Now I should ask in another way. If i want to compile the ros workspace using some head files of Qt, what should be done to the CMakeList.txt file to include the QtCore QtNetwork as the dependencies? thanks

[2017-11-27 13:41] drorerezprivate opened #205 "current appropriate version for qt creator ROS plugin"
I installed the qt creator and the ROS plugin as explained in -
https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html
That installed qt creator 4.4.1 based on qt 5.9.1.

Now, it seems that the user interface is not exactly the same as in the video tutorial.
The main difference is that the ROS workspace can be created from "other project", rather than from "import projec

[2017-11-27 14:33] Levi-Armstrong commented on #205
Sorry, the videos are a little outdated from the current version but should more or less follow the same sequence of steps. Once you went through the import/create process the src folder does not show in the tree because it is empty but right click on the main folder at the top and add new but then update the path to the src folder. This has been logged as a bug because something in qt creator cha

[2017-11-27 15:53] drorerezprivate commented on #205
Thanks.
I create a package and I see the new folder and the CMakeLists  being
created in the files browser, but can not see nothing in the qt.
I didn't understand how to update the path to the src folder.

Additionally, and more important - there is no CMakeLists neither a src
folder in the root.

Any suggestions?
Thanks

On 27 November 2017 at 16:33, Levi Armstrong <notifications@github.com>
wrot

[2017-11-27 16:12] drorerezprivate commented on #205
OK, got a semi solution.
I created manually an src folder under the project folder.
Then moved manually the new package into it and then performed a Build.
It seems now that the environment was created right but still nothing
appears at the qt.
So I closed the project and reopened, and it is there.
From now on, it seems ok, packages are created, shown and catkin make works.
Only the first CMakeLis

[2017-11-27 17:02] Levi-Armstrong commented on #205
The root CMakeLists file will be missing if you are building with catkin tools instead of catkin_make. Are you building with catkin tools?

[2017-11-27 17:25] drorerezprivate commented on #205
No.
It is catkin make which i am using.
I tried adding a cpp file within a package within the project, and the
catkin make do not recognize it...

בתאריך 27 בנוב׳ 2017 7:02 אחה״צ,‏ "Levi Armstrong" <notifications@github.com>
כתב:

[2017-11-27 19:23] Levi-Armstrong commented on #205
I just ran into this myself. Make sure you add a src folder to the workspace before proceeding. I will need to add a check for this.

[2017-11-27 22:10] drorerezprivate commented on #205
Got it, and it really seems ok.
BUT - the cpp files which I write, are not recognized by the compiler.
I think that the relevant CMakeLists files are not updated for some reason.
Attached is a screen shot which explains everything.
Please refer to -
*1. The warning above: This file is not part of any project..... I added
the file using the plugin menus but that message is always there. It is the
s

[2017-11-28 05:42] Levi-Armstrong commented on #205
The code model is not updated until you build the project. Once you add the files to the cmakelists and build it should be recognized and the warning will go away.

[2017-11-28 06:24] drorerezprivate commented on #205
But i sent the build log....
It doesnt work

בתאריך 28 בנוב׳ 2017 7:42 לפנה״צ,‏ "Levi Armstrong" <
notifications@github.com> כתב:

The code model is not updated until you build the project. Once you add the
files to the cmakelists and build it should be recognized and the warning
will go away.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHu

[2017-11-28 06:35] drorerezprivate commented on #205
I read again your answer.
Do i need to manualy add the new files to the relevant CMakelists file?
Doesnt the plugin do it for me?

בתאריך 28 בנוב׳ 2017 8:24 לפנה״צ,‏ "Dror Erez" <dror.erez.private@gmail.com>
כתב:

[2017-11-28 13:42] Levi-Armstrong commented on #205
Yes you will need to manually add them to the CMakeLists file. Currently it does not handle this, but in the future it may for some file types.

[2017-11-28 13:53] Levi-Armstrong opened #206 "Creating a new workspace without src folder fails to create the workspace."

[2017-11-28 13:55] Levi-Armstrong opened #207 "Need to check path when creating package that it is in a workspace."
This currently cause a segfault if the user try to create a package in a directory not in a workspace.

[2017-11-28 15:00] drorerezprivate commented on #205
Ok.
Thanks a lot

בתאריך 28 בנוב׳ 2017 3:42 אחה״צ,‏ "Levi Armstrong" <notifications@github.com>
כתב:

[2017-11-29 09:03] CrazyPopLin opened #208 "Can't see the "Import ROS Workspace" in Import Project section"
Hi, I am installed Qt 5.9.2 and Qtcreator firstly from official offline installer. Everything works fine. Then installed **ros_qtc_plugin** follow [wiki](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html).
Open qt59creator.desktop, I can see **ROS Workspace** in Other project section, but no **Import ROS Workspace** in Import Project section as pics shown below.

**

[2017-11-29 14:59] Levi-Armstrong commented on #208
I assume you followed the instruction from the video which is a little outdated. It was recently moved to the "Other Project" section.

[2017-11-30 02:57] CrazyPopLin commented on #208
I mean **Import ROS Workspace** not in **Import Project** section, please see my 2th picture poseted above. I can't import existing ROS workspace. thanks

[2017-11-30 03:06] CrazyPopLin commented on #208
I see, you've changeed **Import ROS Workspace** to **Create New ROS Project**

[2017-11-30 05:22] #208 closed

[2017-12-06 12:03] fabolhak opened #209 "Wrong environment variables on a multiuser system"
Hello,
thank you for the great plugin. It is very useful and helps a lot. Unfortunately we have some problems on our multi-user machine. Somehow the build environment variables gets mixed up and includes paths from other or multiple users (see screenshot). We have our own workspaces in each home directory, but the plugin somehow adds paths even from other users workspaces to the build environment

[2017-12-06 12:40] Levi-Armstrong commented on #209
That is interesting. Could you try opening a terminal and source the ros and your workspace bash file and then print out the environment and see if you see the same thing?

[2017-12-06 12:55] fabolhak commented on #209
Hey, thank you for your fast reply. The ros environment variables seem to be find. After `source /opt/ros/kinetic/setup.bash` and `source /home/fabian/catkin_ws/devel/setup.bash`. I get the following env variables:
[code]

Our .bashrc has the following entries:
[code]

[2017-12-06 12:57] fabolhak commented on #209
I also noticed: When I manually edit the build environment variables or add a new variable in the QtCreator ROS project, then these changes are gone after reloading the project.

[2017-12-06 15:05] Levi-Armstrong commented on #209
Yea, it current does not support user changes. It under the hood sources the workspace for you and update the Qt Environment.
Can  you tried re-importing the workspace under a different name and see if the environment is the same?

[2017-12-06 23:01] fabolhak commented on #209
I did some more tests restarting the system several times: Apparently it matters which user opens the project in QtCreator first after a restart. This workspace path is then being used in the environment variable paths for all other users as well.

Sometimes we managed to get several workspace paths in the environment vars (see screenshot above). But I didn't find a way to reproduce this yet.

[2017-12-07 14:08] Levi-Armstrong commented on #209
Let try creating a new project for the same workspace directory but just give it another name. You will end up with two .workspace and .workspace.user files. Then see if the issue goes away. You may need a separate file for each user in the interim until we can figure out why this is happening.

![image](https://user-images.githubusercontent.com/9803128/33718703-ee336ffe-db23-11e7-8cb9-6fa80413ec5

[2017-12-07 14:11] Levi-Armstrong commented on #209
**Note:** there should be multiple places because each build configuration(Debug, Release, etc) has its own environment.

[2017-12-08 13:44] klapetos opened #210 "Warning: This file is not part of any project."
There is the following warning on the top side of the text editor:
![image](https://user-images.githubusercontent.com/16204660/33768303-27147542-dc2e-11e7-8bc6-864c55994471.png)

- I have installed the ros-qtcreator following the proposed steps from Wiki.
- I have created the catkin workspace with Catkin Tools build system.

I think due to this issue the text parsing is very slow.
Have seen someth

[2017-12-08 16:36] Levi-Armstrong commented on #210
This occurs if the file in question has not been added to the CMakeLists.txt file and built. Have you added the file and built the project?

[2017-12-08 16:52] klapetos commented on #210
Yes, of course, this warning comes in every .cpp or.h file that I edit.

[2017-12-08 16:56] Levi-Armstrong commented on #210
The warning should go away after adding it to the add_executable(); have tried to closing the file and reopening it?

[2017-12-08 17:18] fabolhak commented on #209
Hello, thank you for the reply. I'm not sure if I understand your instructions correct, but this is what I did:

### setup
1. creating two usernames `test` and `fabian` on a Ubuntu system
2. creating different workspaces to test on:
=> personal workspace of `test`: `/home/test/catkin_ws`
=> personal workspace of `fabian`: `/home/fabian/catkin_ws`
=> shared workspace (both users have rw access): `/

[2017-12-08 17:18] fabolhak commented on #209
here are also all the project files: [project_files.zip](https://github.com/ros-industrial/ros_qtc_plugin/files/1543374/project_files.zip)

[2017-12-08 17:20] fabolhak commented on #209
If I modify anything in these files, then my changes will be overridden the next time I open the project in QtCreator 🙁.

[2017-12-08 17:26] fabolhak commented on #209
I also noticed that it is very different what environment variables are included in the ROS project.

For the `test` user the following vars are in the build environment:
![screenshot_2017-12-08_18-23-16](https://user-images.githubusercontent.com/20029691/33777468-3c937186-dc45-11e7-80fd-ed78870b8493.png)

For the `fabian` user the following vars are in the build environment:
![screenshot_2017-12-

[2017-12-08 18:04] xlan09 commented on #206
Thanks for fixing the bug, Levi. Just want to make sure here 'fail' means only files in `src` folder are shown in the project tree on the left panel. That's what I saw after installing ros_qt_plugin in a new machine.

[2017-12-08 19:07] klapetos commented on #210
Yes, this happens for all the code files inside workspace.

[2017-12-09 01:02] Levi-Armstrong commented on #209
Thanks for the test cases. I will look into it and see what I can figure out.

[2017-12-09 01:06] Levi-Armstrong commented on #210
If you check in the build directory for a given package to see a file called<package_name>.cbp?

[2017-12-09 23:40] Levi-Armstrong commented on #206
Are you referring to the workspace src directory? That the build, devel, etc do not show in tree?

[2017-12-11 02:39] vincent-hui opened #211 "ros_qtc_plugin cannot be built with Qt Creator 4.5"
ros_qtc_plugin cannot be built with Qt Creator 4.5 because some signals and functions were remove.

[2017-12-11 09:05] klapetos commented on #210
Yes

[2017-12-11 14:54] Levi-Armstrong commented on #210
Ok are you able to create an example workspace that recreates the issue that I can use?

[2017-12-11 19:32] xlan09 commented on #206
Sorry, I should specify. My project has a weird project structure(some legacy code). So basically I want the project tree panel to show all the folders and files inside the same folder with the `.wokspace`. That's basically the `src` folder of my project. I could create a `src` folder and put everything inside the `src` folder, then create a workspace in the same folder containing the new `src` fo

[2017-12-11 20:38] Levi-Armstrong commented on #206
Oh open the .workspace and add additional directory tags with the directories you want to show. I hope there is not to many, if dso I can add an additional tag indicating show all directories.

[2017-12-12 01:40] xlan09 commented on #206
ahh, nice, thanks, Levi. I will use that trick for now. But in the future it would be nice if you could add a tag like that. Not sure how many people will use it. I guess it does not hurt if it is not lots of work.

[2017-12-12 01:52] victorwhwu opened #212 "Ubuntu 16.04.3 ROS Kinetic installed Qt Creator and ROS Plugin do not see option to import ROS projects"
I followed the most recent instruction to install the ROS plugin for Qt Creator. It shows ROS project option when trying to create new project but do not have ROS project option when try to import project. I just follow the videos in Youtube but the interface looks different!

[2017-12-12 03:02] Levi-Armstrong commented on #212
Sorry it was recently moved to other projects.

[2017-12-12 04:04] victorwhwu commented on #212
After I added a new package it does not create the two necessary directory of src and include !

[2017-12-12 04:57] Levi-Armstrong commented on #211
Thank you for the reminder, I see that Qt Just release 4.5 so we will work on the upgrade to the plugin.

[2017-12-12 06:01] Levi-Armstrong commented on #212
It executes the the command line tool catkin_create_pkg so you must add the Carlin depend roscpp for those folders to get created. You may also create the folder when adding a new file in Qt Creator.

[2017-12-12 08:35] klapetos commented on #210
When I am creating a new clean workspace with a new package, there is no warning.
So maybe something is going wrong with my workspace.

Thank you for your help and your immediate response!

[2017-12-12 19:32] Levi-Armstrong commented on #210
No problem. Have you by chance tried deleting the build and devel along along with the .workspace and .workspace.user files, then import the workspace again?

[2017-12-13 01:13] victorwhwu commented on #212
I certainly did add roscpp as one of the dependencies when adding the new package but it did not create the two folders for me. When I add the .cpp file and choose the path to be under an src folder, when the editor started it gave the warning: This file is not part of any project. The code might have issues to parse this file properly.

[2017-12-13 05:02] Levi-Armstrong commented on #212
Ok, so currently empty folder no longer show in the tree which is flagged by another issue. The folders should be in the directory since you added roscpp as a depend. The warning will show up until it is added to the cmakelists file and the workspace is built.

[2017-12-13 05:43] victorwhwu commented on #212
So when will the .cpp file be added in the cmakelists.txt or rather how to add it into the cmakelists? Or do I have to add it into cmakelists manually?

[2017-12-13 06:41] Levi-Armstrong commented on #212
You will need to add files manually to the cmakelists file.

[2017-12-13 07:38] victorwhwu commented on #212
Would it be very difficult to add these file names into the CMakeLists.txt file?

[2017-12-13 17:11] Levi-Armstrong commented on #212
Pull requests are always welcome.

[2017-12-14 00:34] victorwhwu commented on #212
I have decided to give up on Qt. Thank you for all your effort and help. All the best.

[2017-12-14 00:34] #212 closed

[2017-12-14 12:00] QiuYilin opened #213 "Is there any complete tutorial about how to install this plug-in?"
sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt update && sudo apt install qt57creator
sudo apt install qt57creator-plugin-ros

I run these command but it doesn't work.

[2017-12-14 14:54] Levi-Armstrong commented on #213
What error did you receive?

[2017-12-14 14:56] Levi-Armstrong commented on #213
Not sure if this is the issue but the instruction also show installing this libqtermwidget57-0-dev.

[2017-12-14 15:42] Levi-Armstrong commented on #198
No response

[2017-12-14 15:42] #198 closed

[2017-12-14 15:43] Levi-Armstrong commented on #203
Resolved

[2017-12-14 15:43] #203 closed

[2017-12-14 15:43] Levi-Armstrong commented on #205
Resolved

[2017-12-14 15:43] #205 closed

[2017-12-14 15:46] drorerezprivate commented on #205
Thanks 😊

בתאריך 14 בדצמ׳ 2017 5:43 אחה״צ,‏ "Levi Armstrong" <notifications@github.com>
כתב:

[2017-12-14 15:50] Levi-Armstrong commented on #212
Sorry to hear that. There are several IDE's out there like Eclipse and CodeBlocks which which manage it as CMake project where each package is a separate project. You will need to generate project files using the available cmake utilities.

[2017-12-15 20:53] nathangeorge1 commented on #213
I'm going to be working on a complete tutorial within the next month or two @QiuYilin; sorry for the delay @Levi-Armstrong

[2017-12-15 20:55] nathangeorge1 opened #214 "Outline View on Top Sidebar"
Hey @Levi-Armstrong,

Is there a way to move the outline view from the sidebar to the top bar? Currently, it says "# manipulation|manipulation" in the section where it used to show the outline view (I don't know what it's used for currently either, just cycling through and old names)

![image](https://user-images.githubusercontent.com/2744891/34060073-235c8cbe-e1b0-11e7-9e52-b5cf4ec0cd49.png)

Tha

[2017-12-15 21:09] Levi-Armstrong commented on #213
Thats great to here, will you be adding it to the Sphinx documentation?

[2017-12-15 21:12] Levi-Armstrong commented on #213
[documentation location](https://github.com/ros-industrial/ros_qtc_plugin/tree/4.4/gh_pages)
[Result](https://ros-industrial.github.io/ros_qtc_plugin/)

[2017-12-15 21:47] Levi-Armstrong commented on #214
The "Outline View" moving to the top bar, I believe it is still there. On my screen it is to the right of the  "# manipulation|manipulation" and says **<Select Symbol>** but if you drop it down it shows the Outline View. Ah, I just tested mine and it is because your screen is two small to show it ans in my case two. If you remove the second editor window or shrink down the sidebar it will show bac

[2017-12-15 23:03] nathangeorge1 commented on #213
I plan to; but learning HTML again will take some time

[2017-12-16 03:28] Levi-Armstrong commented on #213
Oh the great thing about Sphinx is you don't need to know HTML. It use Markdown or Restructured Text (I prefer this because you have better features) and then sphinx handles everything converting it to HTML, formating, ect. . I usually use the github wiki to write it then I save the content to a file and place it in this [directory](https://github.com/ros-industrial/ros_qtc_plugin/tree/4.4/gh_page

[2017-12-16 03:38] Levi-Armstrong commented on #193
Just figured it out. Qt add filter option to the tree view and by default it is set to hide empty folders. Select the item in the circled in red and uncheck the box for "Hide Empty Folders".

![image](https://user-images.githubusercontent.com/9803128/34067041-3532e516-e1e0-11e7-84b7-f2237b0f8fa1.png)

[2017-12-16 03:39] Levi-Armstrong commented on #193
I will this open until it gets added to the wiki.

[2017-12-19 01:06] nathangeorge1 commented on #213
Ok; I'll do it the same way as you do it then

[2017-12-19 14:18] nathangeorge1 commented on #214
Is there a way to remove this syntax highlighting dropdown from the top bar so that I can still use split view? I removed the outline from the side, but only when i remove the split will the outline view appear on the top bar.

[2017-12-19 14:33] beetleskin opened #215 "Support partial build"
With the current catkin build setup, I don't see a possibility to trigger a partial build of a single package. Often I only want to build the package, I'm currently editing. With a custom build step, I achieved this with:

**comamnd**: `catkin`
**arguments**: `build --this --no-deps --no-status`
**working directory**: `%{CurrentDocument:Path}`

[2017-12-19 14:42] Levi-Armstrong commented on #215
Based on the description you provided, I believe you may not be using this plugin. You should see this below and you would put the package name under catkin tools arguments.

![image](https://user-images.githubusercontent.com/9803128/34162175-60543258-e498-11e7-822e-a33e9088d5d7.png)

[2017-12-19 15:00] beetleskin commented on #215
Hi Levi, thanks for the fast reply.

I want to automate the "put the package name under catkin tools arguments"-part by setting the **working directory** to `%{CurrentDocument:Path}`. This way, I only build the package belonging to the file that is currently opened. However, selecting the working directory seems not to be supported by your CatkinTools build setup mask. And I don't know another way

[2017-12-19 15:30] beetleskin opened #216 "Hide .git folder in the project view"
With plain Qt, I'd hide the .git folder within the individual packages. This seems not to be possible anymore with this plugin.

[2017-12-19 15:52] Levi-Armstrong commented on #214
I am not sure, I would look under setting for the text editor.

[2017-12-19 15:56] Levi-Armstrong commented on #215
Let me know if I understand correctly, you want the build to only build the package related to the open file?

[2017-12-19 16:02] nathangeorge1 commented on #214
I checked there but I didn't find anything about editing the toolbar. Googling also didn't show anything. I'll assume there isn't a way to remove the syntax highlighting option from the toolbar.

[2017-12-19 16:03] #214 closed

[2017-12-19 16:03] Levi-Armstrong commented on #216
So plain Qt manages the tree differently than ros because we have a lot of files that are not always in the CMakeLists file so I treat it as a folder tree. Current the Project Tree supports filters which I plan to add additional filters for this purpose but have not had a chance to get to it. I will tag this as an enhancement so it does not get missed.

[2017-12-19 16:05] Levi-Armstrong commented on #214
You could make a request to the Qt Creator development team.

[2017-12-19 16:11] Levi-Armstrong commented on #215
I labeled this a bug it should be setting the working directory to what the user specify.

[2017-12-19 16:13] nathangeorge1 commented on #214
good idea; i'll try that

[2017-12-19 16:13] beetleskin commented on #215
Exactly. The background is, that we're working in a workspace with close to 100 packages (it's a bigger project), and building everything takes some non-trivial amount of time. Even when everything else is already built and not touched, catkin needs a lot of time to figure that out.

[2017-12-19 16:33] Levi-Armstrong commented on #215
OK, So I the interim you will have to add the package to catkin tools argument. If you know you are just going to be working on a few package you could also create separate build configurations one for each package and then use the tool in the bottom left to easily switch between the build configurations.

[2017-12-19 16:36] Levi-Armstrong commented on #215
I need to make a change [here](https://github.com/ros-industrial/ros_qtc_plugin/blob/4.4/src/project_manager/ros_catkin_tools_step.cpp#L140) to set the appropriate working directory.

[2017-12-19 19:10] beetleskin commented on #215
Now that I think of it .. having the "current" package name (i.e. the name of the package the currently opened file belongs to) around as variable could be useful for a bunch of other catkin commands as well, like `catkin lint -W2 --pkg %{CurrentDocument:RosPackage}`

[2017-12-20 09:45] beetleskin commented on #210
I'm having the same issue after opening an already existing workspace with QtCreator. It warns me for every single header or source file.

[2017-12-20 12:43] klapetos commented on #210
I tried also to delete all the other files except src folder and import new ROS Workspace with CatkinTools. But the problem remains.

I can follow the headers correctly, the only issue is that is a little bit slow until to resolve new namespace.

[2017-12-20 13:17] Levi-Armstrong commented on #210
@beetleskin and @klapetos have you built the workspace from within Qt Creator?

[2017-12-20 13:25] klapetos commented on #210
Yes.
I did the following steps:
1. New Project
2. Other Project -> ROS Workspace
3. Build System -> CatkinTools
4. Workspace Path: (one folder with only the src* folder inside)
5. Build

*Note: the src folder contains many ros pkgs/meta-pkgs which i have checked out from svn so all the src folder is under version

[2017-12-20 13:36] Levi-Armstrong commented on #210
Not sure why it is still showing up. Lets check the code model Tools->C++->Inspect C++ Code Model and see if you can find the file showing the warning. After open go to the Project Parts Tab and fine the target the file in question should be associated to. Then select it and in the below tabs select the Project Files tab and see if it is listed there. Example Below.

![image](https://user-images.g

[2017-12-20 13:48] klapetos commented on #210
There are listed all the associated files. Now I just notice that the error changed and is the following:

![image](https://user-images.githubusercontent.com/16204660/34210065-34c95bda-e59d-11e7-9727-fe087344eeaf.png)

[2017-12-20 14:14] Levi-Armstrong commented on #210
If you click on the 720:9 what information does it provide.

[2017-12-20 14:31] klapetos commented on #210
It doesn't show anything by clicking it.

[2017-12-20 15:15] beetleskin commented on #210
I tried both, it has no impact on the warning.

For me its still the same error. Also, it seems that all the project files are listed correctly \o/

[2017-12-20 18:49] Levi-Armstrong commented on #210
@klapetos  Does it by chance refer to line column in the file? Do you use a macro on that line?

[2017-12-20 18:53] Levi-Armstrong commented on #210
So if everything is showing correctly and you can code follow then everything is probably working. Though not sure why the message would persist. I will need to look into Qt Creator may require an event be triggered when code model creation/modification.

[2017-12-21 09:21] hljchenxi opened #217 "I can't find src and include folder in my project tree"
After add a rospackage ,there are  src and include folder in my package folder,but I can see it in my project tree on qt. Only CMakeLists.txt and package.xml in there.

[2017-12-21 09:26] hljchenxi commented on #217
I'm sorry... I add a cpp file in my src ,then I can see it in projcet tree.

[2017-12-21 09:26] #217 closed

[2017-12-21 12:42] Levi-Armstrong commented on #217
@hljchenxi Check out this #193 so your empty folders will show up in the future.

[2017-12-21 14:37] beetleskin commented on #210
seems legit, the warning seems rather pointless since everything works as expected

[2017-12-21 16:15] Levi-Armstrong commented on #210
Yea, I will see what I can find out.

[2017-12-23 01:37] sunyuzhe2017 opened #218 "How to build a Qt Designer file in the package created by the plugin?"
I want to set a new ui file in the ros package which is created by ros_qtc_plugin,in order to call in the default interface by a button like in ,do I need to do any special configuration?why there is always wrong ?

[2017-12-24 16:00] Levi-Armstrong commented on #218
I not sure I fully understand the questions, but you can create/add ui files to a ros workspace and edit them using the designer. Note that you will have to manually add it to the CMakeLists file.

[2017-12-24 16:07] Levi-Armstrong commented on #218
Is this for a plug-in for rviz, rqt, etc?

[2017-12-26 08:40] sunyuzhe2017 commented on #218
![errormanualdialog](https://user-images.githubusercontent.com/33214493/34352090-6651b612-ea5b-11e7-9095-0de25893d3b6.png)

[2017-12-26 11:10] sunyuzhe2017 commented on #218
[Yeah,I want to make an interface for a ros project so I can connect and control by the interface .I‘m new to  Qt and ros ,I 'd like to give my steps as follows:
First,I create a package ["test2"](https://github.com/sunyuzhe2017/Qt-ROS.git) with the command catkin_create_qt_pkg,then I can get a interface show some message,after that,I add a Qt Designer Form Class"manualdialog" in test2's src folde

[2017-12-26 11:20] sunyuzhe2017 commented on #218
I'm not sure if my expression is clear or the method I used for adding  interface is just toally messed and wrong.I do appreciate it if you could give me some useful dirctions (examples is much better)for add an interface in ros project ,Thanks again! @Levi-Armstrong

[2017-12-26 19:06] Levi-Armstrong commented on #218
Take a look at this [file](https://github.com/Levi-Armstrong/urdf_builder/blob/master/urdf_editor/CMakeLists.txt). I think you are missing a few things.

I am not sure this [line](https://github.com/sunyuzhe2017/Qt-ROS/blob/master/test2/CMakeLists.txt#L26) is valid.

[2017-12-27 01:05] sunyuzhe2017 commented on #218
Thank you,I have solved it last night.I can't believe it's just because this line ...
`file(GLOB_RECURSE QT_MOC RELATIVE ${CMAKE_CURRENT_SOURCE_DIR} FOLLOW_SYMLINKS include/test2/*.hpp *.h)` I add " *.h "at the end of it.
The header files create by command "catkin_create_qt_pkg" all with a " .hpp "suffix,and the file I added in Qt Designer Form  Class with " .h " suffix,it can't be find ! I  shoul

[2017-12-28 05:12] dugujing opened #219 "Header can not be found"
Hello:
I use the environment：
Ubuntu16.04.
installed by default：
Qt5.9.1 Creator
$ git clone xxxros_qtc_pluginxxx
Modify QTC_BRANCH = "4.4", QMAKE_PATH = "/ opt / qt59 / bin / qmake" and libqtermwidget57-0-dev is libqtermwidget59-0-dev in setup.sh. succed；And create workspace and package through ui interface, add a header file problems whether ros or standard library
![image](https://user-images.g

[2017-12-28 18:31] Levi-Armstrong commented on #219
Have you built from within Qt Creator?

[2017-12-28 23:52] Levi-Armstrong commented on #218
That is great to here!

[2017-12-29 01:56] dugujing commented on #219
Thank you, I know， now it works.

[2017-12-30 01:15] #218 closed

[2017-12-30 14:57] Ghost-CBC commented on #213
@Levi-Armstrong
Dear sir,
I installed ros_qtc_plugin as recommend:
  sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
  sudo add-apt-repository ppa:levi-armstrong/ppa
  sudo apt-get update
  sudo apt-get install qt59creator
Then threw:
    ghost@ghost-ThinkCentre-M8600t-N000:~$ sudo apt-get install qt59creator
    Reading package lists... Done
    Building dependency tree
    Reading

[2017-12-30 17:38] #219 closed

[2017-12-30 17:42] Levi-Armstrong commented on #213
Sorry, I need to push the latest updates to the wiki. There is a missing ppa required.
[code]

[2017-12-30 18:47] KevinGHub commented on #213
I got this when I try to apt qt59creator.
_________________________________________________________________
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

[2017-12-31 02:53] Levi-Armstrong commented on #213
So for some reason on certain individuals machines it does not automatically install dependencies. So I think the message wants you to manually install qt59qbs.
Try:
[code]

[2017-12-31 04:03] Ghost-CBC commented on #213
@Levi-Armstrong
Thank you.
I add “sudo add-apt-repository ppa:ubuntu-toolchain-r/test as” as you recommend.
It work.

[2017-12-31 05:15] Levi-Armstrong commented on #213
@Ghost-CBC Great! I also just pushed a new version of the documentation.

[2017-12-31 05:15] #213 closed

[2017-12-31 05:16] Levi-Armstrong commented on #210
This has been added to the FAQ section in the wiki.

[2017-12-31 05:16] #210 closed

[2017-12-31 05:17] Levi-Armstrong commented on #193
This has been added to the wiki.

[2017-12-31 05:17] #193 closed

[2018-01-09 23:44] lusu8892 opened #229 "No import ros workspace"
Hi Levi

I followed the the [instruction here] (https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html) to install Qtcreator ros plugin, I have tried multiple times but that import ros workspace just did not show in qtcreator. Before install Qtcreator, there is no other qtcreator version in my ubuntu 16.04.

[2018-01-10 00:24] Levi-Armstrong commented on #229
So under "Other Projects" you don't see ROS Workspace?

[2018-01-10 00:29] Levi-Armstrong commented on #229
The reason I ask is the title suggests the old style of importing the workspace.

[2018-01-10 00:31] Levi-Armstrong commented on #229
The new process is explained [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/Import-ROS-Workspace.html).

[2018-01-10 03:01] lusu8892 commented on #229
I could not see import ros worksapce at Import Project tab. But I do see ros workspace at Other Project tag. So I am good to go?

[2018-01-10 03:13] Levi-Armstrong commented on #229
Yep, it should work.

[2018-01-10 04:13] lusu8892 commented on #229
Thanks

[2018-01-10 04:47] lusu8892 opened #230 "how to use qtcreator with roslaunch and rostest"
Hi Levi

Do you have tutorial teaching how to use qtcreator with roslaunch and rostest?

[2018-01-10 14:30] Levi-Armstrong commented on #230
The video tutorials may have something, but everything related running is under Projects>Run. If you add a *ROS Run Configuration* it provides you the ability to add rosrun and roslaunch steps at the moment. Now for rostest it has not been added but you can use the custom executable run step where the executable is the path to *bash* and the command line arguments are what you would type in the te

[2018-01-10 14:56] #229 closed

[2018-01-10 20:00] lusu8892 commented on #230
Here is what I tried.
First I created a **test_xxx_moveit_kinematics_plugin_script.sh** file the inside is:

cd /home/xx/ros_ws/src/xxx_moveit/xxx_moveit_plugins/xxx_moveit_kinematics_plugin/test
rostest xxx_moveit_plugins test_xxx_kinematics_plugin.test

Then based on your suggestion, I went to run settings in qtcreator, set the executable where I placed the .sh file.

After I clicked debug butto

[2018-01-11 12:48] Levi-Armstrong commented on #230
Oh, you are wanting to debug. That is a little different process.

I usually in this case would add a custom executable run step and give it the path to the test executable (usually in devel/lib/package_name directory). Then in a terminal roslaunch the launch file associated with the test and after that is up and running then select the run debug button in qt creator. Note: This is basically what

[2018-01-11 17:57] lusu8892 commented on #230
I see your idea. From rostest instruction I was only told rostest is like roslaunch, I mean they both use XML syntax. I actually did your way. I might do some wrong, I could not figure out how to pass args to that test node. But I have an idea now. I will let you know.
Thanks!

[2018-01-15 01:57] Ghost-CBC commented on #38
@Levi-Armstrong
Hi,Levi-Armstrong,
I install qt59creator and qt57creator-plugin-ros as the [wiki](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html)
I import my catkin_ws and build sucessfully.
However, #include "ros/ros.h" show bottom_line and "No such file or directory", which enable the ability to auto-completion.
Could you give me some advice?
Thank you in advan

[2018-01-15 12:54] azhural opened #231 "Using git status crashes qtcreator-ros"
Hello,
I'm currently experiencing this problem on three different machines (all of them Ubuntu 16.04LTS). On two of them I purged qt57 and qt59, as described in [the installation how-to](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html#). The third did not have qtcreator installed before, so I also followed the mentioned how-to.

On calling "git status" qtcreator-r

[2018-01-15 21:05] Levi-Armstrong commented on #231
Thank you for your feedback, I have recently experience this myself just last week. I am currently trying to track down the issue.

[2018-01-16 11:12] d-walsh opened #232 "Opening multiple projects (workspaces) causes qtcreator to crash"
I'm not sure if this is a qtcreator problem or an issue with the plugin.

Whenever I have a project (workspace) open, it works fine. However when I add a second project to the same session qtcreator crashes (seg fault). I am using catkin_tools.

Thanks!

[2018-01-16 13:50] Levi-Armstrong commented on #232
Are you on 14.04 or 16.04?

[2018-01-16 16:56] d-walsh commented on #232
I'm on 16.04

[2018-01-16 21:29] Levi-Armstrong commented on #232
If you launch qt creator from the terminal does anything print to the terminal?

[2018-01-18 14:37] nathangeorge1 opened #233 "Building Catkin Workspace Fails"
Hello,

From last night when it was working, now I get the following error this morning:

![image](https://user-images.githubusercontent.com/2744891/35103135-042c2000-fc33-11e7-927f-5ff14c7b85af.png)

I know this custom build step is working because I did in via bash. What is wrong?

Thanks,
Nathan

[2018-01-18 14:44] Levi-Armstrong commented on #233
I am not sure. Can you provide an example so I can recreate it on my end?

[2018-01-18 14:50] nathangeorge1 commented on #233
I actually just figured out the problem. I accidentally clicked on `catkin_ws.creator` in the Welcome > Recent Projects sections, which I think was a file from an older version. I fixed it by clicking on `catkin_ws.workspace`. Thanks for the quick response.

[2018-01-18 14:50] #233 closed

[2018-01-21 22:05] d-walsh commented on #232
It prints several of these messages:
- >"Unable to locate build directory for package: ......"
- >"Flags file does not exist: /....../CMakeFiles/executable.dir/flags.make"

Then finally:

I also did a backtrace in gdb and it gave me: [qt_creator_crash_gdb.txt](https://github.com/ros-industrial/ros_qtc_plugin/files/1650259/qt_creator_crash_gdb.txt)

[2018-01-21 23:02] Levi-Armstrong commented on #232
Ok think it has to do with the same segfault when executing a git status. I should have a pr up soon to address it.

[2018-01-21 23:40] d-walsh commented on #232
OK, great thanks!

[2018-01-22 03:08] Levi-Armstrong commented on #232
This should be addressed by PR #234.

[2018-01-22 03:08] Levi-Armstrong commented on #231
This should be addressed by PR #234.

[2018-01-22 03:09] Levi-Armstrong commented on #216
This has been added by PR #234.

[2018-01-22 10:03] beetleskin opened #235 "clang code model performance"
Hi, I'm running into the issue that the _Clang Code Model_ is *really* slow for code completion, and, it seems, for parsing the current file in general (resolving includes and whatever happens under the hood). It is so slow, that it's almost not worth working with it, since for each file I open, I have to wait a couple of seconds. The same applies when editing a c++ file (I guess the code model is

[2018-01-22 14:07] Levi-Armstrong commented on #235
I have used the Clang Code Model once before, but I have read several places that it is very slow. Not sure if that is just Qt's implementation or the Clang Code Model itself. It could be how I am building the code model but one way to test it out would be initialize your workspace as catkin_make and then open as a pure cmake within Qt Creator and see if the code model is still slow.

[2018-01-22 14:10] beetleskin commented on #235
I'll try.

But if you're not using clang .. do you use the built-in code model for completion and stuff? Is that working with your plugin?

[2018-01-22 14:13] Levi-Armstrong commented on #235
I use the built in code model which works. Are you have issues with the built in code model when using the plugin?

[2018-01-22 14:23] beetleskin commented on #235
Yes, as stated above:
- does not find ros-header
- does not find workspace includes
- does not find .. anything despite system includes and local ones (e.g. `#include "../local_header.h"`)
- cant cope with c++11/14/..

[2018-01-22 16:03] Levi-Armstrong commented on #235
Ok that should not be happening. Have you built the project from withing the IDE?

[2018-01-22 16:18] beetleskin commented on #235
Yes I did, but this seems to be a default issue for this QtCreator version:
https://www.google.de/search?client=ubuntu&hs=MB2&channel=fs&dcr=0&q=+site:stackoverflow.com+qtcreator+c%2B%2B11&sa=X&ved=0ahUKEwj-3KKO_OvYAhUPfFAKHYfrDfoQrAMINA&biw=2079&bih=1115

I'm running on Ubuntu 16.04 with QtCreator 4.4.1.

[2018-01-22 16:31] Levi-Armstrong commented on #235
If you don't mind setting ups a simple workspace that recreates the issue I can take a look to determine how to resolve it.

[2018-01-23 05:03] Levi-Armstrong commented on #215
This is addressed by PR #234

[2018-01-23 05:04] Levi-Armstrong opened #236 "Add rostest runstep"

[2018-01-23 14:51] Levi-Armstrong commented on #235
What do you mean by working? For me code following and code completions is working.

[2018-01-23 15:12] beetleskin commented on #235
also for `shared_ptr`?

Here comes the minimal not-working example with c++11:

[code]

`patPtr.//[STRG+SPACE]` should give me the autocomplete options of the `shared_ptr` itself.
`patPtr->//[STRG+SPACE]` should give me the autocomplete options of underlying `nav_msgs:Path`.

None of the above is working for me with the default QtCreator Code Model (but works with Clang Code Model).

In general, h

[2018-01-23 15:26] Levi-Armstrong commented on #235
I add this `add_compile_options("-std=c++11")` below project().

[2018-01-23 15:50] beetleskin commented on #235
we're setting this via `CMAKE_CXX_FLAGS` .. which is not supported then?

[2018-01-23 16:33] Levi-Armstrong commented on #235
If you don't mind creating a simple package that recreates the issue, I will take a look this week and push a fix assuming one exists.

[2018-01-24 02:41] Levi-Armstrong commented on #206
This is addressed by PR #234

[2018-01-24 04:19] Levi-Armstrong commented on #206
@xlan09  Also PR #234 adds the ability to watch the workspace directory by removing all <Directory> tags.

[2018-01-24 04:23] Levi-Armstrong commented on #211
Addressed by PR #234.

[2018-01-24 10:10] beetleskin commented on #235
Ok, I can't reproduce with a fresh ws and a dummy package. I think my problem was using custom partial builds (#215) instead of building everything with the default built chain of the plugin.

So I guess you're collecting information for the code model within the catkin build steps? And this information is missing out, partly, when I use my own custom build chain?

[2018-01-24 10:13] #235 closed

[2018-01-24 14:58] nils-huegel opened #237 "Support for zsh"
This plugin is very nice, good job!

Unfortunately, the dependency on bash and the "setup.bash" is hardcoded at
https://github.com/ros-industrial/ros_qtc_plugin/blob/caf3eb65669e67cbb36a7fd9a6ce5349a9ae67b0/src/project_manager/ros_run_steps.cpp#L154

So if your default shell is the zsh, the zsh will interpret the bash setup script - incorrectly - and run into an error:
[code]
If I replace the setu

[2018-01-24 15:18] Levi-Armstrong commented on #237
Any ideas on how to determine what default shell is being used?

[2018-01-24 15:41] nilshuegel commented on #237
You can read it from the environment variable SHELL

[code]

[2018-01-25 00:27] Levi-Armstrong commented on #237
Since the IDE environment does not affect the host would you be opposed to the IDE always setting it to bash?

[2018-01-25 10:05] nilshuegel commented on #237
Well, that would probably be a better workaround than mine (symlink). Although I liked that I can use my default shell in the IDE, to be sure it behaves the same.

[2018-01-25 20:28] nathangeorge1 opened #238 "Linux Package Manager Broke Indexing"
Hello,

After installing Ubuntu Software Updates (I noticed one of them was for qt), indexing doesn't work, even though my project is built correctly; any ideas?

Thanks,
Nathan

[2018-01-26 15:47] Levi-Armstrong commented on #238
I just had a coworker run into a similar thing. In his case he still had this ppa *(ppa:beineri/opt-qt571-trusty)* on his system. I would check the /etc/apt/source.list.d/ directory and see if you see anything with the name beineri in it. If so I would purge remove anything libraries from this ppa then delete the files from this directory. After that go back through the install process and everyth

[2018-01-27 07:09] CodeIsWorld opened #239 "i can't install qt59creator in ubuntu14.04.5 because of depends,anybody can help me ?"
when i input this :    sudo apt-get install qt57creator-plugin-ros
i got this
`Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
T

[2018-01-27 22:42] Levi-Armstrong commented on #239
It looks like you need to install libclang1-3.9  and then try and install again.

[2018-01-29 14:34] nathangeorge1 commented on #238
I checked the directory but nothing says "beineri"; there are many things that start with "levi-armstrong" though. Should I still try reinstalling?

[2018-01-29 18:32] Levi-Armstrong commented on #238
Yea I would try that next.

[2018-01-30 03:25] Levi-Armstrong commented on #207
Addressed by PR #234

[2018-01-30 04:22] Levi-Armstrong commented on #237
Addressed by PR #234
@nils-huegel  I added support for the three shell types bash, sh and zsh.

[2018-01-30 04:28] Levi-Armstrong commented on #209
@fabolhak This is my remaining issues before the next release so I am going to address this over the next few days.

[2018-01-30 10:17] nils-huegel commented on #237
Great, thanks.
I will give feedback once the build gets released.

[2018-01-30 11:08] fabolhak commented on #209
If you need anything. Please let me know :).

[2018-01-30 15:11] nathangeorge1 commented on #238
I reinstalled using the 16.04 instructions found here: https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html

but the same problem; anything else?

[2018-01-30 15:23] Levi-Armstrong commented on #238
Do you mind posting an output of what you are seeing for context?

[2018-01-30 15:29] nathangeorge1 commented on #238
![image](https://user-images.githubusercontent.com/2744891/35574666-6caa6faa-05a8-11e8-9aa4-04896ad7bfb1.png)

No actual error messages; indexing is just not working

[2018-01-30 16:42] Levi-Armstrong commented on #238
Sorry I was thinking of something else when you mentioned indexing. I would launch qtcreator-ros from the terminal then proceed with opening your project. I would then post what gets printed out to the terminal.

[2018-01-30 18:29] nathangeorge1 commented on #238
it outputted this:

[code]

In going to those directories, I couldn't find the .cbp files, although build files are good.

[2018-01-30 18:38] Levi-Armstrong commented on #238
Try a clean build from within the qt creator

[2018-01-30 19:38] nathangeorge1 commented on #238
yes everything is working now; essentially from within qt, I right clicked the catkin_ws project, and then did `Clean` then `Rebuild`. Do you know what broke things?

[2018-01-30 19:42] Levi-Armstrong commented on #238
Not sure but you must build at least once from within the qt creator which creates the cbp files and set a flag to keep updating every time. Then you can build outside of Qt Creator. Now that being said if you clean it or add new packages you must build(you do not have to clean) from within Qt Creator again.

[2018-01-30 19:46] Levi-Armstrong commented on #238
Had you built from within the qt creator yet?

[2018-01-30 20:19] nathangeorge1 commented on #238
O I didn't know that. I can add that to the installation instructions/video that I'm supposed to be doing soon. Sorry it's taking forever btw, but my 2 startups are eating a lot of my time. Hopefully soon though.

[2018-01-30 20:19] #238 closed

[2018-01-30 20:59] Levi-Armstrong commented on #238
Yea it probably be good to have that mentioned somewhere. I think I recently added a FAQ section which it may be in that.

[2018-01-31 03:05] vincent-hui opened #240 "ros_qtc_plugin cannot be build with Qt Creator 4.6"
I tried compiling ros_qtc_plugin with Qt Creator 4.6, but compilation fails.

[2018-01-31 06:25] Levi-Armstrong commented on #209
This is addressed by PR #234.

[2018-01-31 14:49] Levi-Armstrong commented on #240
I just merged a PR that got everything working with 4.5 along with fixing several issues. Do you mind trying it again?

[2018-02-01 06:54] mmoerdijk commented on #117
I still had this problem today, but with the 59 version of qt so this is defently not fixed

[2018-02-01 11:14] beetleskin opened #241 "Valgrind Support"
I tried to use valgrind:
* _Analyse -> Valgrind Function/Memory Analyzer (External Application)_
* I select a node executable and its parameters (to get both, I start my launch-file and use ps aux).
* no kit selected
* I hit run

This results in the node crashing right from startup with the first call to `ros::init`. It does not crash, when I source my catkin ws and start QtCreator from the shell.

[2018-02-03 00:18] Levi-Armstrong commented on #241
I will take a look but it may be a Qt Creator issue. Most of there tools use the build environment. Have you tried look through the settings?

[2018-02-03 06:34] vincent-hui commented on #240
compilation fails again. Qt Creator Plugin classes changed again.

In file included from ../../../ros_qtc_plugin/src/project_manager/ros_build_configuration.h:25:0,
                 from ../../../ros_qtc_plugin/src/project_manager/ros_build_configuration.cpp:21:
../../../ros_qtc_plugin/src/project_manager/ros_project.h:62:23: error: ‘FilesMode’ has not been declared
     QStringList files(FilesMod

[2018-02-03 17:28] Levi-Armstrong commented on #240
Thank you. I will do a release of 4.5 then get to work on 4.6.

[2018-02-07 13:44] vincent-hui commented on #240
Qt Creator 4.6 Beta released http://blog.qt.io/blog/2018/02/07/qt-creator-4-6-beta-released/

[2018-02-08 14:02] beetleskin opened #242 "C++ Code Style forced to ROS"
I was wondering why Qt is not following my defined C++ Code Style. I figured it uses the ROS style all the time, no matter what you actually select in the corresponding options. Can you confirm this?

[2018-02-10 05:01] Levi-Armstrong commented on #242
It is set at the project level. Under the project tab on the left you can set the code style.

[2018-02-10 23:02] BrunoXL opened #243 "Error on importing C headers"
I tried to open a third-person project (hector_quadrotor) on Qt creator 4.4.1. However, qt simple [does not recognize C header files](https://ddgobkiprc33d.cloudfront.net/0705fce5-cb2c-4d06-9b75-91ed967bc8d7.png). What could be wrong?

EDIT: I imported the project via ROS wokspace option

[2018-02-11 00:16] Levi-Armstrong commented on #243
Did you build from within the IDE?

[2018-02-11 14:39] BrunoXL commented on #243
Thanks, I was building from outside

[2018-02-11 14:39] #243 closed

[2018-02-12 09:47] beetleskin commented on #242
Ahhhh .. my bad, thanks :)

[2018-02-12 09:47] #242 closed

[2018-02-12 12:51] Levi-Armstrong opened #244 "Add "Setting C++ Code Style" to the FAQ"

[2018-02-12 12:54] Levi-Armstrong commented on #241
I am still looking into it. All tools should use the environment under the run tab which is usually set to use what is defined for build.

[2018-02-12 13:53] beetleskin commented on #241
Were you be able to reproduce the issue?

[2018-02-12 15:13] JanCCarstensen opened #245 "Multi Package Repositories not completly imported"
Some repos like rqt_bag:
[https://github.com/ros-visualization/rqt_bag](https://github.com/ros-visualization/rqt_bag)
are not completely imported.

while the sub-dir "rqt_bag_plugins" is shown with all contens, the second sub-dir "rqt_bag" is missing most of its contens:

-  resource folder
- scripts folder
- src folder
 - package.xml
- ....

![screenshot from 2018-02-12 16-12-21](https://user-ima

[2018-02-13 06:29] JanCCarstensen commented on #245
After reboot and reimporting the workspace all files are loaded

[2018-02-13 06:29] #245 closed

[2018-02-13 10:22] wojiaojiao opened #246 "Ubuntu 16.04 could not be installed:Depends: libclang1-4.0 (>= 3.6)"
Installation Procedure for Ubuntu 14.04

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt59creator
sudo apt-get install qt57creator-plugin-ros

with the error:
The following packages have unmet dependencies:
qt59creator : Depends: libstdc++6 (>= 4.9) but 4.8.4-2ubuntu1~14.04.3 is to be insta

[2018-02-13 12:35] Levi-Armstrong commented on #246
I believe the install procedure you posted for 14.04 is actually the one for 16.04 see [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html#installation-procedure-for-ubuntu-14-04) which was missing  `sudo add-apt-repository ppa:ubuntu-toolchain-r/test` as you found out.

It looks like you need to install libclang1-4.0. I recommend installing it and then trying

[2018-02-19 21:27] Levi-Armstrong commented on #204
I have created a [Qt Installer](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/latest/qtcreator-ros-latest-online-installer.run) which I will be updating the wiki soon to show the new install procedure.

[2018-02-22 03:29] wojiaojiao commented on #246
@Levi-Armstrong
thank you！I've already solved it！
i refer to：https://packages.ubuntu.com/xenial-updates/devel/libclang1-4.0
download and install libclang1-4.0
and again install qt59creator is ok!

[2018-02-22 22:27] Levi-Armstrong commented on #246
Great!

[2018-02-22 22:27] #246 closed

[2018-02-23 13:39] Levi-Armstrong commented on #237
@nils-huegel I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:39] #237 closed

[2018-02-23 13:39] Levi-Armstrong commented on #232
@d-walsh I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:39] #232 closed

[2018-02-23 13:40] Levi-Armstrong commented on #231
@azhural I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:40] #231 closed

[2018-02-23 13:40] Levi-Armstrong commented on #216
@beetleskin I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:40] #216 closed

[2018-02-23 13:40] Levi-Armstrong commented on #215
@beetleskin I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:40] #215 closed

[2018-02-23 13:41] Levi-Armstrong commented on #209
@fabolhak I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:41] #209 closed

[2018-02-23 13:41] Levi-Armstrong commented on #207
I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:41] #207 closed

[2018-02-23 13:41] Levi-Armstrong commented on #206
@xlan09 I have just released the latest version. Please see wiki for new install procedure.

[2018-02-23 13:41] #206 closed

[2018-02-23 13:43] gavanderhoorn opened #251 "suggestion: consider recommending ppa-purge to remove old PPAs"
Now that the new installer is released, the installation instructions tell users to `apt-get remove` a few packages. This is ok, but (transitive) dependencies may still stick around, potentially leading to problems in the future.

It could be an idea to use `ppa-purge` to remove the PPAs and uninstall any pkgs that were distributed through them. That way no trace of those pkgs should be left.

[pp

[2018-02-23 13:44] gavanderhoorn commented on #251
It would also avoid any potential confusion with which version of pkgs to (un)install: the note "Remember to replace XX with the current version installed and replace YY with the new version." can be interpreted in various ways.

[2018-02-23 13:49] Levi-Armstrong commented on #251
@gavanderhoorn Thanks for the feedback I was not aware of the ppa-purge. I will update the wiki which as you pointed out will simplify things and avoid confusion.

[2018-02-23 13:51] gavanderhoorn commented on #251
I thought you'd deprecated all the wiki content? Which wiki are you referring to?

[2018-02-23 14:02] Levi-Armstrong commented on #251
I am going to go and update the wiki's for the other versions as I have installer for those. But right now I have just been updating 4.5.

[2018-02-23 14:09] gavanderhoorn commented on #251
[this wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki) doesn't seem to contain any content any more.

Are you referring to the Sphinx docs? That's not a wiki :)

[2018-02-23 18:52] Levi-Armstrong commented on #251
Yea the sphinx docs

[2018-02-26 09:05] RohanBampal opened #258 "Unable to locate package libqtermwidget5-0"
I am reinstalling Qt Creator ROS plugin and saw a new way to install the plugin(old method worked perfectly). I followed all the steps and on the step: `sudo apt install libqtermwidget5-0`, the error `Unable to locate package libqtermwidget5-0` shows. I am using Ubuntu 14.04. Thanks.

[2018-02-26 11:47] nils-huegel commented on #237
Nice job. It works perfectly.

[2018-02-26 12:49] Levi-Armstrong commented on #258
Have you added the ppa below?

`sudo add-apt-repository ppa:levi-armstrong/ppa`

[2018-02-26 12:50] Levi-Armstrong commented on #237
Great!

[2018-02-26 13:03] RohanBampal commented on #258
Yes, I have added it, and also run `sudo apt-get update` afterwards.

[2018-02-26 13:07] Levi-Armstrong commented on #258
Try `sudo apt-get install libqterm<tab><tab>` and see if it provides a list of options.

[2018-02-26 13:13] Levi-Armstrong commented on #258
Sorry, I thought the library was named the same in my ppa. It should be `sudo apt-get install libqtermwidget59-0`

[2018-02-26 13:15] Levi-Armstrong commented on #258
Let me know if it works and I will update the documentation.

[2018-02-26 13:16] RohanBampal commented on #258
Now it can find the package, but now it shows the error: `The following packages have unmet dependencies:
 libqtermwidget59-0 : Depends: qt59base but it is not installable`

[2018-02-26 13:23] RohanBampal commented on #258
It finally worked! Thanks for the Help

[2018-02-26 13:23] #258 closed

[2018-02-26 13:24] Levi-Armstrong commented on #258
OK I will update the documentation, sorry for the issues.

[2018-02-27 10:47] RohanBampal opened #263 ""ROSProjectManager plugin has errors and cannot be loaded" error on opening QtCreator."
I installed QtCreator-ROS plugin with Qt Installer. On opening the QtCreator, this error shows:
[code]
I am using Ubuntu 14.04. Thanks.

[2018-02-27 11:16] d-walsh commented on #232
Thanks @Levi-Armstrong !

[2018-02-27 11:33] Levi-Armstrong commented on #263
Try the command below and see if it gets resolved.

`sudo apt-get install libstdc++6`

if not then try

[code]

[2018-02-27 11:37] RohanBampal commented on #263
Now I'm getting a different error:
[code]

[2018-02-27 13:05] Levi-Armstrong commented on #263
try

[code]

[2018-02-27 21:09] Levi-Armstrong commented on #263
Ok, I am going to create a clean VM and see if I have the same issue and try to resolve them. In the interim you could us the ppa version.

[2018-02-28 12:44] Levi-Armstrong commented on #263
Did you by chance have the ppa version installed before or was this on a clean machine?

[2018-02-28 12:50] RohanBampal commented on #263
No, it was a clean machine.

[2018-02-28 14:54] Levi-Armstrong commented on #263
It looks like I am going to have to create one specific to each trusty, so it will take a few days to accomplish this.

[2018-02-28 14:57] gavanderhoorn commented on #263
do you really mean each Ubuntu Trusty version, or each Ubuntu distribution?

In any case: perhaps Docker can help here?

[2018-02-28 15:15] Levi-Armstrong commented on #263
I think just Ubuntu distribution. I think docker would help just not that familiar with it.

[2018-02-28 16:02] gavanderhoorn commented on #263
Let me know if I can help you with anything @Levi-Armstrong.

But in short: you'd basically use a Docker image of the target Ubuntu distribution and run your regular build script (I'm assuming it's a script) in there. That has three advantages:

 1. you don't build a redistributable artefact on a system that has potentially many pkgs installed that are not present on the systems onto which the art

[2018-03-01 09:42] iglstone commented on #263
I met the same error in Ubuntu14.04, ros indigo..

[2018-03-01 09:42] iglstone commented on #263
/home/gl/QtCreator-ros/latest/lib/qtcreator/plugins/libROSProjectManager.so: Cannot load library /home/gl/QtCreator-ros/latest/lib/qtcreator/plugins/libROSProjectManager.so: (/home/gl/QtCreator-ros/latest/lib/qtcreator/plugins/libROSProjectManager.so: symbol _ZTVNSt7__cxx1115basic_stringbufIcSt11char_traitsIcESaIcEEE, version GLIBCXX_3.4.21 not defined in file libstdc++.so.6 with link time referen

[2018-03-01 18:44] Levi-Armstrong commented on #263
@gavanderhoorn What docker image should I start with?

[2018-03-01 20:08] gavanderhoorn commented on #263
Ubuntu provides a nr of official images. For Trusty, that would be `ubuntu:trusty` (or `ubuntu:14.04`) and for Xenial `ubuntu:xenial` (or `ubuntu:16.04`). See also [hub.docker.com/ubuntu](https://hub.docker.com/_/ubuntu/).

Perhaps we should discuss this off-line, or in a separate issue?

[2018-03-03 04:39] Lejou opened #264 "Lost ROS Project"
I don't have the "Import ROS Project"  when I intend to create a new ros project in QT 5.10.0.
I have installed QT5.10.0 and then change the shortcut, then I follow the instruction on

https://ros-industrial.github.io/ros_qtc_plugin/_source/Improve-ROS-Qt-Creator-Plugin-Developers-ONLY.html

and execute the following codes :

sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-

[2018-03-05 19:48] Levi-Armstrong commented on #263
@iglstone @RohanBampal I believe have a working installer generated using docker. Do you mind downloading it [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/qtcreator-ros-trusty-latest-offline-installer.run) and testing it?

[2018-03-05 21:25] Levi-Armstrong commented on #263
@gavanderhoorn I have been able to get everything to run in the docker but it looks like everything in the mapped directory generated by the docker is root. What is the best way to solve this so it is not generated as root?

[2018-03-05 21:32] gavanderhoorn commented on #263
Well .. the 'best way' would probably involve a combination of `-u` and `-v` options, but if you want something simply, just do a `sudo chown $USER: -R .` on the host in the dir that you volume mounted into your Docker container.

[2018-03-06 04:17] RohanBampal commented on #263
@Levi-Armstrong I have downloaded and installed the qtcreator-ros using your installer and it opens fine. But on opening a Project, the application closes.
Here is the terminal output:
[code]

[2018-03-06 14:02] Levi-Armstrong commented on #263
I will take a look

[2018-03-06 14:05] Levi-Armstrong commented on #263
@RohanBampal  Do you mind the command in the terminal and posting the output?
[code]

[2018-03-07 04:07] RohanBampal commented on #263
Here is the output:
[code]

[2018-03-10 09:55] Mylittledream commented on #263
I have the same problem. On opening the QtCreator, this error shows:

/home/rohan/QtCreator/latest/lib/qtcreator/plugins/libROSProjectManager.so:
Cannot load library /home/rohan/QtCreator/latest/lib/qtcreator/plugins/libROSProjectManager.so:
(/usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by
/home/rohan/QtCreator/latest/lib/qtcreator/plugins/libROSProjectMan

[2018-03-10 14:23] Mylittledream opened #265 "qtcreator-ros-trusty-latest-offline-installer.run"
I install the QT Creator(4.5.1).After I install the ros_qtc_plugin.But when I open the catkinxx.workspace,this software will exit.
Please help to solve this

[2018-03-11 00:39] Levi-Armstrong commented on #265
I have been working on a solution and should have something in a few days. The ppa is still up so you can use that version until this is resolved.

[2018-03-11 01:20] Mylittledream commented on #265
Thanks!

[2018-03-11 01:20] #265 closed

[2018-03-12 12:50] Levi-Armstrong commented on #263
Everyone, I am working a fix that should solve the issue. I am having to change things a bit to ensure it will work on most Linux distributions. I apologizes for the inconvenience.

[2018-03-14 11:29] Levi-Armstrong commented on #263
Great news! with the help from the folks at Qt I have an automated way for packaging Qt Creator with the ROS Plugin for different Ubuntu distributions. I currently rebuilding everything and once the repository is update (Which should be later this afternoon) I will provide an update. Also you should not need to add any ppa's know since everything is package internally to simplify things.

[2018-03-14 13:52] Mylittledream commented on #263
Thanks a lot!

[2018-03-14 18:29] yukelele opened #266 ""The following plugins have errors and cannot be loaded""
Try to install the ROS Qt Creator Plug-in, so I followed the instructions mentioned [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html).

When I open qtcreator on the command line using: `qtcreator-ros`
It opens qtcreator, but I get the following message:
_"The following plugins have errors and cannot be loaded:
ROSProjectManager

Details:
/home/lidar/QtCreato

[2018-03-14 18:35] Levi-Armstrong commented on #266
You are missing libyaml-cpp which is usually installed when installing ROS. You just need to install yaml-cpp version 0.5.

[2018-03-15 12:57] Levi-Armstrong commented on #266
I am currently working on packaging libyaml-cpp into the installer so this does not occur anymore.

[2018-03-15 14:57] vincent-hui commented on #240
Qt Creator 4.6 RC released http://blog.qt.io/blog/2018/03/15/qt-creator-4-6-rc-released/
That means Qt Creator 4.6 will be released soon!!

[2018-03-15 17:59] Levi-Armstrong commented on #240
I am currently working out solving the installer issues which I should be finished rebuilding everything today or tomorrow. Once that is finished I can move to testing out building it on 4.6.

[2018-03-15 20:44] Levi-Armstrong commented on #266
I just finished everything for 16.04 xenial, you can get the installer [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/xenial). Use the online installer. I should have everything for trusty done soon then I will go through and update the documentation.

[2018-03-15 20:47] Levi-Armstrong commented on #264
Sorry missed this issue. Are you wanting to make modification to the plugin or are you just wanting to use it for developing in ROS?

[2018-03-15 20:48] Levi-Armstrong commented on #263
I just finished repackaging everything for xenial and should be finished with trusty soon. I post a link here when finished until I get the documentation updated.

[2018-03-15 20:50] Levi-Armstrong commented on #239
Please use the online installer found [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/xenial/) now.

[2018-03-15 20:50] #239 closed

[2018-03-15 20:50] #211 closed

[2018-03-15 20:51] #204 closed

[2018-03-15 20:52] Levi-Armstrong commented on #241
Sorry, I have been side tracked on getting the new installer released. Should be able to test it soon with the new version.

[2018-03-15 20:53] #197 closed

[2018-03-15 21:04] Levi-Armstrong commented on #263
The latest version has been released [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/trusty/) for trusty. Recommend downloading the online installer and let me know if you have any issues.

[2018-03-15 21:05] Levi-Armstrong commented on #266
The latest version has been released [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/trusty/) for trusty.

[2018-03-15 22:26] NiclasEvestedt commented on #263
Hi, thanks for the great work!

I tried installing a few days ago and got the initial problem on my 14.04 machine. I now tried the installer in the link you gave above and now I got even more errors when opening QtCreator. Alot of plugins fail with a similar error to this.

Reason: Cannot load plugin because dependency failed to load: ProjectExplorer(4.5.1)
Reason: Cannot load plugin because depen

[2018-03-16 01:01] Levi-Armstrong commented on #263
I thought that might be an issue. You will need to add a few things for trusty. I will see if I can package it into the installer but that may be to big of a pain to pull in all of its dependencies.

[code]

[2018-03-16 01:07] Levi-Armstrong commented on #263
I briefly looked into it and I think I may be able to package it in if you don't mind testing it for me later.

[2018-03-16 03:11] NiclasEvestedt commented on #263
Thanks! I did not install the missing packages yet so I can do a test tomorrow.

[2018-03-16 12:32] Levi-Armstrong commented on #263
@NiclasEvestedt I just uploaded an installer [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/qtcreator-ros-trusty-latest-offline-installer.run) if you don't mind testing?

[2018-03-16 16:34] NiclasEvestedt commented on #263
@Levi-Armstrong Thanks! I tried it. I still had the same errors. I also tried to install latest QtCreator without ROS plugin just to make sure I haven't screwed something up. That worked without any errors though.

[2018-03-16 19:04] Levi-Armstrong commented on #263
Ok, I switching it to statically link against libstdc++ which should solve the issue. It is running now and should be able to upload a new versions in about an hour.

[2018-03-16 20:28] Levi-Armstrong commented on #263
@NiclasEvestedt I just uploaded a new version [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/qtcreator-ros-trusty-latest-offline-installer.run)

[2018-03-16 20:46] NiclasEvestedt commented on #263
@Levi-Armstrong Most of the errors are gone. Only one left. QbsProjectManager fails with

[2018-03-16 20:50] Levi-Armstrong commented on #263
Thank you I will see how to fix that one.

[2018-03-17 01:30] Levi-Armstrong commented on #263
@NiclasEvestedt I just uploaded a new version [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/qtcreator-ros-trusty-latest-offline-installer.run)

[2018-03-17 03:18] Levi-Armstrong commented on #263
@NiclasEvestedt if the new installer still results in the qbs error could you disable the qbs plugin and then see if Qt Creator will load without any other errors?

[2018-03-17 16:06] Levi-Armstrong commented on #263
@NiclasEvestedt I test the previouse two and they did not work but the latest one where I package the system libraries with Qt Creator worked. I have tested it on a clean VM but do you mind testing it just to confirm? It can be found [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/qtcreator-ros-trusty-latest-offline-installer.run)

[2018-03-17 21:31] Levi-Armstrong commented on #263
The latest version has been released [here](https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/trusty/) for trusty. Recommend downloading the online installer and let me know if you have any issues.

[2018-03-17 21:35] Levi-Armstrong commented on #263
@liamstask I just finished the installer for trusty packaging in the libstdc++ so you don't have to upgrade your system. See the comment above. I am currently working on updating the documentation to reflect the changes.

[2018-03-19 08:11] ziqi-zhang opened #268 "I can't install libqtermwidget57-0-dev"
My system is Ubuntu 16.04 and Qt version is 5.10. I have followed the wiki trying to install the plugin. Here is the command I used.
`sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros libqtermwidget57-0-dev`

But libqtermwidget57-0-dev can't be installed because of followi

[2018-03-19 08:57] machinekoder commented on #130
I get exactly the same error, but I don't use the qtc plugin. I'm not sure if this error is what's causing problems in my visualization.

The error has very likely to do with multiple Qt versions being in use on one machine. I use Qt 5.10.1 for example, but my systems Qt version is 5.7. I recompiled ROS with Qt 5.10, but the problem resides.

[2018-03-19 13:30] ziqi-zhang commented on #268
I tried to uninstall 5.10 and install 5.7 only to failed to address this problem

[2018-03-19 13:31] Lejou commented on #264
Thank you for you reply! I'm so glad to receive it!  I use it for developing in ROS, and now I'v already solved my problem. Thank you, my friend!

[2018-03-19 13:32] #264 closed

[2018-03-19 16:03] NiclasEvestedt commented on #263
@Levi-Armstrong The latest installer works and I have no more errors! Thanks for the great work!

[2018-03-19 16:16] Levi-Armstrong commented on #268
I have moved to using an Qt Installer please see the documentation [here](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html) on how to install going forwards.

[2018-03-19 16:17] Levi-Armstrong commented on #263
Great!

[2018-03-19 16:17] #263 closed

[2018-03-19 16:17] Levi-Armstrong commented on #266
New installer for trusty has been released please see [documentation](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html).

[2018-03-19 16:17] #266 closed

[2018-03-19 18:17] nathangeorge1 commented on #175
Sorry it took so long but I just started working on creating an intro install/usage video today; hopefully should finish by end of week

[2018-03-19 18:33] Levi-Armstrong commented on #175
Just a heads up, I changes the method for installing to use a Qt Installer which is reflect in the documentation I just merged.

[2018-03-19 18:44] nathangeorge1 commented on #175
yes I saw the latest install method and will have the video using this

![image](https://user-images.githubusercontent.com/2744891/37615456-c3b4bebc-2b83-11e8-959e-8347adca12b0.png)

Currently the video will have the following components:
•	Explain ROS needs to be installed
•	Installing the plugin
•	Create catkin_ws
•	Importing ROS workspace
•	Run and Build Settings
•	Hello World example
•	Indexin

[2018-03-20 08:39] Fitz13009 opened #272 "Error during installation process, Ubuntu 16.04"
Dear Levi,

Hello, thank you for your tireless effort for updating this plugin. However it seems like problem still exists.
I am now using a Ubuntu 16.04 with Qt 5.10 installed already. Due to its lack of support of the ROS project, I decide to install your plugin following your latest [tutorial](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html). But I met some err

[2018-03-20 13:48] Levi-Armstrong commented on #272
With the installer you do not need to install Qt separately, it comes package with all of the Qt libraries necessary to run Qt Creator internal to the package. Regarding the error I would see if the directory `/home/aw17632/.local/bin` exists and does not require sudo to create files.

[2018-03-20 13:50] Levi-Armstrong commented on #272
Just curious what ROS project are you referring to?

[2018-03-21 08:26] Fitz13009 commented on #272
Hello,
1. Yes, the directory `/home/aw17632/.local/bin` does exists, I can use command `cd` to visit it. So the problem is still unsolved. And what do you mean exactly "does not require sudo to create files." ?
2. Yes, I know that I didn't have to install Qt separately.
But I still did it because I wanted to see whether the same error(`create link...from...to...`) which happened during the install

[2018-03-21 13:01] Levi-Armstrong commented on #272
In Ubuntu the sudo provides root (Administrative) level access and requires you to enter a password. Example when installing a new libraries you must enter `sudo apt-get install library_name` then it will prompt you to enter a password because it needs to right to a directory that requires root level access.

If your `/home/aw17632/.local/bin` directory requires root level access then this is most

[2018-03-21 13:03] Levi-Armstrong commented on #175
There is only a few other items you might mention.

- ROS Terminal
- Changing the code style at the project level

[2018-03-21 13:47] ziqi-zhang commented on #268
@Levi-Armstrong
Thanks! I have done installing it.

[2018-03-21 13:47] #268 closed

[2018-03-21 14:11] ziqi-zhang commented on #268
@Levi-Armstrong
Sorry I still have some questions.
Firstly, can you please tell me what's the difference between Qt4.5 plugin and Qt5.7 plugin? I saw some installation documents of Qt5.7 but your link is about Qt4.5
Secondly, how can I use Qt libraries in ROS? I followed the installation instructions in the link and I think it's a great interface to develop ROS. But I don't know how to introduce Q

[2018-03-21 15:16] Levi-Armstrong commented on #268
The Qt5.7 was Qt Creator build using Qt libraries version 5.7. The Qt 4.5 is the version of Qt Creator. The currently version of Qt Creator is 4.5 which I have built using Qt Libraries version 5.10.

You will need to the libraries to your CMakeLists file. I would take a look at some of the other ros packages using Qt like rviz or any of the other rviz plugins. Here is one of my [packages](https://

[2018-03-22 06:55] ziqi-zhang commented on #268
Thank you very much!

[2018-03-22 08:08] Fitz13009 commented on #272
Hello, yes I did check the access of the diretory `/home/aw17632/.local/bin` . And I did see a lock symbol on the folder icon 'bin'. I think it should be root access directory by default, because the directory '.local' is also invisible.
But anyway, I used command  'gksu nautilus' in a terminal and get the root control of the ubuntu and then I opened your installer. This time, the error dialog did

[2018-03-22 11:12] Levi-Armstrong commented on #272
Are you using Ubuntu or another variant of linux? I know that on Ubuntu that everything in the home directory does not require root access.

I would try launching Qt Creator from a terminal and post the error information output from the terminal.

[2018-03-23 18:10] nathangeorge1 opened #273 "Video Tutorial"
Hi @Levi-Armstrong ,

I'll use this issue to track the video making process, as opposed to the other closed issue we were talking in. I created all the videos today. Soon (hopefully tomorrow) I'll edit them and start the PR.

For my additions, I'd like to:
1. On the homepage of the wiki, move video tutorials to Installation and then replace your 2 videos with mine by editing gh_pages/index.rst, ru

[2018-03-23 18:26] Levi-Armstrong commented on #273
So you want to move Videos below the Install, Section order (Install, Videos, FAQ, etc)? If so, that is fine with me.

Also, it may be good to keep the older videos as reference we could just mark them as outdated or add another section at the bottom "Other References"

You will not need to run `make html` and push the results, just push the changes to the rst files because I will run another scri

[2018-03-24 20:28] nathangeorge1 commented on #273
I was hoping to put the videos in the "Install" section because it's an installation video. I thought headings should be based on content, not what they are, in the sense that "Install" is what you do with it but "video" is what it actually is; so having a video section might confuse people (it did for me when I was first starting).

My experience from beginners in ROS is that deprecated informati

[2018-03-25 09:33] gavanderhoorn commented on #273
@nathangeorge1 wrote:

may I suggest to try and host them somewhere else?

Videos are large, binary files that are essentially opaque blobs to git. It doesn't make much sense to me to store them in a repository.

[2018-03-25 12:54] Levi-Armstrong commented on #273
I agree, if you could email them to me I could host then on the same server that the installers are on.

[2018-03-25 21:52] nathangeorge1 commented on #273
Oh ok; I forgot about that; sure when it's done, I'll email it to you

[2018-03-26 14:06] nathangeorge1 commented on #273
how do I find your email @Levi-Armstrong? The installation video is finished

[2018-03-28 09:59] vincent-hui commented on #240
Hi Levi,

Qt Creator 4.6.0 released!!
http://blog.qt.io/blog/2018/03/28/qt-creator-4-6-0-released/

[2018-03-28 15:42] nathangeorge1 commented on #273
Hey @Levi-Armstrong, I sent the video to your email. Let me know how I should link the video to the PR in my fork.

[2018-03-29 22:58] Levi-Armstrong commented on #273
@nathangeorge1 I watched the video and it looks great and thank you for taking the time to create it. I wanted to get your opinion on one thing. Usually we try to keep tutorial videos to less than 3 minutes and maybe @shaun-edwards and @gavanderhoorn could provide more details on why. I believe there is data available that suggest anything longer people loose patients and it becomes difficult to f

[2018-03-30 01:31] Levi-Armstrong commented on #272
Were you able to solve the issue?

[2018-03-30 13:33] nathangeorge1 commented on #273
Ya that makes sense. I'll try to divide the video into chunks <3 min and resend to your email.

[2018-03-31 13:40] Fitz13009 commented on #272
Hey, sorry for not reply. No, I also tried to install it in my personal computer, also faced the similar error.

My computer is Ubuntu 14.04, which is downloaded from the official website. And about half a year ago, I have installed once your ROS plugin with Qt creator 5.7 on it successfully, following your old version tutorial. Also, this plugin still works today.

But this time, I installed your

[2018-03-31 14:30] Levi-Armstrong commented on #272
Could you try running the installer from a terminal and pass the -v option and post the output? It provide better insight into why it is failing.

[2018-03-31 14:54] Fitz13009 commented on #272
Hello, I run the installer again within a Terminal and a -v option, then the output is below.
"lige" is user name.
lige@lige-System-Product-Name:~/Downloads$ ./qtcreator-ros-trusty-latest-offline-installer.run -v
IFW Version: 3.0.2, built with Qt 5.9.0.
Build date: Nov 23 2017
Installer Framework SHA1: a97afeb
[0] Language: en
[0] Arguments: ./qtcreator-ros-trusty-latest-offline-installer.run, -v

[2018-03-31 14:56] Fitz13009 commented on #272
When I run the Qt creator in a Terminal, and then import a ROS workspace, error happened and the Terminal shows:
lige@lige-System-Product-Name:~/QtCreator/latest/bin$ ./qtcreator
Segmentation fault (core dumped)

[2018-03-31 15:28] Levi-Armstrong commented on #272
Ok, so it look like the installer works but you are getting a segmentation fault when launching qtcreator?

[2018-03-31 15:35] Levi-Armstrong commented on #272
I would try the command below in the bin directory and post the output.

`strace qtcreator-ros`

[2018-03-31 17:09] Fitz13009 commented on #272
Hi, I went to bin directory and then opened a terminal, and input:
lige@lige-System-Product-Name:~/QtCreator/latest/bin$ strace ./qtcreator-ros

The qt creator started and the terminal keep posting something. And then I did the ROS workspace import, then qt creator collapsed as expected.

I paste the contents in the terminal below, which are posted during the time between "import" and collapsing.

[2018-03-31 17:12] Fitz13009 commented on #272
Yes, you are right, it seems like the installation succeed(although it will jump from 40% to 100%) , but the error happened in launching, when I import ROS workspace.

[2018-03-31 19:18] Levi-Armstrong commented on #272
The jump from 40 to 100% is ok because all it is doing is unzipping a compressed file which does not take very long. You are most likely missing a ros dependency. If you launch qtcreator from a terminal then go through the import process and post the terminal contents because I print information that may give some insight on what may be missing.

[2018-04-02 16:47] Fitz13009 commented on #272
I really did the same thing as you told me. I launch qtcreator from a terminal and then did the import process. But only the `Segmentation fault (core dumped)` is given in the terminal, nothing else.

[2018-04-03 12:42] Levi-Armstrong commented on #272
I just want to confirm what version of ubuntu you are using? The original issues mentions 16.04 but later you state that you are using 14.04. Also see you downloaded the offline installer, could you try the downloading the online installer and try it.

[2018-04-03 21:53] Levi-Armstrong commented on #272
I will also create a clean virtual machine and test it again to make sure it still works.

[2018-04-10 11:28] JaFEKl opened #274 "Cannot compile catkin_ws inside QT"
Hi everyone,
I'm trying to use the ros_qtc_plugin to simplify my working with ROS.
I followed the steps on how to import an existing catkin workspace from here: https://github.com/Levi-Armstrong/ros_qtc_plugins/wiki/Setup-Qt-Creator-for-ROS and set up the build settings like explained.

I followed each step carefully, but when I want to start building my workspace I get the following error:

`14:2

[2018-04-24 00:36] Levi-Armstrong commented on #273
I apologize, I have been getting ready for a demo. I will take a look on Thursday.

[2018-04-25 01:42] vincent-hui commented on #240
Hi Levi,

Can you build ros_qtc_plugin with Qt Creator 4.6 ?

[2018-05-12 17:32] nathangeorge1 commented on #273
PR made

[2018-05-14 13:28] nathangeorge1 commented on #273
I see that the PR is approved; is there another step for me to do so the PR can be merged?

[2018-05-16 12:33] sunyuzhe2017 opened #276 "How to set ros project CMakeLists file to find qt59's modules?"
Ubuntu 16.04,ros kinetic
I created  a  project with 'catkin_create_qt_pkg'command ,then the CMakeLists file is build with QT4,like this:
`rosbuild_prepare_qt4(QtCore QtGui) `and so on ,which qt modules were located at "/usr/include/qt4"
I change the CMakeLists file to qt5,like follow sentences:
[code]
then I find that the Qt modules path changed to "/usr/lib/x86_64-linux-gnu/qt5",still it wasn't f

[2018-05-16 12:57] stephenxin opened #277 "I can't use help documents,when I press "F1" or load examples,Qt Creator will be closed directly"
ros_qtc_plugin is very nice,but I can't use help documents,when I press "F1" or load examples,the Qt Creator with ROS Plug-in will be closed directly.I guess it's something wrong with path.I tried,but I still don't know how to do,can anyone help,thanks.
ps: another qt creator works properly.

[2018-05-16 14:02] Levi-Armstrong commented on #276
I recommend reinstalling because new versions are distributed using a Qt Installer which should solve this issue. I recommend removing all of the `/opt/qt59` described in the wiki.

[Wiki](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html)

[2018-05-16 19:51] #273 closed

[2018-05-17 02:15] Levi-Armstrong commented on #277
I will take a look, I am able to recreate the issue.

[2018-05-17 03:04] MrYelameli opened #278 "#include<ros/ros.h> (no such file or directory)"
I followed these steps to install qt ros plugin [https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html](url)

After that these steps to create a workspace https://ros-industrial.github.io/ros_qtc_plugin/_source/Import-ROS-Workspace.html

I created a node.  You can see first line red underline. It says ros/ros.h No such file or dirctory.
Could you help me? I cross checke

[2018-05-17 08:08] sunyuzhe2017 commented on #276
I have tried reinstall as "Xenial Online Installer (Recommended)" this one.It doesn't work.So it's not the plugin's matter,the CMakeLists file was created by "catkin_create_qt_pkg",it must be the command's matter.I'll find other solutions,thanks any way.
By the way,after I reinstalled by Qt Installer,I find 'Help' problem when start QtCreator.There  is no help for qt,this problem never happen when

[2018-05-17 19:25] Levi-Armstrong commented on #278
I would take a look at the FAQ section on the wiki.

[Warning this file is not part of any project](https://ros-industrial.github.io/ros_qtc_plugin/_source/FAQ.html#warning-this-file-is-not-part-of-any-project)

[2018-05-21 04:01] #278 closed

[2018-05-25 12:44] stephenxin commented on #277
hello，have you solved the issue?thanks.@Levi-Armstrong

[2018-06-05 08:15] cgkournelos opened #279 "New ROS files customization"
Is it possible somehow to customize the templates for the new files  (Basic node, CMakeLists.txt, etc.) ?

[2018-06-05 11:43] vincent-hui commented on #240
Hi Levi,

Qt Creator 4.7 beta is released!
http://blog.qt.io/blog/2018/06/05/qt-creator-4-7-beta-released/

Do you think it is a good idea to support Qt Creator 4.7 and skip Qt Creator 4.6 ?

Thank a lot

[2018-06-05 23:59] Levi-Armstrong commented on #279
Yes, are interested in added them to the repository or just to for your use? [Here](https://github.com/ros-industrial/ros_qtc_plugin/tree/4.5/share/templates/wizards) are the currents ones which can be used as a guide. I have added them before to an already installed version but it has been a while. I will test it and then update on how I added them to an already installed version.

[2018-06-06 12:30] klapetos commented on #279
I don't know. I just thought that it would be a good feature to be able to customize these template file according to your personal preference.

[2018-06-11 02:33] Levi-Armstrong commented on #279
Ok, so depending on where you install your version you should be able to place them in this location. You will see the current ones available that are added using the json method which should be a good guide.

~/QtCreator/latest/share/qtcreator/templates/wizards/files

[2018-06-13 06:45] iohanaan opened #280 "Cannot extend ROS workspace"
I want to extend default ROS workspace (/opt/ros/kinetic) with my own workspace. How can I do this with plugin?
For example: I have one workspace with SDK, which located in another directory instead of /opt/ros. And I want to create new workspace with examples, which should load sdk workspace and ros workspace.

Also I use catkin_make and can't migrate to catkin tools

[2018-06-14 14:50] Levi-Armstrong commented on #280
You need to prepend the CMAKE_PREFIX_PATH environment variable with the path to your other workspace.  I think you can provide cmake arguments -E env NAME=VALUE but have never tested it.

[2018-06-14 18:16] Levi-Armstrong commented on #277
I have not. I am working on the next release which will have this issue resolved.

[2018-06-15 19:44] nprof50 opened #281 "Issue with Indenting in C++"
First off, thank you for all the hard work on this plugin. Qt has been my go-to IDE for ROS development since I discovered this existed.

In regards to the problem, I have two C++ workspaces. The first workspace is completely fine with regards to indentation (single 4-spaced tab indent). However, the second workspace seems to be ignoring the 4-spaces-per-tab indent style I've defined in the settin

[2018-06-16 00:48] Levi-Armstrong commented on #281
Hello,

I am glad you like the IDE plugin. Are you using the latest which is installed using a Qt Installer? Also when creating/importing a new workspace the style is set at the project level. So if you make your workspace active, by right clicking on it and setting it as active. Then click on the project tab on the left then there is a gray text *Code Style* select it and then set the style guide

[2018-06-18 14:29] nprof50 commented on #281
Man you hit the nail on the head! I hadn't had the right code style selected for that project. I thought it wasn't something that was set per-project. Thank you so much for your help!

[2018-06-18 14:29] #281 closed

[2018-06-22 12:41] nathangeorge1 opened #282 "Install for Arm architecture"
Hello,

Can this plugin be installed on an Arm board, like the Jetson TX1?

I tried to run the .run installer, but got
`bash: ./qtcreator-ros-xenial-latest-online-installer.run: cannot execute binary file: Exec format error`

Thanks,
Nathan

[2018-06-23 16:49] Levi-Armstrong commented on #282
No would need to build from source. I believe the recommend approach is to use the deploy feature when using Qt Creator to develop on an Arm board.

[2018-06-25 06:56] koenlek opened #283 "ctrl clicking functions sometimes opens includes from install space"
We use catkin tools with install space enabled (`catkin config --install`).

If we have a CMakeLists.txt that installs the include directory, e.g.

[code]

This can confuse QtCreator, because now some includes are available in the `catkin_ws/src` and in the `catkin_ws/install` folder (after a `catkin build`). This can be very annoying in practice, because sometimes you ctrl click in QtCreator into

[2018-06-25 12:17] nathangeorge1 commented on #282
Interesting; I'll look into it; have you done embedded deployment before or know of any good resources?

[2018-06-25 12:53] nathangeorge1 commented on #282
sorry; should've googled this first: https://www.jetsonhacks.com/2017/01/31/install-qt-creator-nvidia-jetson-tx1/

[2018-06-25 12:53] #282 closed

[2018-06-27 01:29] AgnosticPope commented on #240
Hi Levi, I'm currently in the middle of trying to refactor the plugin to work with the newest version of creator -- so far it's mostly the plugin project structure that's changed -- when I found this bug. Any luck so far, or should I continue down this path?
The other trick, is that I'm working on Indigo currently -- which means Ubuntu 14.04 -- which won't compile Creator with gcc 4.8.4. I had to

[2018-06-27 02:00] vincent-hui commented on #240
Qt Creator 4.7 Beta2 released!

http://blog.qt.io/blog/2018/06/21/qt-creator-4-7-beta2-released/

@AgnosticPope Are you using Qt Creator 4.7 ?

[2018-06-27 06:28] iohanaan commented on #280
I provided next cmake arguments: -DCMAKE_PREFIX_PATH=VALUE
and it's works, thanks

[2018-06-27 06:28] #280 closed

[2018-06-29 08:33] yangshiliang opened #284 "Qt Creator crashes when creating a new package"
Environment:
OS: Ubuntu 16.04
Installer: qtcreator-ros-xenial-latest-offline-installer.run (20180629)
About Qt Creator: Qt Creator 4.5.1 Based on Qt 5.10.0 (GCC 4.9.3, 64 bit)

Reproduce steps:
1. Start Qt Creator from command line: qtcreator-ros
2. With NO ROS workspace opened, click File > New File or Project...
3. Click ROS > Package > Choose
4. Qt Creator crashes.
The crash message is as follo

[2018-06-30 15:15] Levi-Armstrong commented on #284
Thank you for the feedback. I need to add a check that make sure the user has a workspace loaded before allowing them to add a new package.

[2018-06-30 15:20] Levi-Armstrong commented on #283
Yea when building the code model it does not order the includes generated from the CMake Code Block generator is not in the same order as the PATH Environment Variable. It should not be to difficult to add a sorter that sorts the include directory using the PATH Environment Variable so follow under cursor works.

[2018-07-02 13:49] #274 closed

[2018-07-05 08:17] x-libin commented on #130
@MarqRazz , I have the same question as you, can you tell me how did you solve the problem。

[2018-07-05 12:34] Levi-Armstrong commented on #130
If you switch to using the [Qt Installer](https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html) this should go away. I would recommend completely removing the Qt version installed from beineri or levi-armstrong/qt-libraries-xenial ppa depending on when you first installed the plugin.

[2018-07-06 01:43] vincent-hui commented on #240
Qt Creator 4.7 RC released !!

http://blog.qt.io/blog/2018/07/05/qt-creator-4-7-rc-released

[2018-07-19 13:29] martinakos opened #286 "Run configuration for debug"
If I create a run configuration with ROS Launch Step and I press the debug arrow, qtcreator builds the packages in the workspace and shows the dialog below
![image](https://user-images.githubusercontent.com/2371869/42944908-d7c53496-8b5e-11e8-8d29-944650d6fa0d.png)

If I create the run configuration with ROS Attach to Node and select the package, node and tick Continue on attach, as in the image b

[2018-07-21 00:44] Jmeyer1292 commented on #240
@Levi-Armstrong Qt Creator 4.7 moving the C++ code model to the Clang Plugin by default seems like a pretty exciting milestone as far as editors go. Allow me to join the din of (unhelpful) voices looking for an upgrade.

[2018-07-21 05:15] Levi-Armstrong commented on #286
Did you have both the rosrun step and the debug step?

[2018-07-24 08:09] cristea commented on #286
I have the same behavior. Maybe I should have asked here first :)
[](https://answers.ros.org/question/289819/debugging-using-ros-qt-creator-plugin/)

[2018-07-24 13:41] nathangeorge1 commented on #286
If it matter, trying to [attach to unstarted process](https://ros-industrial.github.io/ros_qtc_plugin/_source/Debugging-Catkin-Workspace.html) gives me:

`poll failed with error Interrupted system call`

[2018-07-24 14:02] oxoocoffee opened #287 "Online Installation fails to /opt/ros/QtCreator"
I just tried to install latest version on Linux Mint (based of 16.04) and got error. Looks like it is permisioning problem. I was asked at the very beginning for su password. I did not pause installed at any stage so it should not expire. I think it is installer problem.

![ros-plugin-instasll](https://user-images.githubusercontent.com/2259575/43143352-95641900-8f28-11e8-80c8-3361a6e96edc.png)

[2018-07-24 17:55] martinakos commented on #286
I have tried a roslaunch step and then a ros attach to node step as in the figure below

![image](https://user-images.githubusercontent.com/2371869/43156602-85577c4c-8f72-11e8-9da4-5dd4a625d696.png)

It builds and starts the voxblox node. However, it doesn't hit any breakpoints. Then if I "attach to a running application..." it attaches and stops at the break points.

[2018-07-25 03:21] Levi-Armstrong commented on #286
You are using it correctly and I have experience this recently myself so I will mark this as bug.

[2018-07-25 03:54] Levi-Armstrong commented on #286
Also in the case of attaching to a process you will need to add a sleep at the beginning of the node to allow enough time for the debugger to attach. This is is suppose to do the same thing as manually attaching to a process so it also will require a sleep.

[2018-07-25 12:25] ghost opened #288 "Attach to Unstarted Application"
I thought I'd open a separate issue from #286. I want to debug with the following technique:

1. [Setup Ubuntu to allow debugging/ptrace](https://ros-industrial.github.io/ros_qtc_plugin/_source/Setup-Qt-Creator-for-ROS.html#setup-ubuntu-to-allow-debugging-ptrace)
2. [Attach to a unstarted process](https://ros-industrial.github.io/ros_qtc_plugin/_source/Debugging-Catkin-Workspace.html)
3. Setup Run

[2018-07-31 12:12] nathangeorge1 commented on #288
any update?

[2018-07-31 12:13] nathangeorge1 opened #289 "Clicking "Help" Crashes Qt Creator"
Clicking the "Help" button in the left sidebar always crashes Qt Creator. I remember there were some other buttons crashing it too. Is this something to ask here or in the Qt bug tracker?

[2018-08-03 17:10] Levi-Armstrong commented on #288
I currently receive the same messages but does not seem to affect the debugger from attaching in my case. Does the debugger fail to attach?

[2018-08-13 09:11] inspire1989 opened #290 "Installer download links not working"
Hi,
the server at https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/xenial/ isn't responding. Could you upload the latest version of the installer somewhere else? Thanks in advance!

[2018-08-13 12:26] Levi-Armstrong commented on #290
I will look into this.

[2018-08-13 13:07] Levi-Armstrong commented on #288
Have you tried removing the `ROS Step: debug movement GeneralTester` and running through the process?

The reason I ask is there is an open bug report on this run step which may be causing an issue. Also if you are already launching the *Attach to an unstarted process* manually, this run step is not need because it basically does the same thing and could be conflicting.

[2018-08-13 13:44] Levi-Armstrong commented on #290
It is back up and operational.

[2018-08-13 15:30] inspire1989 commented on #290
thanks! :)

[2018-08-15 21:12] #290 closed

[2018-08-25 20:17] A-I-Ivanov opened #291 "Catkin_make fails to run"
After installing using the .run file and following the import instructions on the wiki, the following error occurs:

 14:15:37: Could not start process "catkin_make" --cmake-args -G 'CodeBlocks - Unix Makefiles' -DCMAKE_BUILD_TYPE=Debug
Error while building/deploying project untrusted_maps_planner (kit: Desktop)
When executing step "CatkinMake Step"

A similar error is present if I try release mod

[2018-08-26 03:52] Levi-Armstrong commented on #291
If you launch qt creator from a terminal then does it build?

[2018-08-26 03:54] A-I-Ivanov commented on #291
If you read my note, I have been launching from the termina. Also, I have
roa sourced in my bashrc.

Best ,
Alex

On Sat, Aug 25, 2018, 21:52 Levi Armstrong <notifications@github.com> wrote:

[2018-08-31 17:41] Levi-Armstrong commented on #291
The statement above is not clear to me what you actual tried. The way I read it is you launch Qt Creator from the terminal then from a terminal you call catkin_make and everything builds fine. I am asking if you launched Qt Creator from a terminal and then from within Qt Creator does it build?

[2018-09-03 01:55] vincent-hui commented on #240
Hi @AgnosticPope, would you mind telling us the progress of refactoring the plugin?

Thank a lot.

[2018-09-10 13:23] #288 closed, assigned to nobody

[2018-09-14 06:11] rjosodtssp opened #293 "Font of interface is too small, how to zoom in ?"

[2018-09-17 19:29] A-I-Ivanov commented on #291
Sorry for the late response. No, I mean I try to build things through Qt alone (having launched it through a terminal with ros sourced). This is unsuccessful. Conversely, simply calling catkin_make in a terminal is successful.

[2018-09-18 01:47] Levi-Armstrong commented on #293
Depending on which font you are referring to but usually ctrl + mouse wheel works.

[2018-09-18 01:49] Levi-Armstrong commented on #291
Have you compared the environment variables from a terminal where it builds to the ones in Qt Creator>Projects>Build?

[2018-09-18 02:40] A-I-Ivanov commented on #291
The variables seemed fine, but then when I tried to build it they changed. In addition, qt made a new build folder called (Defalt-src.....), generated another CMakeLists top file called CMakeLists.txt.user, and also somehow broke catkin. Now the project doesn't build at all. I think I may have to reinstall ros. No offense here, but this has cost me quite a few hours, so I don't know how much furth

[2018-09-18 23:11] Levi-Armstrong commented on #291
If you are getting a CMakeLists.txt.user then the workspace was not imported using the this plugin. This file get created if you open it as a pure cmake project. This also explains why it made a new build folder. I recommend removing any .user file and clean the workspace by removing everything except the src folder. Then follow [this](https://ros-industrial.github.io/ros_qtc_plugin/_source/Import

[2018-09-19 08:49] jabobian opened #294 ""Run::SettingsDeployment::Files to deploy" is always empty for Catkin project"
Hi.

It is easy to do local build and debug with the ros_qtc_plugin. But it is more useful to deploy the project to a remote host (e.g. IPC, embedded boards etc) and debug on from a client (e.g. Laptop).

For convenience, when start a project, I choose "New project" rather than open the CMakeLists.txt file, This will generate "ProjectName.workspace" and "ProjectName.workspace.user" for storing pro

[2018-09-19 12:08] jabobian commented on #294
the QT Creator website (http://doc.qt.io/qtcreator/creator-deployment-embedded-linux.html) said

Qt Creator cannot extract files to be installed from a CMake project, and therefore, only executable targets are automatically added to deployment files. You must specify all other files in the QtCreatorDeployment.txt file that you create and place in either the root directory of the CMake project or t

[2018-09-19 15:57] A-I-Ivanov commented on #291
Hi Levi, I had to reinstall Ubuntu a few days ago, and I took the time to try again. I ended up following the wiki you mentioned, but still no dice. The same error as before. I also installed the default Qt creator by itself (after having followed your install guide for qtcreator-ros and following the wiki). I was able to get qt to build by taking the copying the toplevel cmake file into my Catkin

[2018-09-19 16:59] Levi-Armstrong commented on #291
Thank you for he update. Screenshots would be helpful and if the project is public I could try building it on my end.

[2018-09-28 16:41] A-I-Ivanov commented on #291
Levi, I'll try to get screen shots to you this weekend. Unfortunately it's not public at the moment, but I can mirror it on github temporarily for you. Ill get back to you asap, but since this project is on the back burner, it takes me some time to respond. Sorry for the delay.

[2018-09-30 15:07] A-I-Ivanov commented on #291
Hi Levi. It seems that the problem is now resolved, but I'm not exactly sure why. When I get done with this project, I will attempt to do everything from scratch and see what happens. Of note, there was a problem where when I sourced my workspace (in command line) it broke roslaunch and my path variables. I then deleted my workspace and re-cloned. Both the roslaunch problem and qtcreator-ros probl

[2018-10-05 12:39] koenlek commented on #283
Any chance that this will be looked at by someone? It still causes confusion and loss of work (when accidentally working in an installed file) for us.

[2018-10-05 15:33] christian-rauch opened #295 "plugin enforces tabsize of 2"
I am using the QtCreator + ROS plugin installed via the *.run installer.
It appeasrs to me that chaning the code style in the options has no effect. E.g. the tabsize is set to 2 spaces, even though I set it to 4 in the `Edit Code Style` in a copied `ROS [built-in]` style.
There are no problems setting the style in a regular installation of QtCreator.

Is the C++ style hard coded in the plugin?

[2018-10-05 21:37] Levi-Armstrong commented on #295
It is set at the project level. Look under Project>Code Style.

[2018-10-08 10:24] christian-rauch commented on #295
Have project level settings precedence over global settings? It is confusing that there is no hint in the settings dialog and that the settings have no effect.

[2018-10-08 11:13] #295 closed

[2018-10-11 09:56] vincent-hui commented on #240
Qt Creator 4.8 beta released!! http://blog.qt.io/blog/2018/10/11/qt-creator-4-8-beta-released/

Do you think it is a good idea to support Qt Creator 4.8 and skip Qt Creator 4.7 ?

Thank a lot

[2018-10-12 15:10] harryman1 commented on #284
I have the same issue, could you please indicate when a pacth will be released for this problem, please

[2018-10-15 21:28] DrSocha opened #299 ""This file is not part of any project" Qt C++ project help"
Hi,

I'm new here. I created this account because I'm desperate. I installed Qt Project  5.11.2 - MSVC 2017 64-bit and Qt Creator 4.x CDB Debugger Support tool only for my school C++ projects.

No matter what I do when I create a new project(New project -> Non-Qt Project -> Plain C++ Application) I get this message and can't do anything with my work. I can't build and run the application whats the

[2018-10-16 08:44] gavanderhoorn commented on #299
Two questions:

 1. are you actually using the ROS Qt Creator plugin or just Qt Creator itself?
 1. I see this:

     are you running Windows?

If you'd answer "no; yes", then I don't believe this is the correct tracker.

This project is a *plugin* for Qt Creator. It's not a support channel for Qt Creator itself.

[2018-10-27 06:01] TDurham123 opened #300 "Not Compiling Node .cpp files"
Ubuntu 16.04 64bit
QtCreator 5.7.1

Installed plugin as per https://ros-industrial.github.io/ros_qtc_plugin/_source/How-to-Install-Users.html
Able to start a new project, add a package and build without issue. The problem is when I add a node and rebuild, the node.cpp file is not compiled. I can fix the issue by manually adding the following lines to my CMakeLists.txt file;

add_executable(my_node

[2018-10-27 14:18] MarqRazz commented on #287
I can confirm that I have this same issue. This is on a fresh install of Ubuntu 16.04 and I tried running the installer in both my /opt and /home directory. I can still run the program but have to manually start it from the /bin directory (cant start the program from the terminal).

Here is a snippet from my InstallationLog.txt
`************************************* Invoked: Sat Oct 27 07:37:59 20

[2018-10-27 23:30] Levi-Armstrong commented on #300
@gavanderhoorn is correct, currently the onus is on the developer to edit the CMakeLists.txt.

[2018-10-28 13:13] kargarisaac opened #301 "Segmentation fault (core dumped)"
Hello,
I'm new in qtcreator. I want to work with ros. I installed qtcreator-ros using the tutorial but when I want to run it in terminal using qtcreator-ros command it gives me the following error:
Segmentation fault (core dumped).
I don't understand I installed it correctly or not. Should I first install qtcreator and then add ros to it or I have to remove qtcreator completely? first I removed it

[2018-10-28 17:43] Levi-Armstrong commented on #301
It installs everything into a self contained directory so it should have what it needs. What version of Ubuntu are you working with?

[2018-10-29 19:12] oxoocoffee commented on #287
I just did try latest online installer on 18.04 and it installed just fine. I had to "sudo -s" first then run installer. Can someone verify if this works on 16.04?

This might be related https://bugreports.qt.io/browse/QTBUG-51337

[2018-10-29 19:17] oxoocoffee opened #302 "ROS QtCreator on Ubuntu 18.04 LTS"
I am starting this thread about initial 18.04 Status
Here is what works so far:
1. Installed fresh Ubuntu 18.04 LTS
2. Installed latest ROS QtCreator using online installer. Since I am installing into /opt/ros/QtCreator I had to sudo -s first, since installer has issue installing as regular user to other folder then ${HOME}
3. ROS Qt Creator starts and I can open my workspace

Issues noticed:
1. O

[2018-10-30 02:58] yunjeongkim opened #303 "I can not download the installer."
Hi, I am trying to access the ros plug-in download homepage

https://aeswiki.datasys.swri.edu/qtcreator_ros/downloads/installers/xenial/qtcreator-ros-xenial-latest-online-installer.run

to install qt-ros-plugin, but I couldn't.

I think the server has a problem.

Could you fix this problem? Thanks

[2018-10-31 01:16] TDurham123 commented on #300
It would know what to add the same way I did, from the project file. I was under the impression that the purpose of the plugin was to create packages and the nodes they contain. Please excuse my ignorance, I am a long time Qt application developer, but new to ROS.

[2018-10-31 08:12] gavanderhoorn commented on #300
that would need quite some awareness of what is in the project file (which should be already there) and what is in the `CMakeLists.txt`.

As `CMakeLists.txt` are typically written by humans (at least in typical ROS pkgs) and can be quite intricate (and often times order of statements matters), that would probably make inserting statements into one while keeping track of everything in there and mak

[2018-10-31 08:40] DLuensch commented on #303
I think that should only be a workaround. As mentioned in the tutorial it is not longer recommended to use the ppa. In this case a statement regarding the status of the official download side would be nice.

[2018-10-31 14:10] Levi-Armstrong commented on #303
The server is down and we are working to get it backup.

[2018-10-31 14:11] Levi-Armstrong commented on #303
Yea, I would recommend against using the ppa it is outdated.

[2018-11-06 17:14] Levi-Armstrong commented on #303
Sorry I missed this. I will look into it.

[2018-11-08 14:59] leowalkling commented on #303
Unfortunately, I can't access it because of missing permisions.

[2018-11-09 12:59] leowalkling commented on #303
I can access it now.
Thanks!

[2018-11-09 14:52] svavs commented on #302
Same instructions for 16.04 are working on 18.04.
No issue to report on my side for the installation, compiling and opening workspaces. On my systems, opening ws is not taking more time than 16.04 installation. However, I have installed it under the $HOME/.myappsfolder.

[2018-11-09 15:00] svavs commented on #277
Seems a Duplicate of #289

[2018-11-14 16:52] Vonstafenberg commented on #303
I downloaded the [file](https://qtcreator-ros.datasys.swri.edu/downloads/installers/trusty/) for the online installer but when I run it ...the installation window is giving me a message....**Cannot retrieve remote tree**...!

[2018-11-15 17:15] svavs commented on #303
Simply add a temporary repository in the installer (Configuration button) with no name, no password and path https://qtcreator-ros.datasys.swri.edu/downloads/repositories/xenial/latest/. It will work as usual.

[2018-11-16 10:49] Vonstafenberg commented on #303
@svavs Thank you for the help, it works but then I am facing yet another error mentioned [#272](https://github.com/ros-industrial/ros_qtc_plugin/issues/272)...**Cannot create link from** .... @Levi-Armstrong .... the installation works even in-spite of the error **Cannot create link from**......Qt does not crash on creating a new ROS project or importing an existing one, yet it crashes on clicking

[2018-11-16 13:21] atleaa commented on #286
First of all, very nice work on the plugin.
Are there any updates on this issue? I have a similar setup as described by martinakos and debugging does not start automatically (even with sleep). My current workaround is to use Attach to Running/Unstarted Application...

[2018-11-16 18:53] svavs commented on #303
@Vonstafenberg I don't have this problem. The link is correctly created on both Ubuntu 16.04 and 18.04 (installing as non root, under the user home directory).
The Help crash is a known bug (#289 and #277).

[2018-11-19 10:14] Vonstafenberg commented on #303
@svavs .... this is strange since I did a fresh installation of Ubuntu and ROS a few days ago....the problem persisted for me  after the installation...! I wonder if it has anything to do with the installation of Ubuntu...?  and for the `Help` crash... so ok....its a bug already [ known](https://github.com/ros-industrial/ros_qtc_plugin/issues/289).

[2018-11-19 11:12] svavs commented on #303
@Vonstafenberg maybe. Mine are upgrades from previous distro versions, not clean installations.

[2018-11-21 20:12] #300 closed

[2018-11-21 20:18] Levi-Armstrong commented on #301
Where you able to resolve the issue?

[2018-11-21 20:20] Levi-Armstrong commented on #299
No response.

[2018-11-21 20:20] #299 closed

[2018-11-21 22:00] Levi-Armstrong commented on #230
Ok to close?

[2018-11-21 22:08] Levi-Armstrong commented on #240
I have everything building on 4.8. I am currently working on getting a few of the issues addressed and should be able to do a release next week.

[2018-11-22 02:47] #291 closed

[2018-11-22 03:31] Levi-Armstrong commented on #240
This is addressed by PR #305. I will close once the installer has been released.

[2018-11-22 03:32] Levi-Armstrong commented on #284
This should be addressed by PR #305.

[2018-11-22 06:08] #284 closed

[2018-11-27 15:00] vincent-hui commented on #240
Thank @Levi-Armstrong, Qt Creator 4.8 should be released next week.

[2018-11-27 17:38] wutongyu98 commented on #117
This works well for me. Thanks

[2018-11-27 18:53] Levi-Armstrong commented on #236
Addressed by PR #305

[2018-11-27 18:53] #236 closed

[2018-11-27 18:54] #230 closed

[2018-11-28 06:16] Zhangpeishen opened #308 "Warning: Failed to source workspace because this file does not exist: "/home/shen/test""
Hello, I am using ubuntu 18.04 and melodic and just start.
When I follow the instruction and try to new a project, there is no CMakeList file under my /src. There are only three files like `test/test.workspace` and `test/src`.
Also the terminal will warn that
`Warning: Failed to source workspace because this file does not exist:  "/mydir/test"`
I am not sure did I create a project correctly or not

[2018-11-28 13:49] Levi-Armstrong commented on #240
I should have it available to download in the next few hours. I have it released for Xenial and Bionic.

[2018-11-28 14:51] Levi-Armstrong commented on #240
It is available for Download! Since the location of the repository has changed. I recommend uninstalling the current version and downloading the new installer so it has the correct repository location to get updates in the future.

[2018-11-28 14:51] Levi-Armstrong commented on #303
New version is available for download!

[2018-11-28 14:51] #303 closed

[2018-11-28 14:52] Levi-Armstrong commented on #289
Fixed in the latest version. Download the latest installer.

[2018-11-28 14:52] #289 closed

[2018-11-28 14:53] Levi-Armstrong commented on #277
This is fixed in the latest version. See wiki to download the latest installer.

[2018-11-28 14:53] #277 closed

[2018-11-28 15:00] Levi-Armstrong commented on #308
The warning has "/mydir/test" but your issue title has "/home/shen/test" mentioned. Did you change the warning message when adding it to the comment?

Also is `/home/shen/test` a ros workspace?

This `Warning: This file is not part of any project.?` warning will exist until the workspace has successfully built within Qt Creator. Have you built the workspace?