[2016-06-10 12:08] raultron opened #1 "Cant find ROS code format in Qtcreator options"
Hi,

I followed the wiki install instructions but when I try to set the code format to ROS:

This options are not available. I am sure that I am using the new Qtcreator compiled version.

Details of my computer:

Ubuntu 14.04
Qt Creator 4.0.2
Based on Qt 5.6.0 (GCC 4.8.4, 64 bit)

[2016-06-10 12:43] raultron opened #2 "catkin tools"
Is it possible to enable [catkin tools ](http://catkin-tools.readthedocs.io/en/latest/) support to the build process? How can I change this setting?

Thanks!

[2016-06-10 13:24] raultron commented on #2
For anyone interested, it was easy.

Once you have imported the ROS workspace:
go into Project in the left menu
deactive the default build and clean steps
add new build step-> command: catkin, Arguments: build
add new clean step-> command: catkin, Arguments: clean

[2016-06-10 13:24] #2 closed

[2016-06-10 13:26] raultron opened #3 "No code completion"
I am not getting code completion while typing. When I go into Help->About plugins, I don't see the Clang model plugin.

Any ideas?

[2016-06-10 15:34] raultron commented on #3
Sorry I had some workspace naming problems, I deleted the build a devel folders and everything is working now.

[2016-06-10 15:34] #3 closed

[2016-06-11 10:21] VictorLamoine opened #4 "QT is not Qt"
It's a detail but `Qt` is "cute" and `QT` is QuickTime.
The YouTube video title and the wiki should be edited

[2016-06-12 17:03] Levi-Armstrong commented on #4
@VictorLamoine, The wiki has been updated.

[2016-06-13 04:01] Levi-Armstrong commented on #1
@raultron, I have created the PR #6 to address the issue. Once it has been merged I will update the Wiki. The user will no longer have to make these changes. They will be handled when the project is created.

[2016-06-13 04:04] Levi-Armstrong opened #7 "The setup.sh script is cloning the wrong ros_qtc_plugin repository."

[2016-06-13 04:12] Levi-Armstrong commented on #7
This has been addressed by PR #5.

Developers and user, to fix the issue you must delete both folders (ros_qtc_plugins and ros_qtc_plugins-build) then go through the setup process again.

Note: There is no need to delete the folders (qt-creator and qt-creator-build) as long the setup process is executed in the same location as the first time it was ran.

[2016-06-13 04:14] Levi-Armstrong commented on #7
FYI, @VictorLamoine and @raultron

[2016-06-13 06:41] VictorLamoine commented on #7
I did not try the plug-in yet but thanks for the info :)

[2016-06-14 15:35] Levi-Armstrong commented on #1
This has been addressed by PR #6

[2016-06-14 15:35] #1 closed

[2016-06-14 15:37] Levi-Armstrong commented on #1
@raultron, To get the latest changes run the command below within the ros_qtc_plugin directory.

`bash setup.sh -u`

or

`bash setup.sh -d`

[2016-06-14 18:09] Levi-Armstrong opened #8 "The run and build buttons are grayed out."

[2016-06-14 23:26] Levi-Armstrong commented on #8
Address by PR #9

[2016-06-14 23:26] #8 closed

[2016-06-14 23:31] Levi-Armstrong opened #10 "Add correct license and copyright information."
Proposed agreement is below:

[code]

[2016-06-14 23:33] Levi-Armstrong commented on #10
@shaun-edwards, @Jmeyer1292, please review. There current license of Qt Creator is GPL.

[2016-06-15 02:41] shaun-edwards commented on #10
Am I right to assume that we have no choice but to use the GPL for this?

[2016-06-15 04:46] Levi-Armstrong commented on #10
After researching it, looks like you are correct that it has to stay GPL.

[2016-06-15 04:51] Levi-Armstrong commented on #10
Well it looks like Qt provides the exception below which may allow us to use our own terms. What do you all think?

[code]

[2016-06-15 08:59] raultron commented on #7
Thanks :)

[2016-06-18 11:32] #4 closed

[2016-06-21 15:46] henriqueribeiro opened #11 "[QAction] Problem compiling"
Hey

I'm having this problem compiling:

`./ui_ros_package_wizard_details_page.h:13:25: fatal error: QtGui/QAction: No such file or directory
 #include <QtGui/QAction>`

As far as I could see, QAction change from QtGui to QtWidgets. Can you help me with that? Thanks

[2016-06-22 12:28] jmlago91 opened #12 "QtCreator with ROS plugin not working"
Hi!

After building QtCreator and the ROS plugin with the script, I open QtCreator in a terminal, import an existing ros workspace, and when I try to open it, QtCreator force close and gives a segmentation fault.

Any idea?

Thanks.

[2016-06-22 22:10] Levi-Armstrong commented on #11
I will take a look

[2016-06-22 22:20] Levi-Armstrong commented on #11
Is this the first time you ran the setup script or did you run the script to get the latest updates?

[2016-06-22 22:25] Levi-Armstrong commented on #12
After the import process did the project not open automatically?

[2016-06-22 22:40] jmlago91 commented on #12
No, it closes the import windows, but creates the .workspace file. Then I try to open the project, and force close the QtCreator, giving a segmentation fault in the terminal.

Thanks for the help.

[2016-06-22 22:50] Levi-Armstrong commented on #12
Can you post the content of the .workspace file?

[2016-06-22 22:52] Levi-Armstrong commented on #11
I expect you need to update Qt. Did you perform this [step](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-Setup-ROS-Qt-Creator-Plug-in#11-download-the-latest-version-of-qt)? If so navigate to this folder and run the MaintenanceTool and perform an update. You may need to perform this operation multiple time until it tells you there are no more updates.

[2016-06-23 07:30] jmlago91 commented on #12
This is a .workspace generated from a fully working catkin_ws:

`<?xml version="1.0"?>
<Workspace>
    <WatchDirectories>
        <Directory>src</Directory>
    </WatchDirectories>
    <IncludePaths>
        <Directory>/usr/src/gtest</Directory>
        <Directory>/usr/src/gtest/include</Directory>
        <Directory>/home/****/catkin_ws/src/velodyne_height_map-master/include</Directory>
        <

[2016-06-23 07:51] fulinx commented on #12
Hi,

I also got the same segmentation fault. I'm running Ubuntu 16.04, ROS kinetic, Qt5.7.

`Thread 1 "qtcreator" received signal SIGSEGV, Segmentation fault.
0x00007fffe3c9e5c6 in ProjectExplorer::Internal::LocalApplicationRunControlFactory::canRun(ProjectExplorer::RunConfiguration*, Core::Id) const ()
   from /home/delaval/ws_ams/ros_qtcreator/qt-creator-build/lib/qtcreator/plugins/libProjectExp

[2016-06-23 08:05] jmlago91 commented on #12
Sorry, I'm running Ubuntu 14.04,  ROS Indigo and Qt 5.7.

[2016-06-23 09:36] jmlago91 commented on #12
After rebuilding all again, and manually configuring QtCreator to detect my Qt 5.7 installation, I obtain the same error, a segmentation fault.

[2016-06-23 10:06] henriqueribeiro commented on #11
Yes, it was the first time.
Qt is working and correctly installed.
I think one of the problems in the qtchooser file. Instead of `~/Qt/5.6/gcc_64/lib` it should be only `~/Qt/5.6/gcc_64/`, but I'm not really sure

[2016-06-23 13:16] Levi-Armstrong commented on #11
Can you run the command `qmake -v` and post the output?

[2016-06-23 15:14] Levi-Armstrong commented on #12
Can you you run the setup script again, I change it to do a clean build each time. Then launch qtcreator from a terminal and let me know if it prints out any information prior to the segmentation fault.

[2016-06-23 15:33] Levi-Armstrong commented on #10
@shaun-edwards I updated the proposed license does it look correct?

[2016-06-23 16:08] shaun-edwards commented on #10
+1

[2016-06-23 16:13] GarethZhang commented on #12
Hi,
I got the same problem here... Im running qt creator 5.6 on Ubuntu 14.04 ros jade

[2016-06-23 16:30] Levi-Armstrong commented on #12
@GarethZhang can you run `qmake -v` and post the output?

[2016-06-23 16:39] GarethZhang commented on #12
Hi, I am new to qt creator, the output is as follows

QMake version 3.0
Using Qt version 5.6.0 in /home/haowei/Qt/5.6/gcc_64/lib

Not sure if this is what you need...

[2016-06-23 18:26] Levi-Armstrong commented on #12
@GarethZhang I have update the setup script to help debug this issue. Can you rerun the command below in the ros_qtc_plugin directory?
`bash setup.sh -u`

Then run the command below and follow step 4 of the [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-Setup-ROS-Qt-Creator-Plug-in#section1.4).
`bash setup.sh -ui`

[2016-06-23 18:46] Levi-Armstrong commented on #11
@henriqueribeiro, I updated the setup script can you run the command below in the ros_qtc_plugin directory twice. The first time will pull the latest then the second time will run the new setup script.

[2016-06-23 19:56] GarethZhang commented on #12
Hi, below is the command line output. Qt creator froze (didnt quit) as I tried to create a ros package. Hope these information can be helpful

`haowei@Haowei-PC:~/Documents/src/ros_qtc_plugin$ gdb /home/haowei/Documents/src/qt-creator-build/bin/qtcreator
GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.2) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http:

[2016-06-23 21:12] Levi-Armstrong commented on #12
After you receive this segfault can you type `bt` to print the back trace?

[2016-06-24 13:24] raultron opened #15 ""Follow symbol under cursor, F2 shortcut" not working"
Hi,

Whenever I opened a package into Qt Creator using the CMakeLists.txt file (previous method that I had before using your plugin) I was able to navigate through my code using Qt Creator shortcuts (e.g select the name of a function and press F2 to go into the function definition).

Now using your plugin, even though I am able to build everything I can't do that anymore. Does it work for you? may

[2016-06-24 15:11] GarethZhang commented on #12
Uhhh, the command took too long to run and I can try it another time

[2016-06-24 15:29] Levi-Armstrong commented on #15
Try right clicking on the project node, then select **Reload Project Include Directories...**

[2016-06-25 03:45] Levi-Armstrong commented on #12
OK, I updated everything on my system and I am also no receiving the segfault. It looks like one of the base classes recently changed, so I am looking into what needs to be added.

[2016-06-27 16:31] Levi-Armstrong commented on #15
@raultron, were you able to resolve the issue?

[2016-06-27 16:31] Levi-Armstrong commented on #11
@henriqueribeiro, were you able to resolve the issue?

[2016-06-27 16:33] Levi-Armstrong commented on #12
@jmlago91, @GarethZhang, @fulinx, I just submitted PR #16 which will solve this issue. Once it is merged please run the setup script again and let me know if it solves the issue on your end.

[2016-06-27 16:38] Levi-Armstrong commented on #12
@jmlago91, @GarethZhang, @fulinx it has been merged so you should be able to test the changes.

[2016-06-27 16:46] henriqueribeiro commented on #11
@Levi-Armstrong. I'm currently at sea trials and I cannot test that now. Next week I will try...

[2016-06-27 18:09] gavanderhoorn opened #17 "Feasibility of binary distribution of the plugin?"
It'd be great if the exact (minimal) version numbers for dependencies such as Qt and Qt Creator could be listed somewhere, probably the repository readme.

From `setup.sh` I gather that it clones the `4.0` branch of Qt Creator, so if that means that the dependencies are basically those listed in the [qt-creator/readme.md](https://github.com/qtproject/qt-creator/blob/342e87edb84bd92bee42b4045951260

[2016-06-27 22:26] Levi-Armstrong opened #18 "Templates are not present during add new"

[2016-06-28 01:18] Levi-Armstrong commented on #18
Addressed by issue #19

[2016-06-28 01:18] #18 closed

[2016-06-28 08:25] jmlago91 commented on #12
Thanks! All is working now!

[2016-06-29 07:50] raultron commented on #15
I did a Reload Project Include Directories, took some time, still doesn't work.
Qt Creator gives me a warning in each of my packages includes, for example in a cpp file if I have:

    #include " my_package_name/my_node_include.hpp"

Qt creator gives me the following message when I hover with the mouse in that line:

    my_package_name/my_node_include.hpp: No such file or directory

[2016-06-29 07:57] raultron commented on #15
I got it to work. I deleted the .workspace files in my catkin_ws, cleaned everything using catkin and then imported the project again. I wonder if I will have to do that everytime I add a new package to my workspace.

Thanks for the help.

[2016-06-29 13:58] Levi-Armstrong commented on #15
You should not, but anytime a new library is added to the cmakelists.txt or a new package is added you will need to **Reload Project Include Directories...**. The Reload should of solved the issue if you run into this issue again please let me know.

I am currently working on an improvement to manage this internally so the user does not have to manually update the code model, but it is not ready y

[2016-06-29 14:13] Levi-Armstrong commented on #17
I can add the minimum version for Qt, but since Qt Creator currently must be built from source it may confuse people.

[2016-06-29 14:29] gavanderhoorn commented on #17
Well, it would already help if you just say something like "all build dependencies are satisfied by following the Qt Creator instructions".

Is that just because a binary distribution of Qt Creator 4 is missing, or is there some other reason?

[2016-06-29 14:33] Levi-Armstrong commented on #17
That works.

For 14.04 both Qt 5.4 and Qt Creator 4 are missing, but a binary should be possible in the newer versions of Ubuntu.

[2016-06-29 14:34] gavanderhoorn commented on #17
Would [ppa:beineri/opt-qt57-trusty](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt57-trusty) work?

[2016-06-29 15:01] gavanderhoorn commented on #17
I'm looking at `setup.sh` to see what would be involved trying to get `ros_qtc_plugin` to build against the Qt 5.7 installed from that PPA. @Levi-Armstrong are you already doing that? If so, I'll wait :).

[2016-06-29 17:32] Levi-Armstrong commented on #17
I am not, but if there was one it should allow me to make a binary for the plugin to work on 14.04

[2016-06-29 19:42] #10 closed

[2016-06-30 15:03] gavanderhoorn commented on #17
I got it to work, using the Qt and Qt Creator from `ppa:beineri/opt-qt57-trusty`. Source build of neither is needed. Plugin build time is about 5 minutes. The process is quite similar to how you do Linux kernel out-of-tree builds.

I'll post instructions later.

[2016-06-30 16:42] raultron commented on #15
Ok everything clear. Thank you very much for your help. I have been programming the whole week with your plugin and it is very comfortable. All my colleagues are starting to use it as well.

[2016-06-30 16:42] #15 closed

[2016-06-30 16:45] raultron opened #21 "Stopping an empty ROS terminal kills Qt creator with Segmentation fault"
With Alt-8 it is possible to see the opened ROS terminals when you are running a node or a launch file. If you press the Red button it will stop the current terminal, but if you don't have any terminal then it seg faults Qt creator.

[2016-06-30 18:10] gavanderhoorn commented on #17
@Levi-Armstrong: could you perhaps test [ros-qtc-plugin-qt57_0.1.0_amd64.deb.zip](https://github.com/ros-industrial/ros_qtc_plugin/files/342066/ros-qtc-plugin-qt57_0.1.0_amd64.deb.zip) for me?

In a terminal:

[code]

That should give you a Qt Creator 4.0.2 instance with your ROS plugin.

I'm not sure whether you have to undo some of the changes to your environment that `setup.sh` makes.

[2016-06-30 18:11] gavanderhoorn commented on #17
If you download manually, don't forget to rename to `.deb` again (`.zip` was necessary to be able to attach it to this issue).

[2016-07-01 08:46] gavanderhoorn commented on #17
Improved package: [qt57creator-ros-plugin_0.1.0-git-aa485eac_amd64.deb.zip](https://github.com/ros-industrial/ros_qtc_plugin/files/343120/qt57creator-ros-plugin_0.1.0-git-aa485eac_amd64.deb.zip). Installation procedure is identical (apart from the filename of course).

[2016-07-01 13:46] Levi-Armstrong commented on #17
Thanks, I will take a look at this over the weekend and try out the docker.

[2016-07-01 13:51] gavanderhoorn commented on #17
Well, the `Dockerfile` isn't there yet, it was just an idea. If you already have `qt57creator` and its dependencies on your system it wouldn't make much difference (it'd probably be slower).

If you could test the `.deb` and tell me whether it works for you with the Qt Creator from `ppa:beineri/opt-qt57-trusty` (and I expect it will), that'd be great.

[2016-07-01 14:33] #12 closed

[2016-07-01 14:36] Levi-Armstrong commented on #17
I was going to use one of the docker images Dave Coleman setup [here](https://groups.google.com/forum/m/#!msg/moveit-users/6mSZ0ulDRAk/CrLsxFDxBAAJ)

[2016-07-01 14:38] gavanderhoorn commented on #17
Well, that probably works, but for just compiling the plugin it'd probably be a bit overkill. A full Indigo image fi is about 2.5GB. A bare Ubuntu Trusty image is under 200MB.

[2016-07-01 14:40] Levi-Armstrong commented on #17
Is this a Debian of just our plug-in or of Qt Creator with the plug-in?

[2016-07-01 14:41] gavanderhoorn commented on #17
`qt57creator-ros-plugin_0.1.0-git-aa485eac_amd64.deb` contains just the plugin. The PPA provides QtCreator (and Qt itself).

[2016-07-01 14:42] gavanderhoorn commented on #17
btw, I guessed the version to be `0.1.0`, but that is easily changeable.

[2016-07-04 16:11] henriqueribeiro commented on #11
Hey @Levi-Armstrong

I just tested everything on a new installation and everything is working now! Thanks for the help

[2016-07-05 12:07] Levi-Armstrong commented on #11
@henriqueribeiro Great!, glad I could help!

[2016-07-05 12:07] #11 closed

[2016-07-05 12:26] gavanderhoorn commented on #17
@Levi-Armstrong: have you had a chance to test the deb?

[2016-07-05 12:37] Levi-Armstrong commented on #17
I am currently installing it on a VM right now should have an update shortly.

[2016-07-05 13:08] gavanderhoorn commented on #17
Btw I noticed that the last step in https://github.com/ros-industrial/ros_qtc_plugin/issues/17#issuecomment-229742368 (`/opt/qt57/bin/qtcreator-wrapper`) is not really necessary: `qt57creator` also installs a menu item, so the Dash should show the correct icon that starts the 4.0.2 version of Qt Creator with the plugin.

[2016-07-05 14:07] Levi-Armstrong commented on #17
@gavanderhoorn Everything worked! I did have to source /opt/qt57/qt57-env.sh to get the correct version of qtcreator to load. This is probably due to me having multiple versions.

[2016-07-05 14:10] gavanderhoorn commented on #17
Good to hear.

Yeah, that's why I wrote earlier that I expected that you'd have to undo some of the changes your `setup.sh` script makes to the environment. But I'm surprised that would be necessary in a VM? Or is the VM not a 'clean' one?

I have multiple version of Qt Creator as well (default Trusty one (a 3.x I believe), and the Qt 5.7 one, and both the Dash icon as well as the `qtcreator-wrapp

[2016-07-05 14:30] Levi-Armstrong commented on #17
Yea the VM was not clean. Also it did not install a Dash icon on my VM. I had to open a terminal and run the commands below to get it to load the correct qtcreator.

[code]

[2016-07-05 14:32] gavanderhoorn commented on #17
Did you try `/opt/qt57/bin/qtcreator-wrapper`?

[2016-07-05 14:41] Levi-Armstrong commented on #17
That allowed me to open the correct version without having to source the terminal.

[2016-07-05 14:42] gavanderhoorn commented on #17
Great. I'll make the build scripts available to you.

[2016-07-07 15:53] Levi-Armstrong commented on #21
@raultron, Thanks for the feedback, I will see if I can get a fix out today.

[2016-07-07 15:53] #7 closed

[2016-07-08 04:41] Levi-Armstrong opened #23 "Can not copy or paste in ROS Terminal"

[2016-07-08 05:36] Levi-Armstrong commented on #21
@raultron, this should be fix if you perform an update.

[2016-07-08 05:36] #21 closed

[2016-07-08 14:04] #23 closed

[2016-07-08 14:05] Levi-Armstrong commented on #17
@gavanderhoorn, friendly reminder about posting the build script.

[2016-07-08 14:45] gavanderhoorn commented on #17
@Levi-Armstrong see [this gist](https://gist.github.com/gavanderhoorn/9694c13193bdf1f25f2893dfff5067a2).

Steps explained in `gistfile1.txt`.

It's a bit rough, but should work. The patch to `ros_qtc_plugin.pri` is necessary because you hard-code the location of the Qt Creator sources in it. Somehow I could not get the command-line override (passed as argument to `qmake`) to work.

[2016-07-08 14:47] gavanderhoorn commented on #17
O and the docker image is only a bit of convenience: you can also run everything without docker, just make sure to install `qt57-creator` and `qt57-meta-base` from the PPA, and `fpm` first.

[2016-07-08 14:49] gavanderhoorn commented on #17
Build of latest `HEAD`: [qt57creator-ros-plugin_0.1.0-git-1d247be1_amd64.deb.zip](https://github.com/ros-industrial/ros_qtc_plugin/files/354486/qt57creator-ros-plugin_0.1.0-git-1d247be1_amd64.deb.zip)

[2016-07-14 22:07] GarethZhang opened #25 "How to run a node or launch file?"
Hi,
Could you please give us a brief tutorials on how to do basic rosrun and roslaunch using the plugin? THX!

[2016-07-15 13:31] doisyg opened #26 "Installation compilation issue"
I ran into the following errors while executing` setup.sh ` to install the plugin.
[code]

I downloaded and installed before Qt 5.7 though the *.run file and edited qtchooser.
I am going to try again on a fresh instal.

[2016-07-15 13:42] Levi-Armstrong commented on #26
Have you tried to run the setup.h script more than once? We found an issue yesterday requiring you to run the setup script twice, which I will have a fix for it today.

[2016-07-15 13:44] Levi-Armstrong commented on #25
No problem, I will put something together and post it.

[2016-07-15 13:44] doisyg commented on #26
Yes, actually I have errors about missing folders when i run it the first time, which disappear the second time

[2016-07-15 13:46] Levi-Armstrong commented on #26
OK, so after running it twice does everything work?

[2016-07-15 14:04] doisyg commented on #26
No, i get these error the second time:

/usr/bin/ld: cannot find -lProjectExplorer
/usr/bin/ld: cannot find -lCppTools
/usr/bin/ld: cannot find -lQtSupport

[2016-07-15 15:07] doisyg commented on #26
Just tested on a different machine. Same errors.
Is there any dependencies that I should install first?

[2016-07-15 15:14] gavanderhoorn commented on #26
@Levi-Armstrong: not trying to frustrate the debug process here, but in case @doisyg is only interested in working *with* the plugin, perhaps we could suggest trying out the pkg and instructions from #17?

[2016-07-15 15:20] doisyg commented on #26
@gavanderhoorn  Yes I am only interested in making the plugin work (for now), can you please detail the steps needed to install it from your *.deb file. Thanks!

[2016-07-15 15:22] gavanderhoorn commented on #26
I'll wait for @Levi-Armstrong to respond first, as I don't want to rob him from an opportunity to debug and then test a possible solution for the build script problem he mentioned.

[2016-07-15 15:27] doisyg commented on #26
Ok, more info about my setup:
Ubuntu 16.04
Ros kinetic
Qt 5.7

[2016-07-15 15:29] gavanderhoorn commented on #26
Ah, then using the `deb` is not possible anyway, as it targets Trusty.

[2016-07-15 16:11] Levi-Armstrong commented on #26
I have not tested the setup script on 16.04 or have the means right now so lets move forward with the deb.

[2016-07-15 16:15] gavanderhoorn commented on #17
Build of 1d247be1 for Xenial (and on top of `ppa:beineri/opt-qt57-xenial`): [qt57creator-ros-plugin_0.1.0-git-1d247be1_amd64_xenial.deb.zip](https://github.com/ros-industrial/ros_qtc_plugin/files/366418/qt57creator-ros-plugin_0.1.0-git-1d247be1_amd64_xenial.deb.zip)

[2016-07-15 16:19] gavanderhoorn commented on #26
@doisyg: see https://github.com/ros-industrial/ros_qtc_plugin/issues/17#issuecomment-232997366 for some instructions.

I also don't run Xenial. Package was built in a Docker container running Xenial, so I expect it to work. Please let us know if it does.

[2016-07-15 17:05] GarethZhang commented on #25
Thx

[2016-07-15 20:50] doisyg commented on #17
Tried on a fresh ubuntu 16.04 install with kinetic, i get this error when started from the CLI with /opt/qt57/bin/qtcreator-wrapper

[2016-07-16 10:17] gavanderhoorn commented on #17
@doisyg: I'm a bit confused now: does it now work, or doesn't it?

Or can you run the Qt Creator 4 from the ppa, but when you install the plugin, things start to fail?

that is strange, as removing the plugin should remove all files. If there are configuration files created afterwards, those could be left behind though.

[2016-07-18 08:47] doisyg commented on #17
Working!
I had the Qt + Qtcreator previous installation from the *.run (http://www.qt.io/download/)  conflicting I guess. I removed it through the Maintenance Tool, reinstalled from ppa:beineri/opt-qt57-xenial + your deb packet and now everything's working.
Thanks a lot for your help!

[2016-07-18 16:08] gavanderhoorn commented on #17
Hm, good to know you got it working, but the clash with other Qt / Qt Creator instances should not happen. It might be that there are some assumptions in the PPA packages that don't hold when the binary distribution from `qt.io` is installed. I've also not experienced this on my machine (multiple Qt versions installed: from source, binary dist from `qt.io` and the platform default. But I run Trust

[2016-07-18 17:18] doisyg commented on #17
yes, working from the dash!

[2016-07-25 17:16] Levi-Armstrong commented on #25
I made a few tutorial [videos](https://github.com/ros-industrial/ros_qtc_plugin/files/382065/Videos.zip), let me know if you have any questions.

[2016-07-25 17:29] GarethZhang commented on #25
Thanks. Been very helpful!

[2016-07-25 17:38] #25 closed

[2016-07-27 08:39] rhaschke opened #28 "plans to support modern catkin tools?"
This plugin builds on top of `catkin_make`, which handles the whole workspace as a single cmake project.
Obviously this facilitates QTC integration. However, [`catkin_make` has several drawbacks](http://catkin-tools.readthedocs.io/en/latest/history.html) and there are more recent build tools available, e.g. [`catkin tools`](http://catkin-tools.readthedocs.io/en/latest/index.html) that tackled thos

[2016-07-27 14:58] Levi-Armstrong commented on #28
This may already be supported, but I have not tested it. If you go to the build settings, it provides an option to override the the current build command. With this you should be able to input whatever build command you prefer and use the arguments box to pass any addition arguments required. If this does not work please let me know and I will get a fix out.

There is a plan to handle this more fo

[2016-07-28 15:53] HeYijia opened #29 "How to use this plugin to debug ros package code?"
Hi, dear Authors:

 I installed this plugin with Qt5.7  and learned how to use it from [this issue](https://github.com/ros-industrial/ros_qtc_plugin/issues/25) and wiki.

But, when I want to debug some ros package code using " Menu Bar > Debug > Start Debugging > Attach to Running Application..." .  I found some pkg  labeled with [develop] can be debuged.  While other pkg labeled with [master] can

[2016-07-28 17:49] Levi-Armstrong commented on #29
Hello @HeYijia, The text between the brackets signify the current branch of the package, so this should not be affecting the ability set breakpoints. Are you able to set them and they are just be ignored? If this is the case, this is usually because the package was not compiled in debug mode.  If you did compile in debug mode I would perform a clean then rebuild in debug and see if that solves the

[2016-07-28 20:11] rhaschke opened #30 "wrong linking of header files"
When clicking on header files, QTC opens headers from the underlay (e.g. /opt/ros).
Probably include directories are not setup correctly.

[2016-07-28 20:14] Levi-Armstrong commented on #30
Is this a newly created workspace or did you open an existing workspace?

[2016-07-28 20:19] Levi-Armstrong commented on #30
I assume you are doing development on a package that is installed in the /opt/ros, please take a look in the .workspace file and let me know if there is duplicate include paths for the package.

[2016-07-28 20:28] rhaschke commented on #30
Indeed, `/opt/ros/indigo/include` was listed as the very first include directory, overriding the local ones in the workspace. Manually moving the system directories to the end, solved that issue. Probably you need to rework the ordering of directories.

[2016-07-28 20:30] rhaschke commented on #28
Using catkin tools doesn't really work.
In order to import an existing catkin workspace, the plugin (or cmake) assumes existence of `src/CMakeLists.txt`.
If the workspace is imported, it is indeed possible to switch the build command from `catkin_make` to `catkin build`.

[2016-07-28 20:30] Levi-Armstrong commented on #30
OK, Glade to hear. I will work on a fix.

[2016-07-29 02:30] HeYijia commented on #29
@Levi-Armstrong  Thanks your tips. I checked original cmakelist.txt file of the ros package and found the author set CMAKE_BUILD_TYPE Release flags. After delete it and rebuild in debug,  the breakpoint not be ignored.

[2016-07-29 04:13] Levi-Armstrong commented on #30
@rhaschke, Would you mind testing pull request #31 which should address this issue.

[2016-07-29 04:17] Levi-Armstrong commented on #28
Yea, I looked into catkin_tools and it will require a little work to get operational. It looks like you have to initialize the workspace differently and how the cmake arguments are passed is a little different.

[2016-07-29 08:21] rhaschke commented on #30
request #31 <https://github.com/ros-industrial/ros_qtc_plugin/pull/31>
which should address this issue.

I will do that as soon as I have some spare time. Probably not before
next week.

[2016-07-29 13:41] Levi-Armstrong commented on #29
Great! Is it ok to close the issue?

[2016-07-29 15:16] #29 closed

[2016-07-29 19:39] Levi-Armstrong commented on #29
@HeYijia, Also when using this method for debugging you may need to put a sleep in your code sometime depending on how quick it executes to allow the debugger to attach.

[2016-07-30 02:16] HeYijia commented on #29
Yes,  I should have notice it. Since I can contorl the input, the debug from running application is not a problem. Debug from unstarted application is better choice. Thanks @Levi-Armstrong .

[2016-07-31 16:47] GarethZhang opened #32 "In Qt run settings tab, ROS Step for each run configuration cannot be disabled"
The disable tab for ROS Step was not functioning. To simply put, if I have 3 ROS Steps in a specific run configuration, disable tab does not allow me to disable the ROS Step. ROS still launches all the nodes included in the run configuration.

Does this only happen to me or is there anyone sharing the same issue?

Thanks!

[2016-08-01 14:20] Levi-Armstrong commented on #30
@rhaschke, The change was merged, when you have time let me know if this resolves the issue.

[2016-08-01 14:26] Levi-Armstrong commented on #32
@GarethZhang I will take a look and see what I can find.

[2016-08-01 16:25] rhaschke commented on #30
This seems to work now. Include directories are sorted.

[2016-08-01 16:25] #30 closed

[2016-08-01 17:13] rhaschke opened #33 "Purpose of update button?"
What's the purpose of the Update button in build settings?

![image](https://cloud.githubusercontent.com/assets/5376030/17301058/75741830-5815-11e6-9a19-6995bc1be1c7.png)

I tried to update my project tree to re-generate the list of include directories. But didn't work.
The `ROS distribution` button resets to `Groovy` after restart. By the way, what about newer ROS releases?

[2016-08-01 17:15] rhaschke opened #34 "Symlinked package folders not considered"
A symlinked package folder is not correctly searched for source files. Only some top-level files are shown (package.xml, etc). But all C++ sources are missing.

[2016-08-01 17:49] Levi-Armstrong commented on #33
The source workspace update the environment for the active build configuration (source /devel/setup.bash) . To update the includes right-click on the project folder and there should be a "Reload Project Include Directories...".

I am currently working an improvement that will handle this internally so you don't have to manually update the includes when changes are made to the cmakelist files, but

[2016-08-01 20:32] Levi-Armstrong commented on #32
This should be fixed, pull the latest and test it out and let me know if it has been resolved.

[2016-08-01 22:07] GarethZhang commented on #32
fixed

[2016-08-01 22:07] #32 closed

[2016-08-02 14:29] Levi-Armstrong commented on #34
@rhaschke I just submitted a PR to address the issue and it should be merged shortly. Thank you for all of your feedback.

[2016-08-03 20:40] RickBlacker opened #37 "Help with setup."
Hi Levi.

I'm not sure where else I'm supposed to send you this, I looked for an email address but didn't see one. I apologize if this is the incorrect location to to be asking these questions.

I'm pretty new to Linux, QT and ROS. So, I'm sorry if the questions I'm about to ask are very basic...

I'm trying to get your ROS QT plugin setup properly but having some issues. I'm sure it's all user er

[2016-08-03 20:50] Levi-Armstrong commented on #37
The current version of the plugin is built for Qt Creator 4.0 which has a dependency requirement for Qt 5.5.0 or later. Now there is another option if you don't want to build from source you can follow the process described in this issue #17 it provide a Debian for both Indigo and Kinetic but you have to install Qt from a ppa.

What version of Ubuntu are you using?

[2016-08-03 20:52] RickBlacker commented on #37
Hey Levi, thanks for the quick response.
I'm using Ubuntu 16.04 on this particular machine

[2016-08-03 20:57] Levi-Armstrong commented on #37
So the wiki was written with 14.04 in mind along with the setup script. If you don't mind I can walk you through how to get it installed on 16.04 with the current version Qt which should be good on 16.04.

Can you check and make sure that ros_qtc_plugin was full cloned into the qtc_plugins directory?

[2016-08-03 21:08] RickBlacker commented on #37
I don't mind at all. :)
I have at my "Home" directory folder structure that looks like this...
Home/DEVELOPMENT_APPS/QT

From there I downloaded the setup.sh script, after running that script, I ended up with
Home/DEVELOPMENT_APPS/qtc_plugins/

Inside the plugins folder I have this.

Home/DEVELOPMENT_APPS/qtc_plugins/qt-creator
Home/DEVELOPMENT_APPS/qtc_plugins/qt-creator-build
Home/DEVELOPMENT_AP

[2016-08-03 21:16] Levi-Armstrong commented on #37
Ok let me look into it a little more and I will get back to you soon. I may be able to get a deb that will work to solve the problem.

[2016-08-03 21:18] RickBlacker commented on #37
Awesome. My goal is to be able to do ROS development in QT. I come from a Microsoft world so I'm used to Visual Studio and it's environment.  Ramping up in the Linux world is a bit complex in comparison.  :)

[2016-08-05 15:13] Levi-Armstrong commented on #28
@rhaschke, I wanted to get your opinion on catkin_make vs catkin_tools. Do you see any drawbacks in completely migrating the tool to catkin_tools to avoid making it support both?

[2016-08-05 16:07] rhaschke commented on #28
I think many people still use `catkin_make` and if one switches between QTC and command line, both build systems should be supported.
Featurewise, catkin_tools is definitely much better:
http://www.ros.org/news/2016/04/5-reasons-ros-users-will-want-to-try-catkin-tools-beta-2.html
however, it's still in beta phase.

[2016-08-08 15:19] raultron commented on #28
+1 to catkin_tools support :)

[2016-08-10 12:28] Levi-Armstrong commented on #34
@rhaschke, I merged the pull request that should fix the issue.

[2016-08-10 15:54] RickBlacker commented on #37
Hi Levi... Was hoping to find out how things are coming along with this?  :)

[2016-08-10 16:17] Levi-Armstrong commented on #37
It looks like it will take a little longer than expected. If would like to start using it know we do have debian for 16.04 but it will require you to use qt57 from a third party ppa. The install process is below and once I finish the native debian you will be able to remove everything and install the new version.

Build of 1d247be1 for Xenial (and on top of `ppa:beineri/opt-qt57-xenial`): [qt57cre

[2016-08-10 16:19] RickBlacker commented on #37
Does this mean I need to uninstall the existing QT Creator that I have installed?
And if so, what is the proper way to do this in Ubuntu?  Sorry, I know lame question, but I've been in the Microsoft world all my adult life. ;)

[2016-08-10 16:23] Levi-Armstrong commented on #37
You should not have to. If you have issues after installing it let me know.

[2016-08-10 16:35] RickBlacker commented on #37
Do I NEED to keep the existing version of QT Creator?  Seems like I don't.  Also, I don't have any existing projects that rely on this version of QT creator.

[2016-08-10 16:48] gavanderhoorn commented on #37
On 10-8-2016 18:35, Rick wrote:

No, there is no need to keep your current version.

The instructions Levi copied will install a stand-alone version 4 Qt
Creator and the corresponding Qt version (5.7) from the PPA. The plugin
deb will install the plugin into the correct location.

Note that it only works for x64 installations, Ubuntu Xenial and that
specific PPA.

[2016-08-13 15:00] Levi-Armstrong commented on #34
@rhaschke Did the latest changes solve the issue?

[2016-08-13 15:00] Levi-Armstrong commented on #26
@doisyg were you able to get the plugin installed using the debian?

[2016-08-13 16:51] doisyg commented on #26
@Levi-Armstrong, Yes, as reported here: https://github.com/ros-industrial/ros_qtc_plugin/issues/17#issuecomment-232997366, working like a charm on ubuntu 16.04 and kinetic

[2016-08-14 06:40] joshi-bharat opened #38 "Support auto complete for nodes, packages etc."
Does the current version of plugin support auto-complete for ros related variables, package name, parameter names, xml tags etc. If yes, please mention how to use it. I could auto complete using tradition al Ctrl+Space.

[2016-08-14 09:46] gavanderhoorn commented on #17
Build of latest `HEAD` (e15737ef):

 - Trusty: [qt57creator-ros-plugin_0.1.0-git-e15737ef_amd64.deb](https://github.com/ros-industrial/ros_qtc_plugin/files/416967/qt57creator-ros-plugin_0.1.0-git-e15737ef_amd64.deb.zip)
 - Xenial: [qt57creator-ros-plugin_0.1.0-git-e15737ef_amd64_xenial.deb](https://github.com/ros-industrial/ros_qtc_plugin/files/416968/qt57creator-ros-plugin_0.1.0-git-e15737ef_amd6

[2016-08-14 16:38] Levi-Armstrong commented on #38
Sorry, I don't fully understand the question. Can you please provide an example of what is not working?

[2016-08-14 17:08] bharat-robotics commented on #38
Thanks for the quick reply.
For example, In this code nippet `<node pkg="nodelet" type="nodelet" args="manager"/>`
If I type <no only and press Ctrl+Space which is default shortcut for completion in QtCreator will IDE suggest <node> as an option or not.
Hope, I have made this clear.

[2016-08-14 19:49] Levi-Armstrong commented on #38
This does not exist yet. This would require a custom editor written for the xml files to provide ROS specific auto complete. Currently only standard auto-completion provided by Qt Creator is supported but there are plans to implement custom editors in the future.

[2016-08-14 22:22] Levi-Armstrong commented on #17
Hello Everyone,

I would like to announce that a binary has been released on launchpad.net, no need to use the setup script anymore. Please see the updated [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-Setup-ROS-Qt-Creator-Plug-in) for instruction how to get the latest Debian. For those that have installed the Debian previously provided on this issue you will need to remove it an

[2016-08-14 22:26] Levi-Armstrong commented on #37
@RickBlacker, I was able to get a Debian release on Launchpad.net; see the latest comment [here](https://github.com/ros-industrial/ros_qtc_plugin/issues/17). Would you mind following the wiki and let me know if everything works on Xenial?

[2016-08-15 01:17] shaun-edwards opened #39 "PCL auto-complete not working"
I'm not sure if this is an issue or not.  I've been working with a node that uses PCL, but the auto-complete is not working.  I had to add (manually) the following to the workspace file:
`
        <Directory>/usr/include/pcl-1.7</Directory>
`
Is this a known issue or user error?  Should QT automatically add this based on the `CMakeLists.txt`?

[2016-08-15 06:27] rhaschke commented on #34
Thanks for fixing this.

[2016-08-15 06:27] #34 closed

[2016-08-15 06:31] rhaschke commented on #33
Maybe you could add a tooltip to the update button to clarify, that this will only update (build) environment variables.

[2016-08-15 06:31] #33 closed

[2016-08-15 06:34] rhaschke opened #40 "Compilation errors with QTC 4.1"
The plugin is bound to QTC 4.0. Compilation against latest branch 4.1 fails with lot of errors.

[2016-08-15 06:55] gavanderhoorn commented on #39
afaict, yes.

Are the correct set of include dirs exported by the package you are working on?

[2016-08-15 14:43] Levi-Armstrong commented on #40
It is currently only been tested against QTC 4.0. Is there a particular need from 4.1? The reason I ask is I have a few items that I am working and it may be a while until I upgrade it to 4.1.

[2016-08-15 15:00] Levi-Armstrong commented on #39
You should not not have to add it manually, but anytime a new library is added to the cmakelists.txt or a new package is added you will need to Reload Project Include Directories.... The Reload should of solved the issue if you run into this issue again please let me know.  If you right click on the root node of the project tree you should see the Reload option.

I am currently working on an impro

[2016-08-15 17:26] bharat-robotics commented on #38
Great. Thanks for this plugin. Its been a great help to organize the ROS code.

[2016-08-15 17:47] Levi-Armstrong commented on #17
FYI: A Debian has been released so the plugin can be installed via apt-get see the previous comment and wiki for details.

@doisyg, @shaun-edwards, @gavanderhoorn, @rhaschke, @bharat-robotics, @RickBlacker, @	GarethZhang, @HeYijia, @raultron, @jmlago91, @henriqueribeiro, @VictorLamoine

[2016-08-15 17:47] #26 closed

[2016-08-15 17:49] shaun-edwards commented on #39
@Levi-Armstrong, thanks for the quick reply.  I'll try the `Reload` next time.

[2016-08-15 17:57] Levi-Armstrong commented on #39
@shaun-edwards, if you get a chance run it and let me know if it disappears? If it does, then I will mark it as a bug.

[2016-08-15 18:51] RickBlacker commented on #17
Hi Levi...

As I've mentioned, I'm still very new to the world of Linux.  So, I've got several questions.

I'm still unsure what the difference is between
A) Setup for users
B) Setup for developers.

For me, I'm just wanting to use QT.  We have some hardware/software that uses ROS.  I'd like to be able to use QT for project creating, compiling, debugging, syntax highlighting of new software/hardwa

[2016-08-15 19:12] Levi-Armstrong commented on #17
Sorry @RickBlacker, You should only need to perform the 1.1 Setup for users which is for individual that only want to use the software for ROS development. The 1.2 Setup for developers is for individuals who want to enhance the ROS Qt Creator Plug-in by adding functionality to it.

I would remove anything you did for steps 1.2 and 1.3 (delete the folders) and remove the new version of QT (In the q

[2016-08-15 20:20] RickBlacker commented on #17
From there do I move onto the other sections?
2. Setup QT Creator for ROS
3. Debugging Catkin Workspace
4. Where to find Qt Creator Plug in Support

???

[2016-08-15 20:32] Levi-Armstrong commented on #17
2. Setup QT Creator for ROS
3. Debugging Catkin Workspace
4. Where to find Qt Creator Plug in Support

Yes I would then move on to the other section. After you verify that the

The one you installed previously is more or less a standalone Debian meaning you can not get update by performing the `sudo apt-get update && sudo apt-get upgrade`.  By remove this one and adding my ppa and installing the p

[2016-08-15 20:35] RickBlacker commented on #17
Ok.
I manually deleted the folders that were created.
For some reason I am not able to find the maintenance tool.  In the past I know it's been available in the "Search your computer" app.

Ok, I ran the uninstall of the plugin.  I'm now going back and performing all the steps in 1.1.
Wish me luck.  :)

[2016-08-15 20:39] RickBlacker commented on #17
`sudo apt-get install qtcreator-plugin-ros`
Getting an error.
_Unable to locate package qtcreator-plugin-ros_

[2016-08-15 20:46] Levi-Armstrong commented on #17
Where you able to install libqtermwidget5-0?

[2016-08-15 20:49] RickBlacker commented on #17
Yeah… I didn’t get any problems on any of these

sudo add-apt-repository ppa:beineri/opt-qt57-trusty

sudo add-apt-repository ppa:levi-armstrong/ppa

sudo apt-get update

sudo apt-get install libqtermwidget5-0

sudo apt-get install qt57creator

Only thing that had any issues was installing qt57creator, but that was just a message saying it couldn't install it because it was already installed.  Whi

[2016-08-15 20:54] RickBlacker commented on #17
At this point in time I'd be very happy to completely clean out my system of all Qt and start fresh, only problem is, I'm not able to find any traces of an uninstall for Qt.   Sure I could just manually delete the folder but I'm not sure if that leaves traces of Qt in any other locations and or any Qt file entries anywhere.

[2016-08-15 21:14] Levi-Armstrong commented on #17
It is interesting that you were able to install  libqtermwidget5-0 from my ppa but it did not find qtcreator-plugin-ros. I will see if it has anything to do with my ppa.

[2016-08-15 21:25] RickBlacker commented on #17
Is it possible that I have some legacy junk laying around in the file system somehow?  Like I mentioned, I was not able to figure out how to properly uninstall anything, I just deleted some folders.

[2016-08-15 21:31] RickBlacker commented on #17
Just for grins... I'm completely blowing away my Ubuntu install and loading up a fresh clean Ubuntu 16.04 install.  If you want to work out any kinks let me know.

[2016-08-15 21:32] Levi-Armstrong commented on #17
@RickBlacker, it was only published for trusty, I am currently publishing it for Xenial, but it may take about an hour until you can install it. Sorry for the inconvenience, I am new to the Debian creation.

[2016-08-15 21:45] Levi-Armstrong commented on #17
@RickBlacker I figured out why you were able to install libqtermwidget5-0. The developers of this library are now publishing there binaries so you will need to uninstall it. Once I have everything published I will provide instruction on how to finish the install.

[2016-08-15 21:49] RickBlacker commented on #17
Ok.. Just a FYI, I've got a brand new fresh Ubuntu 16.04 install now.  I have a few work related things to get setup on it such as ROS, but will hold off on anything related to QT until you let me know it's good to go.

[2016-08-16 14:37] Levi-Armstrong commented on #17
@RickBlacker, It is ready. I would follow the procedure on the wiki. I change the library name slightly to reflect the use of qt57 to guarantee there was no conflicts. Let me know how it goes.

[2016-08-16 15:26] henriqueribeiro commented on #17
@Levi-Armstrong
I just made a clean installation of ubuntu 14.04 and ROS and after following step 1.1 qtcreator was unable to find the plugin. There is no "Import ROS Workspace" option available.

[2016-08-16 15:43] RickBlacker commented on #17
Hi Levi
I started following the "For User" instructions.

sudo add-apt-repository ppa:beineri/opt-qt57-trusty
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update
sudo apt-get install libqtermwidget57-0

Those all seemed to work just fine, however, when I ran
**sudo apt-get install qt57creator**
I get the following message

[code]

[2016-08-16 15:54] gavanderhoorn commented on #17
@RickBlacker wrote:

and:

@RickBlacker wrote:

16.04 is Ubuntu Xenial, the PPA you added is for Ubuntu Trusty (== 14.04). So that won't work.

There is a version of that PPA for Xenial ([ppa:beineri/opt-qt57-xenial](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt57-xenial)), but I don't know if you should use it. It depends on whether @Levi-Armstrong uses the distribution Qt for the Xenial

[2016-08-16 15:56] Levi-Armstrong commented on #17
I will update the wiki you should use ppa:beineri/opt-qt57-xenial instead.

[2016-08-16 15:58] gavanderhoorn commented on #17
@RickBlacker wrote:

No.

Indeed.

In general: when using package managers on Linux, the idea is that those will determine and resolve all dependencies for you. If installation sources are downloaded from an online repository (as is the default), then everything should be taken care of for you, provided you have the correct repositories configured.

If you downloaded a `.deb` manually (through you

[2016-08-16 16:01] Levi-Armstrong commented on #17
@RickBlacker, I update the wiki to show the correct ppa for both Ubuntu 14.04 and 16.04.

[2016-08-16 16:02] gavanderhoorn commented on #17
@Levi-Armstrong: I suggest we close this issue. Your PPA works, and future problems with your packages or setup instructions should be reported in new issues.

[2016-08-16 16:04] Levi-Armstrong commented on #17
Agree, I will close it now and open a new issue

[2016-08-16 16:04] #17 closed

[2016-08-16 16:06] Levi-Armstrong opened #41 "Installation Support using PPA"

[2016-08-16 16:08] Levi-Armstrong commented on #17
@RickBlacker; A new issue #41 has been created for future questions related to installation using the PPA.

[2016-08-16 16:12] gavanderhoorn opened #42 "suggestion: simplify install instructions"
I'd like to suggest the following to make the installation instructions clearer:

 1. more clearly define what *users* of the plugin are, and what *developers* are
 1. split the current *Setup ROS Qt Creator Plug in* wiki page into two separate pages, one for users (just the PPAs and `apt-get` line), the other for developers (using `setup.sh`)
 1. clearly mark both pages as *separate* procedures,

[2016-08-16 16:52] henriqueribeiro commented on #41
@Levi-Armstrong
Sorry to re-write this again but I wrote on the other issue and since it's now closed...

[2016-08-16 16:57] Levi-Armstrong commented on #41
Sorry, It looks like it failed to upload for trusty so I am pushing an new version. I notify you when it has been published.

[2016-08-16 18:07] Levi-Armstrong commented on #41
@henriqueribeiro, a new version is available. I would perform the commands below just make sure everything install cleanly for the first time.
[code]

[2016-08-16 18:09] Levi-Armstrong commented on #41
@RickBlacker, were you able to get it to install?

[2016-08-16 18:11] RickBlacker commented on #41
@Levi-Armstrong
Hey Levi, yes, I think things are working.  Have not had a chance to play yet. I'm digging into some other code at the moment.

Thanks a million!!!!

[2016-08-16 18:22] henriqueribeiro commented on #41
@Levi-Armstrong It's working like a charm now! Thanks a lot

[2016-08-16 18:24] Levi-Armstrong commented on #41
Great! Happy to here everything is working now.

[2016-08-16 18:25] #37 closed

[2016-08-16 18:58] Levi-Armstrong commented on #42
Sound good! I will work on it over the next few days.

[2016-08-17 12:47] Levi-Armstrong commented on #42
@gavanderhoorn, Take a look at the updated wiki and let me know what you think.

[2016-08-17 13:16] gavanderhoorn commented on #42
Nice, this is already much clearer.

Should the 'Home' page provide a bit of text clarifying what a *user* is and what a *developer*? That explanation could then also already directly link to the relevant pages.

[2016-08-17 13:17] gavanderhoorn commented on #42
And (but not sure): perhaps add that developers would not need to / should not install the PPA debs.

[2016-08-17 22:39] Levi-Armstrong commented on #42
I have updated the home page to providing a definition for _Users_ and _Developers_.

I need to overhaul the developer setup since it know built using qt57, there is no need to download Qt from there website.  I also updated the wiki to show that both user and developers need to follow the install instruction.

[2016-08-18 15:45] gavanderhoorn commented on #42
Looks good.

This is just me trying to understand, but what do you mean with this exactly?

[2016-08-19 14:15] Levi-Armstrong commented on #42
Before, the process for developers required them to download the latest Qt libraries from Qt, but since the Debian is being build against qt57 ppa it is probably better that the developers use the qt57 libraries. Also they will need the libqtermwidget57-0 library and the dev version which I need to add to the developer wiki. The reason this was not required before I include the libqtermwidget gith

[2016-08-21 16:26] Petrox opened #43 "trying to overwrite '/usr/share/mime/packages/Nokia-QtCreator.xml'"
After following
https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users-&-Developers)#section1.2
on ubuntu16.04 with qtcreator already installed, I got:

[code]

of course
    dpkg --remove qtcreator-data ; apt-get -f install
solved the problem, but you might want to conflict (remove) with qtcreator-data not just qtcreator itself.

[2016-08-22 17:25] Levi-Armstrong commented on #43
@Petrox, Thanks for the feedback. I will report it to the owner of the qt57 ppa, but there is no guarantee that this will get resolved.

[2016-08-22 17:29] Levi-Armstrong commented on #43
I just sent the owner a email. I will provide an update if I receive a response.

[2016-08-22 17:29] #41 closed

[2016-08-22 17:32] Petrox commented on #43
Sorry, that I did not check who's the ppa owner. :) I was just following
the installguide, and not peeking behind the scenes. :)

Thank you for the plugin development, it makes qtcreator usage simpler.

On Aug 22, 2016 7:29 PM, "Levi Armstrong" <notifications@github.com> wrote:

[2016-08-24 11:46] Levi-Armstrong commented on #43
Thank you, I will keep this open until I have time to update the wiki.

[2016-08-24 12:04] Levi-Armstrong commented on #43
Wiki has been update

[2016-08-24 12:04] #43 closed

[2016-08-31 06:21] Levi-Armstrong opened #45 "Codeblock project files are not generated when importing large workspaces"
It was found when importing a workspace like ros-planning/moveit that the codeblock project files where not being generated resulting in no include directories for the project.

[2016-09-01 09:56] masterhui opened #46 "Installation error: Depends: qt57creator (>= 4.0.2) but it is not installable"
Hi,
I just tried to install qt57creator-plugin-ros follwoing the installation instructions for "Users". Adding the ppa's worked fine. But when I try to install the plugin, I get:

[code]

My setup:
- Ubuntu 16.04
- ROS Kinetic
- Qt Creator 4.1.0

Regards

[2016-09-01 14:52] Levi-Armstrong commented on #46
It depends on qt57creator. I am not sure why it did not prompt you to install the dependencies during the install of qt57creator-plugin-ros. I would uninstall Qt Creator 4.1.0 and install qt57creator. Then follow the install procedure again.

[2016-09-01 20:20] masterhui commented on #46
If I try to install qt57creator separately via apt-get I get the same "not installable" error. Any ideas how to find out what the problem might be?Cheers

		_____________________________
From: Levi Armstrong <notifications@github.com>
Sent: Donnerstag, September 1, 2016 4:55 PM
Subject: Re: [ros-industrial/ros_qtc_plugin] Installation error: Depends: qt57creator (>= 4.0.2) but it is not installabl

[2016-09-01 20:58] Levi-Armstrong commented on #46
Can you provide the terminal output from `sudo apt-get install qt57creator`?

[2016-09-02 08:32] masterhui commented on #46
My last reply was from my mobile, so I could't include the console output. When I got back in this morning an re-ran the same command, the install procedure complete without error. Maybe the reboot over night helped. Thank you for your support anyway!

[2016-09-02 08:32] #46 closed

[2016-09-02 08:47] masterhui opened #47 "Plugin cannot be loaded"
After following the install procedure, I get the following error when opening qt57creator:

![2016-09-02 10-43-30_qtcreator_ros_plugin_error](https://cloud.githubusercontent.com/assets/3931642/18198006/98fbcb6a-70fa-11e6-9361-532118ff88ae.png)

[2016-09-02 09:22] Baliano commented on #47
Hi,
I have the same problem. I think qt57creator package has the plugin version 4.1.0 and not 4.0.2. I do not know how to fix this dependency.

![screenshot from 2016-09-02 11-20-28](https://cloud.githubusercontent.com/assets/21882335/18199126/51e3dc2c-70ff-11e6-9592-efec0afa28e8.png)

[2016-09-02 09:49] gavanderhoorn commented on #47
`qt57creator` recently started building against Qt 4.1.0, not 4.0.2 anymore. `qt57creator-plugin-ros` would need to be rebuild to match again.

@Levi-Armstrong: it would perhaps be an idea to not use `>=` to specify the `Build-Depends` ([here](https://github.com/Levi-Armstrong/ros_qtc_plugin/blob/8137b184c395fc32f6f092bfae6698207338d521/debian/control#L7) and in other places), but to use a strict

[2016-09-02 10:09] sun11 commented on #47
The same problem with me, then i manually download 4.0.2 from https://launchpad.net/~beineri/+archive/ubuntu/opt-qt57-trusty/+build/10040216, and use dpkg to install it, it could fix this problem temporally, and just wait for the update.

[2016-09-02 10:10] gavanderhoorn commented on #47
@sun11: nice work-around. That is certainly a temporary way to get things to work until `qt57creator-plugin-ros` is rebuild.

[2016-09-02 12:43] Levi-Armstrong commented on #47
Yea, It looks like qt57creator has been upgraded to 4.1.0. I will work on upgrading the plugin to 4.1.0 over the weekend.

[2016-09-03 05:00] Levi-Armstrong commented on #47
Hello Everyone, I just release the new Debian for qtcreator version 4.1.0. You should be able to perform an update and upgrade to get the latest.

[2016-09-03 05:01] Levi-Armstrong commented on #40
@rhaschke, I have updated the package and it now compiles against qtcreator version 4.1.

[2016-09-03 05:27] Levi-Armstrong commented on #42
@gavanderhoorn: I have separated the user and developer instructions and updated it to work for the latest. Are you good with closing the issue?

[2016-09-03 07:48] masterhui commented on #47
Awesome, I will check it out on Monday. Have a good weekend!

On Sat, Sep 3, 2016 at 7:00 AM +0200, "Levi Armstrong" <notifications@github.com> wrote:

Hello Everyone, I just release the new Debian for qtcreator version 4.1.0. You should be able to perform an update and upgrade to get the latest.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Gi

[2016-09-03 08:26] gavanderhoorn commented on #42
Yep. Great improvement.

I've changed the [Home page](/ros-industrial/ros_qtc_plugin/wiki) a bit ([diff](https://github.com/ros-industrial/ros_qtc_plugin/wiki/Home/_compare/a195b218ee9ff951876700ea7f9ce945c18e9a01...648b33294d0f111557c77eca9311df4ddde6bc30)), to make things extra clear (I got some questions here locally).

Please revert the changes if you don't agree with them.

[2016-09-03 08:27] gavanderhoorn commented on #42
Thanks for addressing this.

:+1:

[2016-09-03 08:27] #42 closed

[2016-09-04 09:35] rhaschke commented on #40
Cool, thanks!

[2016-09-05 07:01] masterhui commented on #47
qt57creator opens without error now.

[2016-09-05 07:01] #47 closed

[2016-09-06 14:27] Levi-Armstrong commented on #42
Looks Great!

[2016-09-10 20:19] asmaloney opened #54 "Spelling mistake in setup.sh"
I'm not using this plugin, but I was looking at it as an example.

This spelling mistake jumped out at me:

   https://github.com/ros-industrial/ros_qtc_plugin/blob/master/setup.sh#L79

[2016-09-11 10:29] NikolausDemmel commented on #28
Big +1 for catkin_tools support from me as well.

As mentioned above, for a developer I see little reason to not use `catkin_tools` over `catkin_make`. The main one is that the former is still in beta and might lack some of the functionality and stability of `catkin_make`. Howeverover `catkin_tools` works great in daily usage for quite a few people and the user experience is IMHO vastly superior t

[2016-09-12 15:51] Levi-Armstrong commented on #28
Hello Everyone,

I plan on getting a basic implementation of catkin_tools soon. I myself have not used it so I am looking for guidance on the process that should be exposed. Can someone provide a brief overview of what must be exposed to get it operational and then I will work the nice to have in a later pull request? [Here](http://wiki.ros.org/catkin/Tutorials/create_a_workspace) is what I expose

[2016-09-12 15:52] Levi-Armstrong commented on #54
Thank you @asmaloney, I will get it fixed.

[2016-09-12 16:35] Levi-Armstrong commented on #54
Addressed by PR #55

[2016-09-12 16:35] #54 closed

[2016-09-13 07:07] NikolausDemmel commented on #28
This is great news.

I'd be very happy to help with catkin_tools workflows as far as I can.

Could you please clarify what you mean by "exposed for catkin_make" exactly? From your Link it looks just like: init, build and source a workspace.

Those for catkin tools could be:

- catkin init
- catkin config -DCMAKE_BUILD_TYPE=Release
- catkin build
- source devel/setup.bash

One thing that is very di

[2016-09-13 12:01] NikolausDemmel commented on #28
This is what I use currently:

[code]

[2016-09-16 14:23] Georacer opened #56 "Plugin installation breaks QtCreator installation"
Hello everyone!

I thought I would give this plugin a try. I am using Sublime Editor 2 so far for all my ROS needs.

OS: Ubuntu 16.04
ROS Distro: Kinetic

I initially installed QtCreator in my system with `sudo apt-get install qtcreator`. I ran `$ qtcreator` and the application opened just fine.

Then I followed [these instructions](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-I

[2016-09-16 14:36] Georacer commented on #56
I installed QtCreator (free licence) from their website.
If I run the program (not the Community edition) from the Unity launcher then I can see the `Import ROS Workspace` option.
Still the basch command `$ qtcreator` replies that no such program is installed (probably the installer used some other name).

I think the wiki needs some tweaking.

[2016-09-16 14:53] Levi-Armstrong commented on #56
Sorry about that, to launch from the command line there is a few options. I will update the wiki.

1. Add "Source /opt/qt57/bin/qt57-env.sh" to my .bashrc so that I would be able to run qtcreator from the terminal.
2. Create a symbolic link file in you /usr/local/bin called qtcreator which points to /opt/qt57/bin/qtcreator-wrapper

[2016-09-16 14:55] Georacer commented on #56
It's no biggie, I don't NEED to run it form terminal.

I think the most important thing is for new users to understand that the can't use the `sudo apt-get install qtcreator` method.

This is closed as far as I'm concerned.

[2016-09-16 15:07] Levi-Armstrong commented on #56
The wiki has been updated.

[2016-09-16 15:07] #56 closed

[2016-09-22 00:35] jacknlliu commented on #46
I met the same problem in Ros Indigo, Ubuntu 14.04. And I followed the instruction add the repository, but I can't find the package qt57creator.

[2016-09-22 13:34] Levi-Armstrong commented on #46
Check and make sure that the ppa information is located in /etc/apt/sources.list.d/beineri-opt-qt57-trusty.list? The filename may not match exactly but it should be something close.

[2016-09-22 14:10] jacknlliu commented on #46
I'm sure that  file `/etc/apt/sources.list.d/beineri-opt-qt57-trusty.list` exist.

[2016-09-22 14:15] Levi-Armstrong commented on #46
Inside the file does it have the lines below?

[code]

[2016-09-22 14:19] jacknlliu commented on #46
The content of the list file is:
[code]

[2016-09-22 14:21] Levi-Armstrong commented on #46
I would try `sudo apt-get update` again, then proceed with the install of the plugin.

[2016-09-22 18:43] durovsky commented on #42
I have gone through the installation procedure today and it took me a while to figure our prerequisities. I had only basic qtcreator installed and when I tried to install qt ros plugin it resulted in various dependency problems. So in my opinion it would be nice to have a "Prerequisities" section just before installation steps that would clarify that full version of QT needs to be installed, where

[2016-09-22 18:46] gavanderhoorn commented on #42
I'm curious what you would define as the "full version" of Qt? After adding the PPAs, `apt` should be able to figure out the dependencies of `qt57creator-plugin-ros`, and install both Qt 5.7 as well as Qt Creator 5.7 built against that. After that, it should install the plugin itself.

What is it that you had to install in addition to that that you'd like to see added to the documentation?

[2016-09-22 19:05] durovsky commented on #42
To get plugin installed successfully I had to sudo apt-get remove qtcreator, download QT installer from origin [website](https://www.qt.io/download-open-source/) a let it download and install QT5.7 and then procede to the installation steps with ppa. Without full QT installed, sudo apt-get update && sudo apt-get install qt57creator-plugin-ros resulted in error about missing files from /opt/qt57 fo

[2016-09-22 19:17] Levi-Armstrong commented on #42
What error did you received that required you to remove qtcreator? If it is a package discrepancy that should be removed, I can ask the maintainer of qt57 to add it as a conflict remove to the qt57creator Debian. The maintainer recently added one for qtcreator-data which was causing install issues like you have mentioned.

Do you have a list of missing files from the /opt/qt57?

[2016-09-23 05:46] gavanderhoorn commented on #42
@durovsky: you should not need to go out and install Qt by yourself, especially not using the installer from the `qt.io` web site. The `apt-get install ..` line should have taken care of all of that.

If not, that would be something to fix.

[2016-09-23 08:42] durovsky commented on #42
I ve managed to repeat the problem on fresh ubuntu 14.04 LTS. So if I `sudo apt-get install qtcreator` first and then try to follow plugin instllation steps, the installation step -  `sudo apt-get update && sudo apt-get install qt57creator-plugin-ros` results in following error:

[code]

The solution is to remove existing version of qtcreator -` sudo apt-get remove qtcreator` and then repeat insta

[2016-09-23 13:56] Levi-Armstrong commented on #42
Based on the output message it does find qt57creator but it is not going to install it.  If you try to install qt57creator it should print out a message saying it has a conflict with qtcreator. There reason for this is the maintainer of qt57 has added the line to the Debian controls file. This prevents the qt57creator from being installed until the conflicting packages are removed. I am not sure i

[2016-10-07 17:59] Levi-Armstrong opened #57 "When add/importing package, active branch is not shown until project is reopended"
The active branch is not shown next to the folder name until the project is closed and opened again.

[2016-10-11 06:00] #40 closed

[2016-10-11 06:01] #39 closed

[2016-10-14 23:06] superjax opened #58 "No Executable Specified when running code from QtCreator"
Hey, I love this plugin, it's fantastic, but I am having an issue.

When I try to run/Debug my node from within QtCreator, i get

[code]

I have set the Run Step to `rosrun <package> <node>` and I have a roscore running in the background, and I've tried starting qtcreator both from a terminal and from the supplied icon with the same result.

I can run successfully run the node from my terminal wit

[2016-10-14 23:17] vfdev-5 commented on #25
Thanks for video tutorials, it's definitely should be somewhere at wiki pages.
However, starting my workspace in debug mode ("Start Debugging"), I have the following message in Application Output console : `No executable specified. Debugging has finished`.
Starting the same debug mode with "Ctrl + R", ROS Terminal starts my roslaunch configuration without any problem. Could you hint me, what would

[2016-10-17 12:37] Levi-Armstrong commented on #25
@vfdev-5, Did you got through the process below prior to "Ctrl + R"? Depending on what you are debugging you may need to place a sleep at the start to give the debugger time to attach.

`Debug->Start Debugging->Attach to an Unstarted Application and select your Executable then check "Continue on Attach"`

[2016-10-17 12:42] Levi-Armstrong commented on #58
@superjax, This is just a guess, but which run button did you click? Because to debug ROS it currently requires the use of "Attach to an Unstarted Application" you should click the icon without the debug symbol.

[2016-10-17 12:44] vfdev-5 commented on #25
Right, I got debugger working with mode `Debug->Start Debugging->Attach to an Unstarted Application and select your Executable then check "Continue on Attach`. Just, I have been confused by the button "Debug" on the left of the IDE.

[2016-10-17 12:49] Levi-Armstrong commented on #25
OK, Eventually there will be a run step to attach to process where then that button will work but for now this is the best way.

[2016-10-17 12:51] Levi-Armstrong commented on #25
@vfdev-5, Thank you for making me aware that the videos had not been added to the wiki.  I added links to tutorial videos on youtub to the home page of the wiki.

[2016-10-17 14:55] superjax commented on #58
I actually tried both.  If I run "Attach to an Unstarted Application" then the Play button (without the bug) then I get this response in the application output

'''
Debugging starts
Debugging has finished
'''

With the bug, then I get that weird loop.

[2016-10-17 15:01] superjax commented on #58
By the way, here is my main file for reference

[code]

[2016-10-17 15:10] superjax commented on #58
Oh, you know what, I may be having issues with this because of Levi-Armstrong/gdb-7.7.1#2.  Do you think that might be the case?

[2016-10-17 16:01] Levi-Armstrong commented on #58
That should not be an issue. That provides a particular feature not currently available but the plug-in does not depend on this feature.

[2016-10-17 21:29] shaun-edwards opened #59 "QT Quick drop down doesn't have a ROS listed"
Ubuntu: 14.04

The `Qt Quick` drop down list doesn't have a ROS item as described in `3.4` - `#3`

[2016-10-18 15:31] Levi-Armstrong commented on #58
@superjax, I will test your code today and see if I get the same behavior.

[2016-10-18 15:32] Levi-Armstrong commented on #59
I take a look today and see what the issue is.

[2016-10-18 20:32] Levi-Armstrong commented on #59
@shaun-edwards: You are correct it is missing. Is it needed for the Qt Quick or should I remove the step from the wiki?

[2016-10-18 21:05] shaun-edwards commented on #59
I don't need it, but I don't know what Qt Quick is?

[2016-10-18 21:29] Levi-Armstrong commented on #58
@superjax I have tested your example. The first thing I noticed is that `sleep(1000)` is set to 1000 seconds, usually 2 to 5 seconds works. After changing this to 2 seconds and rebuilding the workspace using the build configuration "Debug" everything attached fine. I was able to recreated the same debugger looping by building the project using build configuration "Release" or "Default" which is wh

[2016-10-18 21:34] Levi-Armstrong commented on #59
I have removed this step from the wiki, based on the description below it does not apply.

[2016-10-18 21:35] #59 closed

[2016-10-24 18:44] gre1234 opened #60 "Debugger does not stop at Breakpoints"
Hello everyone,

unfortunately, since today, the ROS Qt Creator Plug-in does not stop at Breakpoints.

On the terminal, where I started sudo /opt/qt57/bin/qtcreator, it shows the following:

QIODevice::read (QFile, "/proc/9692/stat"): device not open
QIODevice::read (QFile, "/proc/9173/stat"): device not open
default KB_LAYOUT_DIR:  "/usr/share/qtermwidget5/kb-layouts"
loadAllColorSchemes
QIODevic

[2016-10-24 19:15] Levi-Armstrong commented on #58
@superjax, were you able to resolve the issue?

[2016-10-24 19:51] Levi-Armstrong commented on #60
I just updated my system to see if maybe an update was causing the issue but I was able to attach and debug a ros project. I think the issue is running qtcreator as sudo. Have you tried running running it as user? You will not get errors and warning about particular config files not having permissions if you ran it as sudo which you can delete.

As for the device not open, I am getting the same ou

[2016-10-24 20:07] superjax commented on #58
Not really, I ended up just re-installing the most current version of QtCreator (not the plugin) and working with that.  I'm in the middle of some time-critical work so I don't have time to try the plugin again, but when i have time I'll try it again.  You can go ahead and close this issue, I'll re-open it if I have problems when I try again later.

[2016-10-24 20:07] #58 closed

[2016-10-25 13:46] Guillaumebeuzeboc opened #61 "Template URDF"
Hello,

I noticed that when I create a urdf file from the plugin the closing tag seems wrong.
auto-generated template:

[code]

The closing tag is supposed to be  `</robot>` and not `</launch>`

Not a big issue, this could be included in another PR.

[2016-10-25 14:24] Levi-Armstrong commented on #61
Thank you for the feed back. I will get it fixed in an up coming PR unless someone else get to it first.

[2016-10-28 20:57] deathwaiting opened #62 "messages and services support"
I didn't find an option for adding msg and srv files into the package, is this feature supported ?
while msg and srv files are usually pretty simple , they require several changes in the CMakeLists.txt file.
I hope you add a wizard for adding those files and their dependencies, making necessary changes in CMake files.

[2016-10-28 21:04] Levi-Armstrong commented on #62
There is not a template yet, but the way I add files that are not available under the ROS category is by using the "Text File" option under the General category which should be available. Let me know if this is not available.

[2016-10-28 21:16] deathwaiting commented on #62
I have "Empty File" option under the General category.
but i think the real point is to add the CMake entries for the msg and srv files automatically , like these sections of the CMakeLists.txt file
`## Generate services in the 'srv' folder
 add_service_files(
   FILES
   AddTwoInts.srv
 )
`
and
`## Generate added messages and services with any dependencies listed here
 generate_messages(
   DEPEN

[2016-10-28 21:53] Levi-Armstrong commented on #62
Ah, This has been discussed and is on the list of enhancements but currently does not exist.

[2016-11-01 12:33] Levi-Armstrong commented on #60
@gre1234, were you able to solve the issue?

[2016-11-11 08:41] jackros1022 commented on #60
hi,how do you solved the issue? Can you give me some hints

[2016-11-11 08:49] jackros1022 commented on #60
I get this error:
No executable specified.
Debugging has finished

[2016-11-11 14:52] Levi-Armstrong commented on #60
@jackros1022, I will see if I can help, can you outline your process you took for debugging?

The preferred process:
- Compile in debug mode. Note: Make sure the build configuration is set to debug.
- Debug-> Start Debugging->Attach to unstarted application--> and then choose the executable and start watching
- Then press Ctrl+R (Assuming the run configuration is setup to launch your node, otherwi

[2016-11-12 05:20] jackros1022 commented on #60
@Levi-Armstrong  Thanks very much!
According to your process, I have solved the issue. I think the key point is about how to debug with dynamic link library,but I do not know nothing about dynamic link library.I greatly appreciate your help.

[2016-11-14 13:49] Levi-Armstrong commented on #60
@jackros1022 Great to hear.

[2016-11-25 13:12] samieti02 opened #63 "More details in debug mode"
Hello friendly people,

according to issue #60 , i have other questions.
Let say, this is how looks the structure of the package "catkin_ws" that i'm using and the node is called motive_node. So i have

ok , now i open for example 2 terminal,
First, on one: i source qtcreator and start it,

qtcreator creates a new directory "build-motive_node-Desktop-Debug" with the new files, almost the same as t

[2016-11-28 13:46] Levi-Armstrong commented on #63
Hello Sami, It appears you are not using the ros project manager plugin. If you open using the CMakeLists.txt it will use the built-in cmake project manager. I recommend using the ros project manager because it is built specifically for ROS,  please refer to the this [tutorial](https://www.youtube.com/watch?v=GqBzI7O9h8A).

But to try and address the issue, if it is not printing out ROS_DEBUG in t

[2016-11-28 13:48] Levi-Armstrong commented on #63
This is an artifact of the terminal window I am using, it is not an issue. In the next release this should be resolved.

[2016-11-28 14:01] Levi-Armstrong commented on #28
Hello Everyone, I just wanted to provide an update on the catkin_tools integration. It turned out to not be as simple as I thought to integrate. I had to restructure a lot of the code to allow for multiple build tools and not being familiar with catkin_tools I under estimated the complexity (mainly due to profiles). I have most of catkin_tools (with profile editor) implemented and I am now working

[2016-11-28 17:57] koenlek commented on #28
Great! That is highly appreciated!

[2016-12-07 10:56] facontidavide opened #64 "Can't change code style (formatting)"
I noticed that when the plugin is active I can not modify the formatting in Preferences->C++->Code Style.

To be precise, I change them, but my settings are ignored

[2016-12-07 14:09] Levi-Armstrong commented on #64
Sorry this should probably be in the wiki somewhere, but the ros plug-in sets the code style at the project level which is convenient when working on different projects with different code styles. This will eventually make its way into a settings option but I just have not gotten around to creating the widget yet. If you select the projects tab on the left you will see a few option at the top like

[2016-12-07 14:10] Levi-Armstrong commented on #63
@samieti02 Where you able to resolve the issue?

[2016-12-09 22:02] vharron commented on #58
I had this problem because my cmake binary moved off of my path and QtCreator couldn't find cmake anywhere.  YMMV

[2016-12-10 21:29] samieti02 commented on #63
@Levi-Armstrong  Thanks a lot for the reply.
I was able to debug. I could see the values in the right side, but sometimes when i save differents values (using a for loop), in a variable created with a defined class, i  can see only the 1st change (for i=0), but not the other changes (for i>0), when i loop.

Sometimes, when i debug, the arrow on the left side jumps directly into the while(ros::ok()

[2016-12-13 07:54] lightofaugust opened #65 "Can't see the ros option in the import project drop list after installation."
Hi Levi,

My installation process went kind of smooth I guess, but the plug-in was not added in qt creator.
1. I can't see the ros workspace option in the import drop list;
2. There was no ros related plug-in the plug-in list either.
any suggestions?
![qt plugin](https://cloud.githubusercontent.com/assets/16217997/21131938/69f35b06-c14c-11e6-9a2b-4f3b089b22dd.png)

thanks.

[2016-12-13 08:03] gavanderhoorn commented on #65
Can you make sure you're starting the correct `qtcreator` binary?

[2016-12-13 08:18] lightofaugust commented on #65
I think so, I'm not quite sure what you mean by 'correct'.
![screenshot from 2016-12-13 16 17 26](https://cloud.githubusercontent.com/assets/16217997/21132583/b59b845e-c14f-11e6-9195-b684d31f4215.png)

[2016-12-13 08:37] gavanderhoorn commented on #65
Do you have another version of Qt Creator on your system?

What is the output of `which qtcreator`?

[2016-12-13 14:35] Levi-Armstrong commented on #65
Can you try the instructions below and let us know if it works using this method?
[code]

[2016-12-13 21:09] Levi-Armstrong commented on #65
Also based on the image you provide, the version 4.0.0 suggest you must have the default version of qtcreator also installed. The version that comes with qt57creator is 4.1.0, so I recommend doing a purge removal of qt57creator and qtcreator, then reinstall qt57creator.

[2016-12-16 02:35] Levi-Armstrong commented on #61
Fixed by PR #66

[2016-12-16 02:35] #61 closed

[2016-12-16 14:04] #64 closed

[2016-12-16 14:09] facontidavide commented on #60
This should be documented in my opinion.
My suggestion is:

if the user is trying to debug a __roslaunch__ or a __rosrun__ configuration and the "debug" button is presses, launch a pop-up message that reminds that the correct process require the manual use of "Attach to unstarted application".

I don't know how complicated that would be to implement

[2016-12-23 02:12] lightofaugust commented on #65
Sorry for the late response, I didn't have access to my laptop recently.
@gavanderhoorn ,hi gavanderhoorn, i'm using ubuntu14 lts. And I don't get anything from 'which qtcreator' in the terminal.
@Levi-Armstrong , hi Levi, the instruction you provided gives 'no such file or directory'. I will try reinstall qt57 first and let you know the result.

Many thanks!

[2016-12-23 03:44] lightofaugust commented on #65
Hi Levi,
I initially installed qt4 creator from the ubuntu14 software center, before I installed qt5.7, I unistalled qt4 creator also from the software center. You see the qt creator version is 4.0.2 because that's the defaut version that comes with qt5.7.0.
So now I unistalled qt5.7, to this point I suppose that I have removed both versions of qt creator. I installed version 4.2.0 creator seperat

[2016-12-23 06:52] Levi-Armstrong commented on #65
Sorry you are still having issues. The current plug-in requires qt57creator and qt57creator 4.1.0. [Here](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt57-trusty) is a link to qt57creator showing to be version 4.1.0 so I think you have qtcreator installed from a different source. Try installing qt57creator again and try the command below in a terminal. My previous request was incorrect show

[2016-12-23 06:59] Levi-Armstrong commented on #65
Here is what you should see:
![screenshot from 2016-12-23 00 54 58](https://cloud.githubusercontent.com/assets/9803128/21448625/7e567b86-c8aa-11e6-9e16-f8a91e9499dc.png)

![screenshot from 2016-12-23 00 56 44](https://cloud.githubusercontent.com/assets/9803128/21448654/bbec2040-c8aa-11e6-8643-3dc50e0a23bf.png)

[2016-12-23 07:02] Levi-Armstrong commented on #65
Also qt57creator should create a desktop icon. If it does not then create a file on your desktop called qt57creator.desktop and place the content below in the file.
[code]

[2016-12-23 10:52] lightofaugust commented on #65
Thanks Levi,
It works!
another minor problem though: when I run '/opt/qt57/bin/qtcreator-wrapper' in the terminal, I got the following warning, which I don't know if it matters.
`~$ /opt/qt57/bin/qtcreator-wrapper
Cannot update Qt version information: /usr/lib/x86_64-linux-gnu/qt5/bin/qmake cannot be run.
`
Thanks!

[2016-12-24 07:20] #65 closed

[2016-12-27 14:41] Levi-Armstrong commented on #65
I will look into it and see if I get the same message launching from the terminal.

[2016-12-30 04:36] Levi-Armstrong commented on #63
@samieti02 This would be a good question for Qt Creator Developers. See the [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/5.-Where-to-find-Qt-Creator-Plug-in-Support) for information on where to get help.

How are you attaching the debugger?

Did you try adding the new line character to the end of the string being printed out?

[2017-01-04 10:24] won13y opened #69 "unmet dependencies"
I have met following problem related to unmet dependencies.

wkyoun@wkyoun-XPS-13-9343:~/catkin_ws/src$ sudo apt-get install qt57creator-plugin-ros

    Reading package lists... Done
    Building dependency tree
    Reading state information... Done
    Some packages could not be installed. This may mean that you have
    requested an impossible situation or if you are using the unstable
    distr

[2017-01-04 14:52] Levi-Armstrong commented on #69
Did you add both ppa's shown in the [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)#11-installation-procedure-for-ubuntu-1404)?

[2017-01-09 13:40] Levi-Armstrong commented on #28
I will notify everyone when a new binary is released which should be by this weekend.

[2017-01-09 13:40] #28 closed

[2017-01-09 13:41] Levi-Armstrong commented on #45
Addressed by PR #67.

[2017-01-09 13:41] #45 closed

[2017-01-09 13:42] Levi-Armstrong commented on #69
@won13y I wanted to follow up and see if were able to get the issue resolved?

[2017-01-09 23:21] samieti02 commented on #63
Thks for the feedback and sorry for the late answer., i was not there.

How are you attaching the debugger?
Under Debug, i select attach to an unstarted programm, i choose the node where it is located in devel/lib. ANd then ctrl+r to start, then the program stop first at the line code ros::NodeHandle n, even without breakpoints. Here i have to start the node in the terminal using the roslaunch com

[2017-01-14 06:28] Levi-Armstrong commented on #63
When using the method attach to unstarted program some node can launch faster than the debugger can attach. In this case I add a sleep(5) at the top to allow time for the debugger to attach. I don't know of anyway around this at the moment.

I assume when using the CMakeProject manager you are launching the executable directly which is different than attaching to an unstarted program. You can achi

[2017-01-16 03:54] Levi-Armstrong commented on #28
Hello everyone, I just released a new Debian that includes the catkin tools integration. If you have any issue let me know.

[2017-01-16 12:25] iminternet opened #73 "After latest update Qt Creator ROS plugin won't compile any more"
Hey,
I just upgraded qt57creator-plugin-ros:amd64 from 0.1.3-0trusty2 to 0.1.4-0trusty4 with apt.
I closed my qt creator 57 session before. Everything was working fine till then. Qt Creator found my workspace and saved all paths in the catkin.workspace file.

After the upgrade qt creator won't find any libs or included files. (See pic, all red underlined files or libs cant be found).
![missing_lib

[2017-01-16 14:56] Levi-Armstrong commented on #73
What is printed out in the Qt Creator Compiler Output window?

[2017-01-16 16:23] iminternet commented on #73
When I start your qtcreator with the .desktop file how its adviced in your wiki:
I press Ctrl + B / or "Build Project {projectname}" but really nothing happens. The compiler output is blank space.

If I start your qtcreator from terminal (I inserted the qt57.env in .bashrc) then a line
`"Unable to locate build information for package: ros_service_examples"`
appears, when I try to import the old RO

[2017-01-16 17:40] Levi-Armstrong commented on #73
@iminternet, Sorry about the issue. I found two bugs which have been corrected. You should be able to update in about 10 minutes. Let me know if the issue is resolved.

[2017-01-16 17:45] Levi-Armstrong commented on #73
@iminternet, it looks like it has been published.

[2017-01-16 18:18] iminternet commented on #73
I did update, but it did not solve the problem :(
I deleted the catkin.workspace in my catkin workspace and tried to import the ROS Workspace again from the start. The new catkin.workspace still looks like this:
`
<?xml version="1.0"?>
<Workspace>
    <Distribution name="indigo"/>
    <DefaultBuildSystem value="0"/>
    <WatchDirectories>
        <Directory>src</Directory>
    </WatchDirectories>

[2017-01-16 18:35] AndreaLampart commented on #73
Today, my unity crashed and after some difficult workarounds I managed to get it running again. I had similar problems like you, but it showed that it only reset some options. You should again add the Build steps like in the documentation of this plugin. Then the build button should work again. What I have lost and cannot find anymore is the option to "Reload missing include directories".

[2017-01-16 18:59] Levi-Armstrong commented on #73
@AndreaLampart; The "Reload missing include directories" has been removed. The code model is updated every time the project is built if needed.

Also sorry about the build option getting lost. I had to change a lot of the internals to allow multiple build systems.

[2017-01-16 19:03] Levi-Armstrong commented on #73
@iminternet, The default build step has been removed. Where you able to get everything to build when setting up the build step again?

[2017-01-16 20:05] AndreaLampart commented on #73
@Levi-Armstrong Thanks for clarifying this! And really thanks for your support! The plugin is great!

[2017-01-16 20:38] Levi-Armstrong commented on #73
@AndreaLampart and @iminternet, I just pushed another update where dynamic libraries where not being loaded into the code model. It should be published in about 15 minutes.

[2017-01-17 08:48] AndreaLampart commented on #73
@Levi-Armstrong I checked the updated version today. The problem is that even after building it doesn't find missing include directories, whereas earlier the "Reload missing include directories" step always resolved the problem.

[2017-01-17 12:18] iminternet commented on #73
@AndreaLampart I created a new workspace after the update, copied my package in src to the new workspace and deleted all the files in all package folders which were new / made by the ROS Plugin.

Then I did the import again and it did not find the missing includes. Despite this I hit "Build Project" and it was working, all the missing includes and libs were found.

I dont know why it doesnt find t

[2017-01-17 12:31] AndreaLampart commented on #73
@iminternet Thanks, that fully resolved the problem! Obviously the workspace is not upwards compatible. I now also created a new workspace (purging of old not needed though). It now resolves all includes at creation. I guess this issue is hereby solved atm and can be closed. Thanks to @iminternet  and @Levi-Armstrong !

[2017-01-17 13:19] AndreaLampart commented on #73
Ok sry to write that, case not closed. After restarting qt creator , it again looses all dependencies. Also, the build environment is not set correctly. It's missing all Catkin paths. At Run configuration I could not set any launch files. And build configuration catkin_make -DCMAKE_BUILD_TYPE=RelWithDebInfo cannot be deployed (probably because of the wrong environment)

[2017-01-17 14:40] iminternet commented on #73
I was wondering yesterday cause I had the same problem.
I did also loose all the catkin dependencies, but setting up a new catkin workspace, sourcing the new devel/setup.bash, copied my package in src, cleaning the folders (everything done in terminal) and then importing the new ROS Workspace in qtcreator solved it for me.
I dont know why you are loosing these dependencies again after you restart

[2017-01-17 14:54] AndreaLampart commented on #73
I agree. Also in my .workspace file are no listed dependencies altough the rest seems to work now with the earlier described changes. I have to correct my statement: I lost the dependencies after rebooting ubuntu. At the moment everything runs fine. I'll keep you updated.

[2017-01-17 15:19] Levi-Armstrong commented on #73
How the code model works:

Currently the project depend on the generation of a Code Blocks project file which gets generated from cmake when the project is built. So everytime you build the project it should generate new Code Blocks files for each package. You check in the build directory for the package and there should be a .cbp file.

[2017-01-17 15:23] Levi-Armstrong commented on #73
@iminternet and @AndreaLampart

The include paths being written to the .workspace file was a temparary solution because all include are already located in the Code Blocks project file. The previous "Reload missing include directories" would just parse the Code Blocks project file, but now this is done automatically after every build.

[2017-01-17 15:28] Levi-Armstrong commented on #73
@iminternet and @AndreaLampart: Thank you for your feedback and patience. What remaining issues are you having?

[2017-01-18 01:33] Jmeyer1292 commented on #73
Out of curiosity, would it be possible to get a `regenerate code model` button buried somewhere? I often don't build from QtCreator but would like to edit there.

It's not a big deal either way. You should make this plugin function how you would want it to.

[2017-01-18 09:39] huoxiaoyao opened #76 "Symlink does not execute"
executing direclty or sourcing wirks fine, but symlinking the wrapper does not open qtcreator any more. Seems like an easy fix, just open qtcreator directly without testing for names etc (here is the debug output):

+ QT_BASE_DIR=/opt/qt57
+ export QTDIR=/opt/qt57
+ QTDIR=/opt/qt57
+ export PATH=/opt/qt57/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:

[2017-01-18 10:10] huoxiaoyao commented on #76
reason being of course that $0 is "qtcreator", not "qtcreator-wrapper" when executed in this way. Just replacing the whole block with exec `qtcreator` $* fixes this

[2017-01-18 16:17] Levi-Armstrong commented on #73
This is a good point. I did not think of this case since I usually build with the editor when using it. I will add the same button back, because it doesn't hurt to have it. Also I will look into a way to detect when a build happens outside qtcreator, so it can automatically reload them.

[2017-01-18 18:24] Levi-Armstrong commented on #76
@huoxiaoyao Sorry what file is this, is this the qtcreator-wrapper file?

[2017-01-18 19:48] Levi-Armstrong commented on #73
@iminternet and @AndreaLampart Are you experiencing any issue, or have they been address with the latest updates?

[2017-01-18 19:51] iminternet commented on #73
No problems atm, thanks for all your effort.

[2017-01-18 20:00] huoxiaoyao commented on #76
oh, sorry, yes, this is the qtcreator-wrapper

[2017-01-18 20:05] Levi-Armstrong commented on #76
Do you mind posting it [here](https://answers.launchpad.net/~beineri)? I don't have control of the qt library just the ros qt plug-in but the maintainer has been responsive in fixing issues.

[2017-01-18 22:25] NikolausDemmel commented on #28
Awesome. Is there a way to build this plugin for the most recent binary releases of qtc? I use the official 4.2 binaries. 4.3 will be out soon as well.

[2017-01-18 22:48] Levi-Armstrong commented on #28
Are you on xenial?

[2017-01-18 22:49] NikolausDemmel commented on #28
Still stuck on trusty :-/

[2017-01-18 22:52] Levi-Armstrong commented on #28
The plug-in depends on the qt57 release on launchpad.net. It is currently on 4.1 and not sure when the maintainer will update it. The other option is you could build it from source.

[2017-01-18 22:57] NikolausDemmel commented on #28
Building from source takes forever though :-P. Anyway. Qt5.8 should be out in January. I already saw the qt58 RC1 on the launchpad repo (at least for xenial), so maybe the maintainer of those will add qt58 soon after its release. It should ship with qtc 4.2.1.

But qtc 4.1 is good also. I'll give it a try with qtc4.1 from launchpad. Thanks!

[2017-01-19 00:42] AndreaLampart commented on #73
Same for me. Atm works all fine. Thanks!

[2017-01-19 03:14] Levi-Armstrong commented on #28
@NikolausDemmel, I could create a version for the qt571 which would get you 4.2.0 if there is a particular feature you need that is not in 4.1.0.

[2017-01-19 22:08] huoxiaoyao commented on #76
Ah yes, sure. Thanks for letting me know.

[2017-01-19 22:08] #76 closed

[2017-01-20 11:12] henriqueribeiro commented on #73
@Levi-Armstrong, just to clarify, the solution is to import the workspace again?

[2017-01-20 15:58] Levi-Armstrong commented on #73
@henriqueribeiro I don't think you should not have to with the fixes, but you will have to set up the build configurations again since this has changed to accommodate multiple build system. For each build configuration you will need to make sure to set the correct build system, debug setting and build/clean steps.

[2017-01-23 10:41] gavanderhoorn opened #77 "beneiri PPA for Qt5.7 no longer exists"
As far as I can tell, it has been renamed to [opt-qt571-trusty](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt571-trusty) (from `opt-qt57-trusty`).

The wiki should probably be updated to reflect this.

[2017-01-23 10:46] gavanderhoorn commented on #77
And the plugin rebuild, as various dependencies also no longer exist.

[2017-01-23 13:23] Levi-Armstrong commented on #77
You are right it was there last week, but I will work on getting it updated. Also 5.71 uses qtcreator 4.2 so I will create a new version of the plug-in.

[2017-01-26 02:07] mikearmstrong800 opened #79 "Qt Crashes when creating a new package"
I just installed the plug-in and all seemed to go well.  But when I attempt to create a new ROS package Qt  crashes when I click finish.  I'm running Ubuntu 16.04.

It did work once when I put dummy items in the depends fields.  But only once.  Also, I made a sample URDF file without any problems.

This looks like an excellent product.  Any help would be appreciated.

Sincerely,

Mike Armstrong

[2017-01-26 13:39] passgall opened #80 "For ROS run configuration"
Hi,
When I use this new version ros_qtc_plugin. I can build project successfully. But when I want to run the project .In the step ROS run configuration, the ros_qtc_plugin cannot auto detect the package and node. So I should fill this message manually like this"ROS Step: rosrun beginner_tutorials listener". I cannot upload the picture by this . I remember that this can auto detect in the old versi

[2017-01-26 15:17] Levi-Armstrong commented on #80
I will look into it and see if I have the same issue.

[2017-01-26 15:36] Levi-Armstrong commented on #79
I will test it on 14.04 and see if it crashes.

[2017-01-26 21:13] Levi-Armstrong commented on #80
Are you not able to use the drop down and select the package?

[2017-01-26 21:57] Levi-Armstrong commented on #79
Have you updated recently?

[2017-01-26 22:14] Levi-Armstrong commented on #77
Everyone, to prevent further issues I have created my own ppa to store the qt libraries. This will prevent unknown update in the beneiri ppa. See the updated [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)) for instructions on removing the beneiri ppa's and adding the my ppa.

[2017-01-26 22:43] mikearmstrong800 commented on #79
I'm a first time user.  I installed it from this tutorial -> https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users).

Although the video is different than my version, I was able to follow the tutorial to create a catkin workspace/package/node.

When I got to the second video, setting up Qt build, that is substantially different, and there are no predefined build arguments

[2017-01-27 00:15] passgall commented on #80
yes！I should do this by adding in the argument

[2017-01-27 03:16] Levi-Armstrong commented on #80
I am a little confused. Let me know which of the following steps did not work.

1. Add the rosrun step.
2. Select a package.
  - Is the package in the list?
3. Select an executable.
  - Is the executable in the list?
  - If not, in a terminal can you navigate to the devel directory and verify that the executable actual exists?

[2017-01-27 03:27] Levi-Armstrong commented on #79
I just updated the wiki today, to prevent further dependency issues. I would recommend going back there the wiki. I would also recommend going through the wiki "Setup Qt Creator for ROS". I would not bother with the 3.5 and 3.6 at this point, but maybe in the future.

I apologize about the videos. I just updated everything from 4.1 to 4.2 and things in Qt Creator have changed so I plan to update t

[2017-01-27 04:11] passgall commented on #80
When I added the rod step，the package is not in the list.Also I cannot select the package because the list box is disabled.The node list is the same.
I didn't use the method you mentioned in third.

[2017-01-27 04:41] mikearmstrong800 commented on #79
I already have a lot of time invested in a C++ Qt GUI and controller for a 6 DOF robot, so I’d like to stick with Qt if possible.  What I want to do immediately is enter position and orientation values into QlineEdit’s and press a QPushButton to publish them to a Moveit! based node.  From that node my Qt app will have a subscriber node to receive trajectory information that will be displayed in a

[2017-01-27 05:19] Levi-Armstrong commented on #79
I assume by "C++ Qt GUI and controller for a 6 DOF robot" you are currently using qmake to build these items.  I would recommend porting your build system over to catkin_make (cmake) since you are wanting to use ROS components. You can find a lot of information on the web on converting qmake to cmake. From here everything should be following the ROS example on publisher and subscribers.

[2017-01-27 05:28] Levi-Armstrong commented on #79
Here is a useful [resource](https://github.com/stonier/qt_ros/tree/indigo/qt_tutorials/common)

[2017-01-27 05:38] Levi-Armstrong commented on #80
Is this what yours looks like? But your not able to find your package name in the list?

![image](https://cloud.githubusercontent.com/assets/9803128/22361476/b416d172-e41f-11e6-9fc6-700fd7e975c6.png)

If that is the case lets launch Qt Creator from a terminal and see what messages are being printed out. Launch Qt Creator using the command below, then go through the step of adding the ROS Run Step,

[2017-01-27 13:25] passgall commented on #80
I just do this by your suggestion.  I have found that many package showed in the drop down list but the package name of my project is not display in the package list .I do not know why?

[2017-01-27 14:17] Levi-Armstrong commented on #80
Did anything print out in the terminal?

Also can you navigate to your workspace, then source it and run the following command and let me know if your package is listed there.

`rospack list | grep "name_of_package`

[2017-01-27 23:41] Levi-Armstrong commented on #79
Also if the code is in a public GitHub repository, I could take a look at it to get a better understanding of what you are trying to do?

[2017-01-28 09:17] iminternet opened #82 "new Qt Creator 5.7.1 build wont load properly"
I installed your new qt creator 4.2 with qt 5.7.1 build in my new (clean) ubuntu 14.04 virtual machine.
I used your new PPA cause the old benri PPA wasn't available any more.
After installation I can start your qt creator but it is not loading properly.
![qtcreator571](https://cloud.githubusercontent.com/assets/24550050/22395514/7a8f6680-e541-11e6-89c4-0b533315d7a6.JPG)
The "Welcome" page stays bl

[2017-01-28 11:44] passgall commented on #80
Hi,
I run qtcreator from terminal and I use this command “rospack list | grep "my package name”in the terminal. I cannot find the package name in the package name list. Also there are no printing out messages in the terminal.

[2017-01-28 19:28] Levi-Armstrong commented on #82
I did an upgraded on my machine after changing the ppa and everything still appeared to work. I will purge my system of qt57 and reinstall to see if I have the same issue.

[2017-01-28 19:32] Levi-Armstrong commented on #80
It sounds like there maybe an issue with the workspace or package. Did you source the workspace prior to running the rospack command in the terminal?

[2017-01-29 03:07] Levi-Armstrong commented on #82
So I uninstalled all of qt57 on my machine and reinstalled it and everything worked. I will create a vm tomorrow and see if I can recreate the issue.

[2017-01-29 06:07] mikearmstrong800 commented on #79
Levi,

I finally got my original Qt C++ controller/GUI code "catkinized" and working in Qt with your plugin.

I did have it crash again when I created the package, so I just made one from the command line.  I'm not too worried about that now.

Thank you for all your help and offer to look at my code.  It's not on any public repositories.

In the end it wasn't as bad as it seemed from reading all o

[2017-01-29 06:07] #79 closed

[2017-01-30 09:48] iminternet commented on #82
Does Qt Creator need graphical hardware assistance for drawing the application window? Maybe its not working cause there is not 3D hardware acceleration in my virtualbox VM?

[2017-01-30 14:04] Levi-Armstrong commented on #82
I am not sure on this.

I did create a new VM and installed everything per the wiki and everything worked for me. I would assume maybe something else is going on. I would check the version of Qt Creator just to make sure it is launching the qt 5.7.1 version.

[2017-01-31 13:39] Levi-Armstrong commented on #82
Are you still having issues on the VM?

[2017-01-31 16:16] iminternet commented on #82
I turned of the "3D hardware acceleration" for my VM. Now it works fine.
Sorry it wasnt a problem of your Qt Creator build after all.
Thanks anyway for your help :)

[2017-01-31 16:17] #82 closed

[2017-02-01 16:05] Levi-Armstrong commented on #80
So I did a lot of testing and I was able to recreate the issue. I submitted a fix PR #81 and once merged I will push another binary. Thank you for the feedback.

[2017-02-02 04:34] Levi-Armstrong commented on #80
Addressed by PR #81

[2017-02-02 04:34] #80 closed

[2017-02-02 04:36] #69 closed

[2017-02-02 04:40] Levi-Armstrong opened #83 "Show warning pop-up message with "debug" button is pressed"
If the user is trying to debug a **roslaunch** or a **rosrun** configuration and the "debug" button is presses, launch a pop-up message that reminds that the correct process require the manual use of "Attach to unstarted application".

@facontidavide Thank you for your feedback.

[2017-02-02 04:41] Levi-Armstrong commented on #60
Created new issue #83 to add @facontidavide requested feature.

[2017-02-02 04:41] #60 closed

[2017-02-02 04:44] Levi-Armstrong commented on #63
@samieti02 Wanted to follow up and see if you are still having issues.

[2017-02-04 15:03] vdivald opened #84 "rosrun doesn't work properly after adding a Run step in Run Settings"
I created an empty workspace, I have built it without a problem, then went to the Projects tab to Add Run Step. It lists the available packages properly, I chose rviz package with rviz target to test, so basically it should run 'rosrun rviz rviz'. But when I hit the Run button, the package just disappears and it tries to run only 'rosrun  rviz' in the console. It happens with any other package as

[2017-02-05 03:43] Levi-Armstrong commented on #84
@vdivald, thank you for your feedback. I also noticed that late last week. I hope to have a fix soon.

[2017-02-08 09:27] cl13554212322 opened #87 "ros/ros.h"
ros/ros.h no such file or directory:
I have added the <IncludePaths> aready, but it doesn't work.
`<?xml version="1.0" encoding="UTF-8"?>
<Workspace>
    <Distribution name="indigo"/>
    <WatchDirectories>
        <Directory>src</Directory>
    </WatchDirectories>
    <IncludePaths>
        <Directory>/opt/ros/indigo/include/</Directory>
    </IncludePaths>
</Workspace>`
Thank you!

[2017-02-08 09:42] cl13554212322 commented on #87
Add: I have installed the new Qt on Ubuntu14.04/indigo, I can import ROS workspace, but I can't find the header file.
1.   sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
2.   sudo add-apt-repository ppa:levi-armstrong/ppa
3.   sudo apt-get update && sudo apt-get install qt57creator-plugin-ros

[2017-02-08 14:33] Levi-Armstrong commented on #87
That is normal when you first import a workspace. They way the IDE works is it requires a Code Block Project file to be generated which provides the necessary information to the IDE, like include paths, source files, etc. If you build the project from within the IDE it will generate these files and parse them, followed by updating the Qt Creator Code model. Then everything should work. The code mo

[2017-02-08 16:00] cl13554212322 commented on #87
Thanks, I have sovled the problem already.
`sudo gedit /usr/lib/x86_64-linux-gnu/qtchooser/default.conf`
and changed the text
/home/chlong/Qt5.7.0/5.7/gcc_64/bin
/home/chlong/Qt5.7.0/5.7/gcc_64/lib
to
/opt/qt57/bin
/opt/qt57/lib
then,  all will works.

[2017-02-09 01:08] aje0005 commented on #84
I seem to be running into the same exact problem. I've tried reinstalling the plugin as per the instructions and by running bash setup.sh and I am still having the same problem. What is the best way I can incorporate the fix into my install?

Thanks

[2017-02-09 02:30] Levi-Armstrong commented on #84
Sorry @aje0005, I have not done release with the latest fix. I will try and push a new version tonight.

[2017-02-09 05:03] #87 closed

[2017-02-09 05:07] Levi-Armstrong commented on #84
The package has been released. You can perform:
[code]

[2017-02-09 06:13] samieti02 commented on #63
@Levi-Armstrong , thks for the reply. No new one. I use now, most of the time the process run step.

[2017-02-09 06:48] vdivald commented on #84
Thank you Levi, it works well now.

[2017-02-09 09:45] chaiein opened #89 "No ros workspace found"
[code]

After `bash setup.sh -d` I have the above result and  ROS workspace to in new file menu  is not shown.

[2017-02-09 15:22] aje0005 commented on #84
Thanks Levi!

[2017-02-09 22:55] Levi-Armstrong commented on #89
I have not used the setup script for developers in a while. I will take a look and see what fixes are required.

[2017-02-09 22:56] #84 closed

[2017-02-17 16:50] passgall commented on #80
hi,
I have  found another question. When I run node in qtcreator. It shows this message in QT Ros terminals "run talker" where the talker is node name. But the package name "beginner_tutorials" is lost. So there are no other message shown in the QT Ros terminal.
When I used "rosrun  beginner_tutorials talker" in ubuntu terminal. It works very well.So there are some errors in the /ros_qtc_plugin.Ca

[2017-02-21 19:40] AustinDeric opened #90 "Show hidden files in the Projects View"
i would like to be able to see files such as .gitignore, .travis.yaml and .rosinstall files in the IDE.

[2017-02-22 18:42] aje0005 opened #91 "Debugging with boost vectors"
I've been working with this plugin for a couple weeks now, and am loving it. However, one thing that has been frustrating is that when I am debugging my ros node, the values stored in boost vectors do not show up in the workspace panel to the right. All the panel will show me is the size of the vector. This forces me to write cout statements everywhere to see what the values are, which almost defe

[2017-02-22 20:23] Levi-Armstrong commented on #91
I have seen this with pointer arrays but it may be the same. See this [link](http://stackoverflow.com/questions/7533833/view-array-contents-in-qt-creator-debugger).

[2017-02-22 20:26] Levi-Armstrong commented on #91
Also you may take a look [here](https://svn.boost.org/trac/boost/wiki/DebuggerVisualizers).

[2017-02-23 14:36] Levi-Armstrong commented on #89
I still have not had a chance to take a look at the developer script. I hope to take a look this weekend.

[2017-02-23 14:37] Levi-Armstrong commented on #73
Addressed by issue #81

[2017-02-23 14:37] #73 closed

[2017-02-24 16:39] martijnschellekens opened #92 "Bash terminals are not killed"
When within "ROS terminals"  I add a new terminal and close this terminal via the little cross, the associated bash session continues to live until QT Creator is closed.
Similarly, when I close the bash session by typing "exit" on the command line, the bash command line disappears but the tab stays open. The latter is btw less of an issue.

[2017-03-02 21:57] benhirashima opened #96 "Readme/Wiki don't list features or even a basic description of what this plugin does."

[2017-03-06 04:20] Levi-Armstrong commented on #96
A description has been added to the readme.md

[2017-03-06 04:20] #96 closed

[2017-03-16 07:41] mmoerdijk opened #97 "Wiki page not showing correctly"
There are some small problems with the wiki page.
[https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)#section1.1](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)#section1.1)

[2017-03-16 07:47] gavanderhoorn commented on #97
Fixed ([diff](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)/_compare/07f5be35e9ea64b1b180ad5612a361953899affc...a06791046dab2bfddee77d82147aec0d8a51ef79)).

[2017-03-16 07:47] #97 closed

[2017-03-16 16:17] bracco23 opened #98 "Qt is not finding my headers anymore."
I opened Qt as usual to work on my code and now it cannot find my code anymore.

I have the usual structure:

pkg
|----include
|----|----pkg
|----|----|----*bunch of include files*
|----src
|----|----*bunch of src files*

The package are compiling fine with catkin_make, but Qt doesn't see my headers anymore.

In one of the src i have included my headers, Eigen headers and the headers of my message

[2017-03-16 17:55] Levi-Armstrong commented on #98
Can you try building with catkin tools? Goto your build settings and change it to catkin tools and add a build and clean step. You do not need to remove the catkin make step they get disabled when you switch the build system to catkin tools. You will also have to perform a clean after adding the new steps to wipe out the catkin make build files.

[2017-03-16 19:16] bracco23 commented on #98
After building with CatkinTools it worked, now it can see all the headers, but it used to work also with CatkinMake.

[2017-03-16 19:56] Levi-Armstrong commented on #98
Have you recently updated your system?

If you don't mind, can you launch qt creator from a terminal and rebuild using catkin make and let me know if anything gets printed to the terminal?

[2017-03-16 21:04] bracco23 commented on #98
yes, I received updates for ros and the plugin for the 08/03 according to my apt history.

I ran qt from the console and the moment, I opened the project, did a clean and a build with catkin_make and a bunch of messages have been written on the terminal.
To have the messages more clearly divided between clean and build I closed everything and ran again, and the same messages appeared the moment I

[2017-03-17 02:34] Levi-Armstrong commented on #98
Ah, are the missing headers files in the packages with the CATKIN_IGNORE file? If so, you will need to actually build them from the IDE at least once and after every clean so the necessary project files get generated by cmake. Try removing the CATKIN_IGNORE and after the first successful build adding it back and let me know if it solves the issue. Thank you for the help with trouble shooting this

[2017-03-17 03:13] Levi-Armstrong commented on #98
Also I pushed a new release on 3/13/17 which had some bug fixes, so I would also try updating it again.

[2017-03-17 03:13] #92 closed

[2017-03-17 03:14] #90 closed

[2017-03-17 08:39] bracco23 commented on #98
No, they're not, the workspace builds fine (if headers file were missing or ignored there would have been problems with building) but the IDE cannot find and parse them, that is my only problem.

As a last try before posting this issue yesterday I uninstalled everything, added the PPA again, updated and installed following the wiki from scratch, I guess that means I already have the latest version

[2017-03-17 13:54] Levi-Armstrong commented on #98
"Unable to parse build information for package: crazyflie_controller"
"Unable to parse build information for package: crazyflie_cpp"
"Unable to parse build information for package: crazyflie_driver"
"Unable to parse build information for package: crazyflie_tools"
"Unable to parse build information for package: formation_control"
"Unable to parse build information for package: gazebo_tutorials"
"Un

[2017-03-17 14:07] bracco23 commented on #98
crazyflie, crazyflie_controller, crazyflie_cpp, crazyflie_driver, crazyflie_tools, formation_control, ram_crazy, mocap_optitrack are the packages in my workspace that are NOT under a CATKIN_IGNORE directory, they are the one I'm interested in building and editing and stuff.

two_quad_load, netft_utils, and the others are under a CATKIN_IGNORE directory, therefore they are not involved in the build

[2017-03-17 14:23] Levi-Armstrong commented on #98
Ok, that explains things. I think I know what may be the issue but I thought I resolved this in the latest release. Can you run the command below and verify that the version is 0.1.5-0xenial5?

[code]

[2017-03-17 14:33] bracco23 commented on #98
mmh, nope, i'm on 14.04, therefore my version is 0.1.5-0trusty5 amd64.

[2017-03-17 14:40] Levi-Armstrong commented on #98
Sorry, the version you have is the latest for trusty.

Could you try moving the packages that you you need out of the CATKIN_IGNORE folder and into the workspace src directory and rebuilding?

[2017-03-17 14:48] bracco23 commented on #98
The packages I need are all out of the CATKIN_IGNORE, I could literally just take that folder out of the workspace and nothing would change.

The build itself is working fine, catkin finds all the headers it needs exactly where I tell it they are, the only issue is with the IDE not finding some of these headers.

[2017-03-17 15:17] Levi-Armstrong commented on #98
Ok, Can you take a look in <workspace>/build/crazyflie directory and see if there is a file with the extension  *.cbp* and if so what is the name of the file?

[2017-03-17 15:27] bracco23 commented on #98
Ok, I moved to my build folder and executed
**find . -name "*.cbp"**
to see all the CodeBlocks file available:

*./mocap_optitrack/mocap_optitrack.cbp
./catkin_workspace.cbp
./crazyflie_ros/crazyflie/crazyflie.cbp
./crazyflie_ros/crazyflie_demo/crazyflie_demo.cbp
./crazyflie_ros/crazyflie_controller/crazyflie_controller.cbp
./crazyflie_ros/crazyflie_description/crazyflie_description.cbp
./crazyfli

[2017-03-17 16:09] Levi-Armstrong commented on #98
Ok, thank you for the help. I know how to test this and see if I can replicate the issue. I had this issue before when packages are in a subfolder but I thought I solved this issue. I will do some testing and see what I can find.

[2017-03-21 13:04] Levi-Armstrong commented on #98
I was able to recreate the issue. With the new release of Catkin Tools integrations it was not easy to make the project file backwards compatible. In my test case all I had to do was delete the two file with the following extension (.workspace & .workspace.user) and re-import the project and then everything worked. Let me know if this resolves the issue, if not I am working on a changes to add mor

[2017-03-21 16:36] suarez-ramon commented on #98
Hello,

I am also having the same issue with the headers in my project. On some packages it's unable to link them.

[2017-03-21 16:48] bracco23 commented on #98
As i said i already tried to delete and reload. I also tried to uninstall and reinstall the whole thing, delete and reload but it did not work. I don't have the chance to try again right now but i will do, even if i don't think it will succeed.

[2017-03-21 17:16] Levi-Armstrong commented on #98
OK, Uninstalling and reinstall the plug-in would not have remove your project file (.workspace and .workspace.user) in your workspace. Did you try in the past removing these or did you just reopen the project from the recent list after reinstalling?

[2017-03-21 17:37] Levi-Armstrong commented on #98
I just pushed a new version providing more debug information during the parsing of the project. I will let you know when it is officially released (~30min) and if you could run qt creator from the terminal and post the output from the terminal after the package is opened and you have tried building it? It will help me track down the issue.

[2017-03-21 18:28] Levi-Armstrong commented on #98
A new version has been release perform an update/upgrade and let me know what gets output to the terminal. Thank you for your help.

[2017-03-21 20:06] bracco23 commented on #98
Ok i did this:

**cd catkin_ws**
**find -name "*.workspace*" -delete**
**rm -rf build/ devel/**
**sudo apt-get remove qt57creator** *it removes also the plugin automatically*
**sudo apt-get upgrade**
**sudo apt-get install qt57creator-plugin-ros**

At this point I check for the version and it still says 0.1.5-0trusty5, which I found strange, but I went on.

**/opt/qt57/bin/qtcreator**

And did a n

[2017-03-21 20:08] Levi-Armstrong commented on #98
you should runt `sudo apt-get update` prior to upgrade. and you should get  0.1.5-0trusty6.

[2017-03-21 22:36] bracco23 commented on #98
My brain will never stop being confused between apt-get upgrade and apt-get update.

so, again:

**cd catkin_ws
find -name "\*.workspace\*" -delete
rm -rf build/ devel/
sudo apt-get update
sudo apt-get upgrade
/opt/qt57/bin/qtcreator**

Create new project, import ROS workspace, and this is the output:

*"Unable to locate build directory for package: crazyflie"
"Unable to locate build directory for

[2017-03-22 03:28] Levi-Armstrong commented on #98
OK, It is a bug in how I am determining the build directory for a package. I work on a resolution and a fix shortly. Thank you for helping track things down.

[2017-03-23 15:03] alireza-hosseini opened #100 "C++ autocomplete does not work!"
Recently, I started to use this IDE, but the very very big disadvantage of this version is that is doesn't have auto complete which is very bad!
my OS is ubuntu 16.04, ROS version is kinetic and I'm using catkin tools.

[2017-03-23 15:08] Levi-Armstrong commented on #100
The auto completion should be work, but you must build the project first from within the IDE at least once so the necessary cmake project files get generated for the IDE to parse. Did you build from within the IDE?

[2017-03-23 15:43] alireza-hosseini commented on #100
Yes I did build the whole workspace using qtcreator.

[2017-03-23 15:49] Levi-Armstrong commented on #100
You are using catkin tools instead of catkin make?

[2017-03-23 15:51] alireza-hosseini commented on #100
Yes, I do and also my colleagues.

[2017-03-23 15:57] Levi-Armstrong commented on #100
Can you launch qt creator from a terminal and build your project and then post the output from terminal?

[2017-03-23 16:24] alireza-hosseini commented on #100
It keeps writing following text:
"Unable to locate build directory for package: package-name"
for many of my packages

[2017-03-23 19:27] Levi-Armstrong commented on #100
Does it print out a directory and does the directory exist?

[2017-03-24 12:11] Levi-Armstrong commented on #98
I just pushed a new release it should get published in about 30 minutes. Then you can perform an update & upgrade to get the latest. Let me know if this fixes the issue.

[2017-03-24 12:14] Levi-Armstrong commented on #100
I just pushed another release to solve issue #98 which may be related. Try updating and upgrading your system to get the latest in about 30 minutes.

[2017-03-25 18:58] bracco23 commented on #98
Sorry for late reply, I just checked and it solved the problem for me, I didn't even need to reimport the project, I opened the old one and it was working fine.

[2017-03-27 03:16] Levi-Armstrong commented on #100
@alireza-hosseini: Have you been able to test the latest?

[2017-03-27 03:17] Levi-Armstrong commented on #98
@bracco23, Glad to hear. Thank you for the help tracking down the bug.

@suarez-ramon, Have you tested the latest to see if it solves it for you?

[2017-03-27 14:22] passgall commented on #83
I have  an issue like this.When I followed this process
   Compile in debug mode. Note: Make sure the build configuration is set to debug.
   Debug-> Start Debugging->Attach to unstarted application--> and then choose the executable and    start watching
   Then press Ctrl+R (Assuming the run configuration is setup to launch your node, otherwise you run it from any terminal on the machine and it w

[2017-03-27 14:49] Levi-Armstrong commented on #83
When using the attach methods, sometime your programs can finish before the debugger can full attach. I recommend adding a `sleep(3);` at the top of your program to give the debugger time to attach.

[2017-03-27 15:01] passgall commented on #83
I added this sleep(3) or sleep(300) at top of program. But it still does not work.

[2017-03-27 15:39] Levi-Armstrong commented on #83
Please verify that the executable has been built in debug, see [here](http://stackoverflow.com/questions/3284112/how-to-check-if-program-was-compiled-with-debug-symbols) for instructions.

[2017-03-27 16:24] passgall commented on #83
Sorry, I can not understand your instruction. I had Build System : CatkinMake and BuildType :Debug. Also I have checked the managekit. There are no mistake. Is this not ok?

[2017-03-28 03:21] Levi-Armstrong commented on #83
Sorry for not giving more details, but it is possible to define it in the CMakeLists.txt file and it will ignore the flag passed to catkin_make. It would be good to verify that the actual executable in your devel directory is actually built in debug by following the instruction in the link.

[2017-03-28 07:43] passgall commented on #83
Sorry,Can you tell me how to modify in the CMakeLists.txt file for detail? I really don't know what to do!

[2017-03-28 08:17] suarez-ramon commented on #98
I did a software upgrade with the GUI and it works fine for me now. I don't know if it had anything to do but I also deleted the old .workspace file and now it's perfect. Thanks!!

[2017-03-28 12:37] Levi-Armstrong commented on #98
@suarez-ramon Great! There was an intermittent bug in how I was locating the build directory for a package.

[2017-03-28 12:37] #98 closed

[2017-03-28 12:57] Levi-Armstrong commented on #83
Try this:

- Step 1: cd <workspace>/devel/lib/<package name>
- Step 2: objdump --syms <node name> | grep "debug"

If it was built in debug this will print information to the terminal, if not nothing will be printed.

[2017-03-28 14:53] passgall commented on #83
When I used the up step, It shows "debug_info, debug_abbrev, debug_line..." I think my program was built in debug mode. But It still can not stop at breakpoints.

[2017-03-30 17:50] Levi-Armstrong commented on #100
@alireza-hosseini, Has this issue been resolved with the latest fix?

[2017-03-30 20:47] oxoocoffee opened #102 "Qt 5.8 build issue"
Hello and thank you for your work :)

I am not sure if you officially support Qt5.8 but I spoted build issue with it.
Here is my setup
Linux Mate 18.1 x64
4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Qt 5.8 installed from https://download.qt.io/archive/qt/5.8/5.8.0/
Qt 5.8 installed to /opt/Qt/

Qt Creator 4.2.1
Based on Qt 5.8.0 (GCC 5.3.1 20160406 (R

[2017-03-30 21:59] Levi-Armstrong commented on #102
Let me know if I understand correctly; You want to build a project using 5.8. If this is the case I don't believe that the IDE its self is required to built in 5.8 for you to use it to build a project using 5.8. You will need to install 5.8 somewhere and then setup a kit in Qt Creator which point to the installed 5.8 version. You may also need to clear out some system environment variables inside

[2017-03-30 23:01] oxoocoffee commented on #102
Yes You go it. I do not need to build Qt Creator itself since it is already installed.
But I was able to build your plug-in using your script but I had to add libqtermwidget57-0-dev to list of prerequisite

echo "Install build dependencies: build-essential libgl1-mesa-dev"
sudo apt-get install build-essential libgl1-mesa-dev libqtermwidget57-0-dev

This of course did build qt creator. I will try t

[2017-03-30 23:16] liamstask commented on #100
I'm seeing this issue on what I believe is the latest version - I can't find any version info in the Qt Creator UI (looked mainly in the plugins dialog, and the detail dialog for the ROS plugin).

In my case, the console msgs are looking for files that do not exist - i.e. `myproj/ros/build/pkgname/pkgname.cbp`

There do not appear to be any .cbp files in my workspace, even after a complete build.

[2017-03-30 23:32] liamstask commented on #100
I also notice that the Clang Code Model section of the C++ options is disabled, saying "The Clang Code Model is disabled because the corresponding plugin is not loaded" even though the plugin shows as loaded in the plugins dialog.

[2017-03-31 02:03] Levi-Armstrong commented on #100
@liamstask, What build system are you using (catkin_make or catkin tools)?

[2017-03-31 02:21] oxoocoffee opened #103 "Catkin Tools"
I was wondering if catkin tools is supported in current version.
After building your plug-in with Qt 5.8 I wanted to experiment. So I created simple workspace using you plugin. I selected catkim tools instead of carkin make and pressed finish. Then I did try to add package. Looks like package was created (I can see it in terminal) but in Qt Creator workspace it was not added.
Is this know issue? I

[2017-03-31 02:26] oxoocoffee commented on #103
I just realized that initial workspace creation did not create src folder. So when I added package it did not put it to src by default.

[2017-03-31 04:28] liamstask commented on #100
@Levi-Armstrong catkin tools

[2017-03-31 14:37] Levi-Armstrong commented on #103
When you added the package it should have a place where you specify the location. Using the tool it would let you create the src directory if it did not exist. So right now it does not do any checking, it is left up to the user to make sure they select the correct location. I should probably add a check to make sure at least it resides in the src directory.

[2017-03-31 14:40] Levi-Armstrong commented on #100
Did the base directory `myproj/ros/build/pkgname/` at least exist? Also did the build successful from within the IDE?

[2017-03-31 15:31] oxoocoffee commented on #103
I think since this is "preferred" way of doing it I think creating src folder when creating workspace would make sense. Going further when creating package this wizard would automatically by default point to src where package would be created. I also think adding msg, srv, action .... folders when creating package would be great. What do you think? If you are busy I could do this and do pull reque

[2017-03-31 15:46] Levi-Armstrong commented on #103
It looks like using catkin_make the src directory gets created, but when using catkin tools it does not, which is a bug.

I agree with that when a user adds a package the path should defaults to the workspace src directory and this should not be to difficult to implement.

When creating a package under the hood I am executing the command catkin_create_pkg which may do this assuming you pass the ri

[2017-03-31 16:10] oxoocoffee commented on #103
Ok I will look into this. Do you have a script that just builds your plugin and not entire Qt Creator? Or what needs to be changed. I can modify your script to optionally download Qt Creator if you need to build. What about project itself?

[2017-03-31 17:08] liamstask commented on #100
yes, the directory exists and the build completes successfully in the IDE

[2017-03-31 18:27] Levi-Armstrong commented on #100
Can you build it from the terminal using the command below in your workspace and see if the .cbp file shows up?
[code]

[2017-03-31 18:35] liamstask commented on #100
yes - they're generated in that case.

Sorry, I should have mentioned that I had configured the project to run `catkin build` as the build command (as our project has some specific build config specified elsewhere).

[2017-03-31 19:25] oxoocoffee commented on #102
Levi,

I am working on your setup script adding few things. I will be soon getting option to to skip qt creator build if you have one installed. Do you have any your recommendations  do and don't?

[2017-03-31 19:36] liamstask opened #104 "catkin tools: build errors not shown in 'Issues' output tab"
When I have some compilation errors, I see them in the 'Compile Output' tab, but they do not appear to be handled by the 'Issues' tab (which also means they are not shown in the editor ui, etc).

[2017-04-01 01:07] liamstask opened #105 "catkin tools: clang code model disabled"
when i start up my qtcreator installation normally, i can enable the clang code model plugin and it shows up in `Tools > Options > C++ > Code Model` as expected.

even when the plugin is selected in the plugins dialog, it is disabled in `Tools > Options > C++ > Code Model` when running via qtcreator-wrapper.

[2017-04-01 02:46] Levi-Armstrong commented on #104
Only some errors are support right now mainly gcc compiler errors. CMake and Catkin errors are currently not supported at the moment. Qt does provide a CMake Output parser but it was private and they have since change it to exported but it will not be available to till the next release.

The catkin errors will be an enhancement, it would just take someone to write a output parser for it.

[2017-04-01 02:53] Levi-Armstrong opened #106 "Creating a new workspace with build system catkin tool the src directory is not created."

[2017-04-01 02:53] Levi-Armstrong commented on #106
This issue was identified in this issue #103.

[2017-04-01 02:57] Levi-Armstrong commented on #100
Could you provide more details about the statement above. If the cbp file was created providing the command using terminal, it should then get created using the IDE. But there could be issues with my implementation, it may not do what I expect when passing additional argument so catkin.

[2017-04-01 03:02] liamstask commented on #100
Sure - I had previously configured my qtcreator build step to be specifically `catkin build`, as opposed to `--cmake-args -G "CodeBlocks - Unix Makefiles"` or the default generated build step (which includes a debug/release setting)

Perhaps the `-G "CodeBlocks - Unix Makefiles"` directive is responsible for generating the .cbp files?

[2017-04-01 03:05] liamstask commented on #104
ah, ok - good news that the parser will be made available 👍

do you happen to know if the cmake output parser also handles compiler/gcc output, as invoked by cmake, or does it just handle cmake specific output? just wondering, as there is no output at all in the 'Issues' tab at the moment, and not sure whether that's expected to be addressed by the cmake parser.

[2017-04-01 03:05] Levi-Armstrong commented on #103
I looked at the setup script and I think the only thing that needs to be updated is this [line](https://github.com/ros-industrial/ros_qtc_plugin/blob/master/setup.sh#L35) which should now have 4.2 instead of 4.1. Then if a developer follows the wiki for developers it should work with this change but I have not tested it.

[2017-04-01 03:11] Levi-Armstrong commented on #102
I would recommend still building qt creator from source to prevent corrupting the installed version, this is what Qt Creator community recommends. If you were to develop using the installed version and you induce a run-time error you would have to fix it using a text editor and to test it you would have to bring everything down and back up.

[2017-04-01 12:59] aliben7 opened #107 "Can't Link ROS with QTcreator."
Hi,

A few months ago I had ROS linked with Qtcreator tool. After this months of inactivity, today I tried to install Qtcreator and linked with ROS in a new Ubuntu 16 desktop but ROS doesn' t appear.
I linked as say's in ROS wiki:
http://wiki.ros.org/IDEs#Qt_Creator_Plugin_for_ROS

Last time I was able to create ROS packages, but unffortonatly not today.

I download Qt 5.7.0 from here:

https://do

[2017-04-01 23:24] passgall commented on #83
I followed this comment http://answers.ros.org/question/204263/debugging-with-qtcreator/. It works...
very thanks!

[2017-04-01 23:49] Levi-Armstrong commented on #107
The wiki you referenced is out dated, it was written before this plug-in existed. Please follow this wiki [here](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)) and I recommend removing the qt version you downloaded.

[2017-04-01 23:51] Levi-Armstrong commented on #104
It just handles CMake errors but the gcc errors should be showing in the issues tab. Could you provide a test case so I may recreate the issue?

[2017-04-01 23:57] Levi-Armstrong commented on #100
Ah that explains why you have no auto complete. The `-G "CodeBlocks - Unix Makefiles"` is what creates the .cbp files which is required at least once and after every clean build. What steps did you use to create your own build step to where it was not passing the `--cmake-args -G "CodeBlocks - Unix Makefiles"` because this is a bug?

Also is there a particular reason you were not wanting to pass t

[2017-04-02 00:05] Levi-Armstrong commented on #83
Do you mind explaining what you had to do, to get it to work?

[2017-04-02 00:08] Levi-Armstrong commented on #83
I you had a CMakeLists.txt.user file this would mean you are not using this plugin but the CMake plugin provided by Qt, because this plug.creates a .workspace and .workspace.user file.

[2017-04-02 00:10] Levi-Armstrong commented on #105
I will test it on my machine and see if I see the same thing.

[2017-04-02 10:25] passgall commented on #83
I have tested it by another computer. Maybe my setup was suited for this comment http://answers.ros.org/question/34966/debugging-ros-package-with-qtcreator/?answer=34977#post-id-34977.
When I added this ...
sudo apt-get install libcap2-bin
sudo setcap cap_sys_ptrace=eip /usr/bin/gdb
It works!

[2017-04-02 15:14] Levi-Armstrong commented on #83
Ah, did you ever go through this [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/3.-Setup-Qt-Creator-for-ROS)? Section 3.1 setups ptrace but it is different that what you did, if not I will add these step to the wiki, but I am not sure if they are needed.

[2017-04-02 16:13] liamstask commented on #100
The reason that I needed to modify the build command was the presence of the `-DCMAKE_BUILD_TYPE` args in the default build commands, as my project has specific requirements for managing the build type. Keeping `--cmake-args -G "CodeBlocks - Unix Makefiles"` is no problem, however.

Maybe it would be worth considering a way to remove the `-DCMAKE_BUILD_TYPE` from the default build steps, or someho

[2017-04-02 16:48] aliben7 commented on #107
Hi,

Thanks for the answer. Everything works fine.

[2017-04-02 16:48] #107 closed

[2017-04-03 03:36] Levi-Armstrong commented on #100
I will take a look and provide some option to get your opinion before implementing, but I think I get something that works.

[2017-04-03 08:42] passgall commented on #83
Sorry. I did't go through section 3.1 of the wiki before.

[2017-04-03 12:42] Levi-Armstrong commented on #83
OK, usually I would get a pop up message bellow. Did you every receive this message?

[code]

[2017-04-03 13:07] Levi-Armstrong commented on #100
@liamstask What do you think about the proposed changes below?

Add a `User Defined` option under the `Edit build configuration:` dropdown and in the `Build Type:` dropdown where the `-DCMAKE_BUILD_TYPE` is left up to the user to pass it they choose. The only flag that would be passed is the `--cmake-args -G "CodeBlocks - Unix Makefiles"`.

[2017-04-03 15:03] liamstask commented on #100
That sounds good to me. Are you planning on allowing for a 'None' option, for Build Type, which would result in the command `catkin build --cmake-args -G "CodeBlocks - Unix Makefiles"`? That's what I would need for my current project, at least :)

[2017-04-03 15:50] Levi-Armstrong commented on #100
Yea, that would be the user defined option.

[2017-04-03 18:32] liamstask commented on #104
i went through the process of creating a new workspace & package via the qtcreator wizards (a few edge cases are not handled well, such as creating a new package when there is no existing workspace etc).

If I uncomment the `error` line in `src/tester/tester_node.cpp` I see the build fail in the Compile Output tab, but no output (including compiler errors) in the Issues tab, where I would expect t

[2017-04-03 20:13] oxoocoffee commented on #77
I am trying to ad your ppa and getting error. I am running Linux Mint 18.1 x64 (based on Ubuntu 16.04)
My  $ lsb_release -c
Codename:	serena

 $ sudo add-apt-repository ppa:beineri/opt-qt57-xenial
[sudo] password for oxoocoffee:
'This PPA does not support xenial'

Would it be possible to add serena?

[2017-04-03 21:00] oxoocoffee commented on #77
I figured I will go for now with Virtual box. So following your Wiki I got this on Ubuntu Desktop 16.04 .x64

sudo add-apt-repository ppa:beineri/opt-qt57-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros libqtermwidget57-0-dev

Hit:1 http://us.archive.ubuntu.com/ubuntu xenial InRelease
Get:2 http://us.archive.ubuntu.com/ubuntu

[2017-04-03 21:05] Levi-Armstrong commented on #77
Did you go through this [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)) where the install procedure is as below? I would recommend removing anything installed from the beineri repository and then remove the beineri ppa.

[code]

[2017-04-03 21:25] oxoocoffee commented on #77
Nop I did not but I will. I did go straight to developers. Perhaps for fresh install it would be good to add link to Users first to remove beineri or update Developers?

https://github.com/ros-industrial/ros_qtc_plugin/wiki/2.-Improve-ROS-Qt-Creator-Plugin-(Developers-ONLY)

[2017-04-03 21:57] oxoocoffee commented on #77
Ok That worked for me. I had little problem with rendering Qt Creator menus under VirtualBox bot I got this resolved.  For some that might experience this issue I installed "sudo apt-get install gnome-session-fallback"
and selected software renderer "GNOME Flashback (Meta City) with 3D option turned off in VM settings and this fixed my problem.

[2017-04-04 02:46] Levi-Armstrong commented on #100
@liamstask, Just submitted PR #108 that adds to the user defined feature.

[2017-04-04 02:52] Levi-Armstrong commented on #77
Oops, I forgot to update the Developers wiki. It has been updated.

[2017-04-04 02:53] liamstask commented on #100
🎉 thanks for the quick response!

[2017-04-04 14:08] psotiropoulos opened #109 "QbsProjectManager plugin cannot be loaded"
I have just updated the qt-creator-plugin and when I start qtcreator I get the following msg:

/opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: Cannot load library /opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libQbsProjectManager.so: (libqbscore.so.1.7: cannot open shared object file: No such file or directory)

With the previous version I did not have such an issue.

[2017-04-04 14:24] Levi-Armstrong commented on #109
Do you know which ppa you are using for the qt57?

`ppa:levi-armstrong/qt-libraries-trusty`

or

`ppa:beineri/opt-qt57-trusty`

[2017-04-04 14:43] psotiropoulos commented on #109
I'm using:
ppa:levi-armstrong/qt-libraries-trusty

I have removed ppa:beineri/opt-qt57-trusty

[2017-04-04 15:09] Levi-Armstrong commented on #109
I would try a purge removal of qt57creator and reinstall.

[2017-04-04 16:35] oxoocoffee opened #110 "Build errors on latest fork"
I just forked latest and after following User setup then Developer setup I got following errors
This is on clean Ubutnu 16.04.2 with latest updates, ROS Kinetic Desktop, cmake 3.7 build from source

g++ -c -pipe -O2 -g -std=gnu++11 -fvisibility=hidden -fvisibility-inlines-hidden -Wall -W -D_REENTRANT -fPIC -DIDE_LIBRARY_BASENAME=\"lib\" -DQT_CREATOR -DQT_NO_CAST_TO_ASCII -DQT_RESTRICTED_CAST_FROM_

[2017-04-04 16:43] oxoocoffee commented on #110
Looks like static ToolChain *toolChain(const Kit *k) takes only one parameter?

[2017-04-04 18:21] harryman1 opened #111 "E: Unable to locate package qt57creator-plugin-ros"
Hi

I'm trying to install the plug-in and I have this error message
E: Unable to locate package qt57creator-plugin-ros

I did  the sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial  and sudo add-apt-repository ppa:levi-armstrong/ppa

I checked and ensure all was correct and no errors were present

when I run the installation I got the error message

E: Unable to locate package qt57cre

[2017-04-04 20:41] Levi-Armstrong commented on #110
Before you ran the setup script did you update this [line](https://github.com/ros-industrial/ros_qtc_plugin/blob/master/setup.sh#L35) to 4.2?

[2017-04-04 20:45] Levi-Armstrong commented on #110
I had mentioned on issue #103, but you may have not seen it yet.

[2017-04-04 20:47] Levi-Armstrong commented on #111
I would recommend removing the qtcreator installed from 16.04 repositories. When install the plug-in it will install a different version of qtcreator.

Also did you perform and `sudo apt update` prior to trying to install?

[2017-04-04 20:49] Levi-Armstrong commented on #100
Addressed by #108 and #101

[2017-04-04 20:49] #100 closed

[2017-04-04 21:26] oxoocoffee commented on #110
For now I did try to build clean clone from your repo.
I just double checked local and it is 4.1

[2017-04-04 21:52] harryman1 commented on #111
Thanks, I did remove the package from 16.04 and ran it again

Get:25 http://ppa.launchpad.net/levi-armstrong/qt-libraries-xenial/ubuntu xenial/main arm64 Packages [912 B]
Get:26 http://ppa.launchpad.net/levi-armstrong/qt-libraries-xenial/ubuntu xenial/main Translation-en [3,340 B]
Fetched 22.3 kB in 2s (8,978 B/s)
Reading package lists... Done

ubuntu@robotsp1:/etc/apt/sources.list.d$ sudo apt-get

[2017-04-05 02:53] Levi-Armstrong commented on #111
I am not sure why it is not locating it. Is the `sudo apt update` successful?

Did you see a Get for http://ppa.launchpad.net/levi-armstrong/ppa/ubuntu xenial/main?

[2017-04-05 02:55] Levi-Armstrong commented on #110
I would change it to 4.2 and re run the script or you can just navigate to the qtcreator directory and perform a `git checkout 4.2` and rebuild qtcreator then everything should work build.

[2017-04-05 02:57] Levi-Armstrong commented on #89
@chaiein Located the issue see this discussion on issue #110.

[2017-04-05 04:16] Levi-Armstrong commented on #104
I agree with your findings. Qt Creator provides two ways to implement these feature, one is a simple way using the json files and the other is through C++. Most of these feature are implemented using json which does not provide complex features for checking if the directory provided is correct, but I will add them as enhancements to upgrade them to C++. The package plugin is C++ and I will see wha

[2017-04-05 04:26] Levi-Armstrong commented on #104
I built the provided workspace with catkin_make and catkin tools and the errors showed in the issues list. Are you using one of the CatkinMake or CatkinTools build step and not the CustomProcess?

[2017-04-05 04:28] Levi-Armstrong commented on #104
Well I also tested it with the CustomProcess Step and they also showed using it.

[2017-04-05 11:12] harryman1 commented on #111
the sudo apt update shows that all sources have been found and no errors

Hit:15 http://ports.ubuntu.com/ubuntu-ports xenial-security InRelease
Hit:16 http://ppa.launchpad.net/levi-armstrong/qt-libraries-xenial/ubuntu xenial InRelease
Hit:17 http://ports.ubuntu.com/ubuntu-ports xenial-updates InRelease
Hit:18 http://packages.ros.org/ros/ubuntu xenial InRelease

I did had the GET and I'm seen a HIT

[2017-04-05 14:56] oxoocoffee commented on #110
Yes, Just did build and updating to 4.2 builds find. I did it couple of days ago with 4.2.1 but this was coincidently with my change. This time around I wared to start clean with how you had it in repo then add my changes. I am good now.

[2017-04-05 15:01] Levi-Armstrong commented on #110
Great!

[2017-04-05 15:11] #110 closed

[2017-04-05 16:04] harryman1 commented on #111
Hi Levi-Armstrong, so definitely the issue is architecture, sorry for the fuss, could you please let me know how do I compile from source, I did git clone the source code and ran the setup.sh

but as the architecture is arm I have this output

please help me and I can put the package available for anyone to use

ubuntu@robotsp1:~/QT code/ros_qtc_plugin$ ./setup.sh -ui
Install build dependencies: b

[2017-04-05 16:25] Levi-Armstrong commented on #111
Are you on 16.04 or 14.04?

[2017-04-05 16:47] Levi-Armstrong commented on #111
I am going to attempt to do an arm release.

[2017-04-05 17:48] harryman1 commented on #111
I'm on a 16.04

:)
Thanks, I own you a beer :)

[2017-04-05 18:24] Levi-Armstrong commented on #111
I am releasing everything for **ARM ARMv8 (arm64)** do you think that should be work?

[2017-04-05 18:59] liamstask commented on #104
which version of cmake and qtcreator are you running? I am running cmake 3.6.2 and qtcreator 4.2.1

I verified that a basic cmake project works as expected, but cmake in that case is being invoked via `cmake --build` which sounds like it handles stderr differently (according to a couple brief searches).

I think stderr may be relevant, because the error output in the Compile Output panel in my cma

[2017-04-05 19:08] Levi-Armstrong commented on #104
There was a recent change to catkin tools because it was printing everything out on stdout instead of printing errors out on stderr. Do you have the latest version of catkin tools?

[2017-04-05 19:08] Levi-Armstrong commented on #104
Also can you try catkin_make and see if they shown up?

[2017-04-05 19:35] liamstask commented on #104
ah ok - i'm on catkin tools 0.4.2 and it looks like the fix went into 0.4.4 so that is likely the issue. i will look into the process of upgrading our project :)

i tried a build w/catkin_make but there were some errors in our project, so I'm not sure yet whether that would work. I did see the cmake errors colored red in the compile output pane, though.

[2017-04-05 19:42] Levi-Armstrong commented on #104
OK, let me know if upgrading catkin tools does not solve your issue.

[2017-04-05 19:43] Levi-Armstrong commented on #109
@psotiropoulos Did you have any luck with getting it installed?

[2017-04-05 19:46] harryman1 commented on #111
Yes, I hope so

[2017-04-06 08:35] psotiropoulos commented on #109
@Levi-Armstrong it actually worked, thanks. Removing everything and re-installing was enough.

[2017-04-06 08:35] #109 closed

[2017-04-06 14:48] Levi-Armstrong commented on #111
So I was able to release all of the Qt Libraries except Qt Creator on the arm64. Would you be willing to help with creating a patch for Qt Creator; I can help walk you through the process?

[2017-04-06 14:53] Levi-Armstrong commented on #103
@oxoocoffee You ok with closing this issue?

[2017-04-06 15:55] oxoocoffee commented on #103
I ma trying to add missing folders sometime today unless you already did this. If you did this I can close it else I will do pull request when I am done.

[2017-04-06 17:21] harryman1 commented on #111
yes, I'm willing to help, please guide me with this, I will get that done

Thanks

[2017-04-06 23:15] Levi-Armstrong commented on #103
I just created a PR that adds the src folder for catkin tools, but I would recommend closing this one and opening a new issue with a new description for adding additional folders if you don't mind.

[2017-04-07 00:13] oxoocoffee commented on #103
No problem

[2017-04-07 00:13] #103 closed

[2017-04-07 19:58] liamstask commented on #104
confirmed that upgrading to catkin tools 0.4.4 from 0.4.2 resolves this issue. thanks for helping track it down.

[2017-04-07 19:58] #104 closed

[2017-04-07 21:25] oxoocoffee opened #114 "deb package script"
Lavi

Is there a easy way to make deb package? Is this part of this repo? or you have some standalone script that you use and could share?

I might integrate to setup.sh as I am adding some other options.

Beside libROSProjectManager.so what other files are part of output if I need to move to other machine?

[2017-04-08 00:39] Levi-Armstrong commented on #114
I do, it is in my personal fork. Are you wanting a release using Qt 5.8?

[2017-04-08 01:53] oxoocoffee commented on #114
No not publicly. Just so I can build it locally and put it on my machines. Not sure how quickly after you accept my changes (and if you do :) you will update ppa

[2017-04-08 17:39] Levi-Armstrong commented on #114
I do like the changes and appreciate the help. For the most part it has only been myself doing the development. I am planning to pull it down over the weekend and test it. In the mean time you could create a new branch in your repo called debian/xenial and rebase it on my debian/xenial and follow the instruction on my wiki for creating the debian.

[2017-04-08 17:58] oxoocoffee commented on #114
Ok great. I will try to help. I have to catch up with work now but will do it soon

[2017-04-09 17:38] oxoocoffee commented on #57
Can you please provide better explanation for this? Or how to recreate this scenario from start?

[2017-04-10 18:16] Levi-Armstrong commented on #57
I set it up such that the branch is shown next to the package folder, and it should update if you go to the terminal and checkout a different branch but it currently does not. When I original set it up it was working but in the latest version of Qt Creator it appears to have quit working. [Here](https://github.com/ros-industrial/ros_qtc_plugin/blob/c8c08701f3d3d2d247316f14211fc5ca4b42d20d/src/proj

[2017-04-10 18:37] Levi-Armstrong opened #115 "Create unit tests for all ROS Utility methods. (ros_utils.h)"

[2017-04-10 18:47] Levi-Armstrong commented on #111
So what you will want to do first is try and install my qt libraries. Try qt57base? Then you will want to download the qt creator source [here](https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-xenial/+files/qt57creator_4.2.1.orig.tar.xz) and try and build it. The readme.md in the download explains how to build it and it will fail. I recommend making the folder tracked by git befo

[2017-04-10 21:43] oxoocoffee commented on #57
So I try on my latest build and what I see is when I switch between back and forth between branches master and test [branch] next to project name does not auto refresh. When I switch focus to Qt creator then it updates (some refresh call?). Also placing break point in void ROSProject::repositoryChanged(const QString &repository) is never fired. I found void ROSProjectNode::updateVersionControlInfo

[2017-04-10 22:12] oxoocoffee commented on #114
I just check wiki here and do not see any documents referring to deb package creation. Do you have a link?

[2017-04-11 01:50] oxoocoffee opened #116 "Failed to add CMakeLists.txt to source control Dialog Box"
I noticed that when adding new package I get dialog box stating that CMakeLists.txt failed to add to source control. How to recreate it

1. mkdir ~/testCatkinTools
2. Create CatkinTool project in QT Creator and point it to ~/testCatkinTools and finish wizard
3. While Qt creator is open go to ~/testCatkinTools and do git init
4. Switch to Qt Crator and add first package Pkg1 in src/.  When completi

[2017-04-11 02:38] oxoocoffee commented on #116
Actually I noticed that above it part of problem. Here is another case

1. mkdir ~/testCatkinTools
2. Create CatkinTool project in QT Creator and point it to ~/testCatkinTools and finish wizard
3. Add first package to src/
4. Close QtCreator and in Terminal go to ~/testCatkinTools
5. git init and add all files and folders
6. commit to master
7. git branch -b test
8. Start Qt Crator and add second

[2017-04-11 09:27] jackros1022 opened #117 "libQt5Test.so.5: undefined reference to"
17:23:33: Running steps for project view_ws...
17:23:33: Starting: "/opt/ros/kinetic/bin/catkin_make" --cmake-args -G 'CodeBlocks - Unix Makefiles' -DCMAKE_BUILD_TYPE=Debug
[ 12%] Built target kinect2_registration
[ 20%] Built target pcl_filter
[ 28%] Built target kinect2_bridge
[ 36%] Built target kinect2_bridge_nodelet
[ 44%] Built target view_Normal
[ 52%] Built target viewer_process
[ 56%] Lin

[2017-04-11 10:50] jackros1022 commented on #117
do this:
`sudo ln libQt5Test.so.5.7.0 /usr/lib/x86_64-linux-gnu/libQt5Test.so`

haha,it works!

[2017-04-11 16:16] Levi-Armstrong commented on #114
Yea it is on my personal fork [here](https://github.com/Levi-Armstrong/ros_qtc_plugin/wiki/Debian-Release-Process). Let me know if you have any issues.

[2017-04-11 16:20] Levi-Armstrong commented on #116
This is using the existing version?

[2017-04-11 16:32] Levi-Armstrong commented on #116
Oops! It is do to a spelling error [here](https://github.com/ros-industrial/ros_qtc_plugin/blob/master/src/project_manager/ros_package_wizard.cpp#L251). It should be **CMakeLists.txt** instead of **CMakeList.txt**.

[2017-04-11 18:28] oxoocoffee commented on #116
Thank you. This was it and was fixed.

[2017-04-11 18:28] #116 closed

[2017-04-11 18:29] harryman1 commented on #111
the QT57 has uses version 5.5.1, I'm struggling to get it working,  however I found this two links, please check (the first link might work) as the main issue is with cpuid.h

https://patchwork.openembedded.org/patch/57035/
https://github.com/erlio/vernemq/issues/175

[2017-04-11 19:05] Levi-Armstrong commented on #111
Do you mind elaborating on this; It should be 5.7.1? Also, make sure you execute the command below so it sets up your environment to point to the qt libraries in the /opt/qt57 directory when opening a terminal to build qt creator.

[code]

[2017-04-11 20:57] oxoocoffee opened #118 "ROS wizard title"
I think ROS Wizard should be moved from Import Project to Other Project. Looks like Wizard is responsible to creation and not import project. Is there some historical reason for naming it import?
If it is ok by you I can change it relay quick to be consistent.

[2017-04-11 21:28] oxoocoffee commented on #105
liamstask

Can you start your Qt Creator and got to Help -> About Plugins -> C++ and see if you see ClangCodeModel is listed there? If it is, is it enabled? This requires restart.

[2017-04-11 21:36] liamstask commented on #105
@oxoocoffee yes, it is listed there and it is enabled. As I mentioned above, it appears to run successfully when I am not running via `qtcreator-wrapper`.

[2017-04-14 23:01] liamstask commented on #105
Actually, I just double checked and ClangCodeModel does *not* show up in the list of plugins at all when running via `qtcreator-wrapper`. It shows up and runs as expected when running directly from my qtcreator installation.

Seems like it's likely an environment/packaging issue - I don't understand how plugins are packaged with the version of qtcreator that ships in `/opt/qt57` but I can't find t

[2017-04-16 18:06] harryman1 commented on #111
sorry for the delay, I had to rebuilt my Jetson TX1

yes, I noticed that I was missing to source the QT environmental definitions, I got to the point where it shows me this

Info: creating stash file /home/ubuntu/qt-creator-opensource-src-4.2.1/.qmake.stash
Info: creating cache file /home/ubuntu/qt-creator-opensource-src-4.2.1/.qmake.cache
Reading /home/ubuntu/qt-creator-opensource-src-4.2.1/src/s

[2017-04-17 14:16] Levi-Armstrong commented on #105
Take a look [here](http://doc.qt.io/qtcreator/creator-clang-codemodel.html) and see if you need to add additional environment variable to the wrapper. The README link also has useful information.

[2017-04-17 14:57] #102 closed

[2017-04-17 17:18] liamstask commented on #105
It looks like the ClangCodeModel is not packaged w/the qtcreator that runs from `/opt/qt57`.

I checked each of the other plugins, and they're running from `/opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins` but there's no `libClangCodeModel.so` there.

To compare, `~/qtcreator-4.2.1/lib/qtcreator/plugins/libClangCodeModel.so` does exist and is loaded when running from `~/qtcreator-4.2.1`.

Is ther

[2017-04-17 18:08] Levi-Armstrong commented on #105
[Here](https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-trusty/+files/qt57creator_4.2.1-1basyskom1.debian.tar.xz) is the deb packaging information. Based on the README in the previouse link provided they may not have set up the environment to build it.

[2017-04-17 18:19] oxoocoffee commented on #105
I am away for couple of days from my working machine. But I have problem building clang plugin in first place. When I get back I will look into this more. Default Qt online installer does have this plugin.
But when building from source version 4.2 or v4.2.1 I get errors stating that clang 3.9 or higher is needed.
Did you guys had to install any extra dev packages. Can you list then so I will insta

[2017-04-17 19:23] sevenbitbyte opened #119 "Add Deploy Step causes crash"
Anytime I try to add a deploy step in the Run Settings accessed from the project `Build & Run` menu the UI locks and then crashes if I create a deploy step of type `CatkinMake Step` or `CatkinTools Step`. I tried this with a catkin tools workspace as well as a traditional catkin make setup.

I have had lots of different Qt versions installed so maybe I missed a setup or cleanup step thats causing

[2017-04-17 22:31] harryman1 commented on #111
OK, god news

I managed to compile and run QT creator :)

I was trying to get in to why Botan.cpp and Botan.h did not compile and was asking to the CPUID.h library, as I you had pointed out, it is due the ARM architecture and to ignore the x86 macros.

so after the full weekend working on this and fails and many errors I decided to test already existing patch located here.

https://codereview.qt-p

[2017-04-17 23:47] Levi-Armstrong commented on #111
Did you apply the patch as is?

[2017-04-18 05:06] liamstask commented on #105
@oxoocoffee https://github.com/qtproject/qt-creator#get-llvmclang-for-the-clang-code-model has suggestions for using prebuilt packages, perhaps those can be integrated to the build/packaging step.

[2017-04-18 10:41] harryman1 commented on #111
yes, this is correct, I did applied the patch without any modification, as my modification were not necessary

[2017-04-21 10:17] harryman1 commented on #111
Hi, I would like to know if you will be releasing the the arm64 package soon?
Thanks

[2017-04-21 16:46] Levi-Armstrong commented on #111
Thank you for the help and I do plan too. I am currently moving into a new house so I plan to try and get a release of Qt Creator sometime this week.

[2017-04-21 17:49] harryman1 commented on #111
As I promised, if you can send

[2017-04-22 08:41] harryman1 commented on #111
FYI: Apparently botan v 2.0 does compile in arm64 without any patch, but I can't find the libraries that are used for the Qcreator :(

[2017-04-24 16:27] Levi-Armstrong commented on #119
Thank you for your feedback. I have not tested this, but I will look into it.

[2017-04-24 16:32] Levi-Armstrong commented on #105
I plan to try and do a updated release of the Qt Creator application and I will try adding these to it and see it will work.

[2017-04-24 18:53] Levi-Armstrong commented on #118
Not really. The previous way Qt Creator was used to manage ROS project was the Generic Project which was under Import, but we have moved away from this, so I am ok with switching it. When you do can you update the wiki to reflect the changes?

[2017-04-24 18:55] Levi-Armstrong commented on #57
Did you have any luck with why the call backs where not getting fired?

[2017-04-25 14:36] Levi-Armstrong commented on #106
Addressed by #112

[2017-04-25 14:36] #106 closed

[2017-04-25 14:39] Levi-Armstrong commented on #111
I am waiting on a space increase on launchpad.net to be able to push the changes for arm64, so hopefully I will get the increase soon.

The libraries you are looking for are in `src/libs/3rdparty/botan/` directory.

[2017-04-27 17:25] oxoocoffee commented on #118
Ok will do. Can you look into my new pull request #120

[2017-04-28 13:28] Levi-Armstrong commented on #111
I just got he space increase so I will work on a release for arm64.

[2017-04-29 02:05] Levi-Armstrong commented on #111
There is now an arm64 of Qt Creator for xenial. Please let me know if you have any issues.

[2017-05-01 17:35] Levi-Armstrong commented on #111
@harryman1 Have you had a chance to try and install qtcreator?

[2017-05-01 19:03] harryman1 commented on #111
Hi, Sorry I was away on a business trip, I had been able to install the package qt57creator and test a simle C++ program, but I can't install the qt57creator-plugin-ros,

Thanks

[2017-05-01 19:03] Levi-Armstrong commented on #105
I was able to get an arm64 release and now I plan to work on the clang model. @oxoocoffee, @liamstask
 Did either of you get it to work building from source?

[2017-05-01 19:37] Levi-Armstrong commented on #111
Great! Also, thanks for the reminder about the plugin. I just started the qt57creator-plugin-ros arm64 build. I will let you know if there are any issue.

[2017-05-01 21:17] liamstask commented on #105
i haven't attempted to build from source, have my fingers crossed that you or @oxoocoffee have time and it works ok 😄

[2017-05-01 22:00] oxoocoffee commented on #105
Just so you know. I am swapped with project for another week or so. I will try to look at issues when I catch up

[2017-05-02 13:34] Levi-Armstrong commented on #105
I will take a look this week and give an update on the progress.

[2017-05-03 15:27] Levi-Armstrong commented on #111
@harryman1, I am unable to build the plug-in on an arm64 via launchpad.net. I get a connection refused when executing the command below. Are you able to test the command and see if you get the same issue on your arm64?

[code]

[2017-05-04 20:36] harryman1 commented on #111
I got this warning about the digital certificate but I can connect and download

wget https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-xenial/+files/qt57creator_4.2.1.2.orig.tar.xz --no-check-certificate
--2017-05-04 21:35:38--  https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-xenial/+files/qt57creator_4.2.1.2.orig.tar.xz
Resolving launchpad.net (launchpad.net).

[2017-05-05 11:57] Levi-Armstrong commented on #111
I noticed that you passed `--no-check-certificate` flag does it fail without this option?

[2017-05-05 14:59] harryman1 commented on #111
yes, this is correct it will fail, please see below

ubuntu@robotsp1:~/Downloads$ wget https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-xenial/+files/qt57creator_4.2.1.2.orig.tar.xz
--2017-05-05 15:58:36--  https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-xenial/+files/qt57creator_4.2.1.2.orig.tar.xz
Resolving launchpad.net (launchpad.net)... 91.189.89.222, 91.1

[2017-05-05 15:57] Levi-Armstrong commented on #111
OK, I will try adding the option and see if it solves the issue on launchpad.net.

[2017-05-05 17:12] harryman1 commented on #111
Hi

I was looking at the logs created by launchpad and it seems that you might have also a permission issue, as there is a refused connection, when I did my test the issue was on the digital certificate as it was not possible to verify the certificate.

in your case might be some kind of authentication issue

All the best

Henry

(see below for the logs taken form your compilation process) [https:

[2017-05-08 19:33] Levi-Armstrong commented on #111
@harryman1  Do you have any suggestions I may try. It is weird that it work on the other platforms but fails on the arm64.

[2017-05-09 07:59] harryman1 commented on #111
The only thing I can suggest is to ensure the user has access to port 443 as this might be a privileged access, or to check file permissions security settings too, And use the no-check-certificate

[2017-05-09 08:57] harryman1 commented on #111
I had found this https://irclogs.ubuntu.com/2015/02/02/%23launchpad.html

It mentions some permissions that you might need to request to allow you complete the build

[2017-05-10 14:44] PrMoustache opened #121 "QtCreator Menu bar disapear after passing in ui edit mode"
Hello everybody,

It's seems that when I edit a ui file with ros_qtc I can have acces anymore  to  qtCreator menu bar (can't access to File, Edit, Debug etc).
It's realy realted to the ui edit mode (Qtdesigner) and note the ui file's because I can edit them in text mode.

here below some information about my system and the ui file that i'm working with (mainwindow.txt didn't try with other ui's)

[2017-05-10 22:42] Levi-Armstrong commented on #121
Hello, I am sorry you are have issues. Can you provide your system information?

[2017-05-11 06:34] PrMoustache commented on #121
Can you tell me what could help you more than that I have put into qtCreator_information.txt because I don't know what more could be use full (lsb_release ouput is on the third line).

[2017-05-11 12:36] Levi-Armstrong commented on #121
@PrMoustache, Sorry missed those files. Does the menu come back when closing and reopening the application?

[2017-05-11 12:37] Levi-Armstrong commented on #121
@marip8 Didn't you have a similar issue where the Qt Creator Menu disappeared?

[2017-05-11 14:12] PrMoustache commented on #121
@Levi-Armstrong Yes, it comes back. It's really as soon as I edit a ui file. I don't have this issues with any other editing mode (ressouces files)

[2017-05-11 14:29] Levi-Armstrong commented on #121
I will take a look and see if I have the same experience.

[2017-05-12 14:52] marip8 commented on #121
@Levi-Armstrong `ctrl-shift-f11` is a hot-key for making the menu bar in the QT editor appear and disappear. Maybe that might solve this issue?

[2017-05-12 15:01] PrMoustache commented on #121
Juste tried, didn't made it. it just put QtCreator in fullscreen.
By the way changing the ubuntu menu window's location (in system parameter) don't change the problem.

[2017-05-12 17:41] Levi-Armstrong commented on #121
I just tested it on my machine and the menu bar does not disappear. Have you tried performing a purge removal and reinstalling qt57 libraries?

[2017-05-16 12:41] Levi-Armstrong commented on #111
I think I may have a something to resolve the as I have not received a response from launchpad.net. I will provide an update later today.

[2017-05-17 07:34] ahuo002 opened #122 "Some index files failed to download"
Err http://ppa.launchpad.net trusty/main amd64 Packages
  404  Not Found
Hit http://cn.archive.ubuntu.com trusty/restricted i386 Packages
Err http://ppa.launchpad.net trusty/main i386 Packages
  404  Not Found
Hit http://cn.archive.ubuntu.com trusty/universe i386 Packages
Ign http://ppa.launchpad.net trusty/main Translation-en
Hit http://cn.archive.ubuntu.com trusty/multiverse i386 Packages
Hit ht

[2017-05-17 20:13] PrMoustache commented on #121
Sorry I thought I had answered.
Nop I didn't try this solution and I won't for the moment, maybe within 2 weeks.

[2017-05-18 13:33] Levi-Armstrong commented on #122
It should be fixed now, I was working on trying to fix some open issues.

[2017-05-18 18:50] Levi-Armstrong commented on #111
@harryman1 I finally was able to figure out how to get everything to work. Please try installing everything and let me know if it works and sorry it took so long to figure out how to get a release for the arm64.

[2017-05-18 18:52] Levi-Armstrong commented on #105
@liamstask can you take a look at the latest release and let me know if it available?

[2017-05-19 14:54] #89 closed

[2017-05-19 22:10] AgnosticPope commented on #121
I'm having the same issue.  Ubuntuj 14.04.  Completely reproducible.

[2017-05-20 00:55] AgnosticPope opened #123 "Cannot change from 2 spaces"
When you hit tab, it is always 2 spaces. This is the default (as it should be!) but there's no way to change it.  If you go into Tools->Options->C++ and select "Qt [builtin]" or any other value can be selected, but the formatting will still be two spaces (I think it's getting this from "ROS [builtin]"?) when you hit tab, or use Ctrl+I to format a section of code.

[2017-05-20 01:51] Levi-Armstrong commented on #123
Is this in a ros project? If so , it is set at the project level. Got to the project tab on the left and then there should be a code style section where you can change it for the project. You can also set it to use global settings.

[2017-05-20 01:54] Levi-Armstrong commented on #121
Have you tried a purge removal and then reinstall of the qt57 libraries?

[2017-05-21 20:55] #122 closed

[2017-05-22 11:16] harryman1 commented on #111
it works, thank you :)

i wil  following now the setup steps for QT creator, any issue I will let you know on a new topic

[2017-05-22 17:09] liamstask commented on #105
just updated and it is not included. however, `libClangStaticAnalyzer.so` is in /opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins so it seems some part of the clang build may have worked? please let me know if there's any other info that would be helpful.

[2017-05-22 19:22] Levi-Armstrong commented on #105
It looks like it require clang 3.9. I have a ppa that has it so I will see what I can do about getting to build.

[2017-05-23 00:56] liamstask commented on #105
it looks like there are 3.9 binaries available at https://download.qt.io/development_releases/prebuilt/libclang as well

[2017-05-23 17:55] liamstask commented on #105
still no luck for libClangCodeModel:
[code]

and

[code]

[2017-05-23 19:24] Levi-Armstrong commented on #105
Did it install libclang1-3.9 by chance?

[2017-05-23 21:57] liamstask commented on #105
looks like it did not:
[code]

[2017-05-24 02:35] Levi-Armstrong commented on #105
Ok maybe i did not add the dependency correctly, I will check and push a new version.

[2017-05-24 22:23] Levi-Armstrong commented on #105
@liamstask Are you on trusty or xenial?

[2017-05-25 02:19] Levi-Armstrong commented on #105
Just noticed in the previous comment is show the library as trusty. Sorry I only updated the Xenial because I thought you were on Xenial. I will let you know when the trusty version has been updated.

[2017-05-25 04:30] liamstask commented on #105
Yes, I'm stuck on trusty for now :) that would be great, thank you!

[2017-05-25 10:41] #111 closed

[2017-05-26 21:01] karanchawla opened #124 "Add node class to Import Wizard"
Hi,

I'd like to add default node class to the file import wizard. Any clue how I'd go about editing the code base? I'd like to create a new publisher/subscriber class and would like to have the boilerplate code for the same.

IMO I'll have to edit the `ros_project_wizard.cpp` but I'm not sure. Can I get a clue as to how to go about achieving this.

Thanks.

[2017-05-26 23:15] Levi-Armstrong commented on #105
OK, I think it should be available. Check the latest and let me know if it is available.

[2017-05-26 23:24] Levi-Armstrong commented on #105
I just tested it and it is available, but you may have to manually install libclang-3.9 and libllvm3.9.

[2017-05-27 00:46] liamstask commented on #105
confirmed - i upgraded without installing libclang and libllvm and it was not included. once I installed libclang and libllvm manually, it installed and clang code model plugin is available 👍

Looks like this may be just internal to that plugin, but I see lots of the following line: `SOFT ASSERT: "!resourceDir.isEmpty()" in file /build/qt57creator-BxSDzP/qt57creator-4.2.1.2/src/plugins/clangcodemo

[2017-05-27 00:55] Levi-Armstrong commented on #105
Is that an output to the terminal when qt creator is launched from the terminal?

[2017-05-27 02:29] liamstask commented on #105
yes - just to the terminal, not in the UI

[2017-05-30 12:54] Levi-Armstrong commented on #124
Thank you for your interest @karanchawla. I believe they may already be in this repository but have not been release in the latest binary. Please take a look and see if they need any improvements. If they are simple templates they can be implemented using JSON files and [here](https://github.com/ros-industrial/ros_qtc_plugin/tree/master/share/templates/wizards/files) are the ones currently impleme

[2017-05-30 12:56] Levi-Armstrong commented on #105
OK, I have not used the plug-in so I am not sure if this is normal behavior or not. You may try opening another project that is not a ROS Project and see if you get similar outputs. If not, I could be doing something incorrectly when creating the code model.

[2017-05-30 17:08] liamstask commented on #105
No problem - doesn't seem to impact functionality in any way, so probably OK to ignore. I would say, if you are able to either:
* fix the installation to properly depend on libclang and llvm 3.9 packages
* or update the wiki to indicate those must be installed manually as prerequisites

then we should close out this issue 👍

[2017-05-31 08:01] luator commented on #105
Hey, I just saw, that this is working now. That's great, thanks a lot for the effort!

[2017-05-31 19:42] harryman1 opened #125 "gdb-7.7.1.git does not compile in ARM"
GDB 7.7.1 does not compile for ARM, after looking at the issue a patch was implemented, but this had generated other compiling issues.

I had found a working version for ARM of this library which did compile in ARM https://releases.linaro.org/archive/14.06/components/toolchain/gdb-linaro/

Thanks

Henry

[2017-05-31 22:20] liamstask commented on #105
sounds good - let me know if there's anything that would be helpful to test

[2017-06-01 13:25] Levi-Armstrong commented on #125
If you use the one you found the only thing I modified was the skip.c file so you could update it if you are building from source.

[2017-06-06 08:49] CodeFinder2 opened #126 "Update to Qt Creator v4.3.0"
Hi,

first of all great work!

Qt Creator 4.3.0 / Qt 5.9.0 has been released. Would be great if you could update the repo with that version(s).

Thanks once again!

[2017-06-06 12:14] Levi-Armstrong commented on #126
Thanks for letting me know; I will take a look.

[2017-06-07 19:51] DanielLandMineBoys opened #127 "Problem with Installation procedure"
Hello, I'm a new user with ROS, and I am having trouble with trying to get the plugin to install.

I followed the instructions on the wiki and ran:
sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros

When I ran the last command, It did manage to download some files, but it

[2017-06-12 11:00] stefanchoo commented on #126
I got a  _fatal error: projectexplorer/iprojectmanager.h not found_ in building Qt Creator 4.3.0; The file
 _iprojectmanager.h_ has been deleted in Qt Creator 4.3.0, please pay attention when you have time to do the job.

[2017-06-12 12:14] Levi-Armstrong commented on #126
Thank you for the heads up. Is there a particular reason you want to use 4.3.0; did they add new capability?

[2017-06-12 12:18] Levi-Armstrong commented on #127
Sorry, I thought I had already replied. It looks like the wrong ppa was add for the version of ubuntu. At the start of the statement you specify adding `sudo add-apt-repository ppa:levi-armstrong/qt-libraries-xenial`, but the error out put show `ppa.launchpad.net/levi-armstrong/qt-libraries-trusty`. I think if you fix this everything should install correctly.

[2017-06-12 12:19] Levi-Armstrong commented on #123
@AgnosticPope Did this resolve your issue?

[2017-06-12 12:22] Levi-Armstrong commented on #105
I did a fresh install and everything worked without having to manually add the clang libraries.

[2017-06-12 12:30] CodeFinder2 commented on #126
On my side, I would like to use the new capabilities related to CMake's (>= v3.7) "server-mode". Also refactoring with "ClangRefactoring" plugin seems to be very interesting.

For information can be found here: http://blog.qt.io/blog/2017/05/24/qt-creator-4-3-0-released/

[2017-06-12 13:04] Levi-Armstrong commented on #126
This is very interesting, I think it should be relatively easy to upgrade. Though it will most likely not use the server mode feature for the ROS plug-in for the short term, because it most likely will require significant changes.

[2017-06-13 03:42] stefanchoo commented on #126
I wanna to use 4.3.0, just because I downloaded the Qt 5.9 which released with Qt Creator 4.3.0. And I agree with  @CodeFinder2, the CMake's (>= v3.7) "server-mode" is an interesting change.

[2017-06-14 20:38] PrMoustache commented on #121
I've just tried, still the same problem.

[2017-06-14 23:06] oxoocoffee commented on #126
I will try this tonight or tomorrow

[2017-06-15 01:08] AgnosticPope commented on #123
Yes it did. I'm old enough to remember when creator didn't have per project settings for style, and I think I forgot:)  Thank you!

[2017-06-15 01:08] #123 closed

[2017-06-15 01:09] AgnosticPope commented on #121
It's not a problem with the plugin persay, it also happens in Vanilla creator.  Shall we perhaps move the bug there?

[2017-06-15 12:29] Levi-Armstrong commented on #121
I agree it is most likely and issues in Qt Creator and not the plugin.

[2017-06-17 10:03] NikolausDemmel opened #128 "setup procedure without PPA"
What is the best way to compile this plugin for a recent version of QtCreator without using the debs from the PPA? I.e. how would I go about downloading the official binary releases of Qt / QtCreator and then compiling this plugin against those?

[2017-06-17 10:13] gavanderhoorn commented on #128
Not sure whether it's 'the best way', but I've done something in the past, before the plugin was distributed using the PPA.

See #17, in particular https://github.com/ros-industrial/ros_qtc_plugin/issues/17#issuecomment-231378913 and the linked gist.

[2017-06-19 12:22] Levi-Armstrong commented on #128
You may also take a look at the debian rules file [here](https://github.com/Levi-Armstrong/ros_qtc_plugin/blob/debian/trusty/debian/rules) used to build the debian. You would most likely need to update the `QTC_SOURCE_DIR` and `QT_BASE_DIR` variable which set the location of the source and install location.

[2017-06-21 14:04] wangzhaodong123 opened #129 "ros plugins don't appear in qt."
fatal: Not a git repository (or any parent up to mount point /home)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
== Output redirected to setup.log
==
== ROS Qt Plugin Git()
== Checking build dependencies
==  Installed      : build-essential
==  Installed      : libgl1-mesa-dev
==  Installed      : libqtermwidget57-0-dev
==  Installed      : python-catkin-tools
==  Ins

[2017-06-21 15:02] Levi-Armstrong commented on #129
Sorry, don't fully understand what you were trying do. Can you walk me through the steps that generated the error?

[2017-06-23 18:01] MarqRazz opened #130 "RVIZ errors after sourcing /opt/qt57/bin/qt57-env.sh"
This is an issue I am having on a fresh install of Ubuntu 16.04 and Kinetic. I installed QT 5.7.1 with QT Creator 4.2.0. If this bug belongs to RVIZ just let me know and I will close and move this.

I downloaded QT (this is the same version I was using on Indigo)
`wget http://download.qt.io/official_releases/qt/5.7/5.7.1/qt-opensource-linux-x64-5.7.1.run`

After install of QT I can fire up RVIZ wi

[2017-06-23 22:39] oxoocoffee commented on #129
I think it would be great to attach setup.log here?

[2017-06-24 02:17] marketto89 opened #131 "QtCreator installation issue - Ubuntu 14.04"
Hello,

Thank you for providing the best IDE for ROS!

I am trying to install ros_qtc_plugin on a fresh Ubuntu 14.04 machine.

Following the wiki:
`sudo add-apt-repository ppa:levi-armstrong/qt-libraries-trusty
sudo add-apt-repository ppa:levi-armstrong/ppa
sudo apt-get update && sudo apt-get install qt57creator-plugin-ros`

I obtained the following (tail of the) error:

[code]
Then, I tried:
`sud

[2017-06-24 11:30] chupakabra1996 commented on #131
Have the same issue.
Looked through issues and try to install ```qt57creator``` manually, no results

[2017-06-26 07:22] lanyouzibetty commented on #131
Hello, I have met the same problem, have you solved it?

[2017-06-26 12:02] Levi-Armstrong commented on #130
I have also see this on my machine but I does not appear to have any effect on Rviz. Do you have any issues with Rviz? I think it may have to do with sourcing qt57 when rviz was compiled with 5.5.1. When you don't source qt57 do the errors appear?

[2017-06-26 12:10] Levi-Armstrong commented on #131
Sorry for the issue, recently the ability to use the clang code model was added which depends on libllvm3.9. I am not sure why it does not add it to the list of libraries to be installed but I am looking into if I set something up incorrectly during the Debian creation.

Try to manually install the libllvm3.9 library then try going through the install steps again.

[2017-06-26 14:01] lanyouzibetty commented on #131
Hello, Levi-Armstrong, thanks for your reply. I installed the libllvm3.9 manually, but the problem still exists.

[2017-06-26 14:05] MarqRazz commented on #130
It doesn't seem to have any effect other than the icons that couldn't load chance to little blue squares.

I ended up making a symbolic link for the .desktop launch for QT from `~/.local/share/applications/` to my desktop and changed the Exec line to ``Exec=/opt/qt57/bin/qtcreator`` so that I can launch from there without all my shells having to sourcing `source /opt/qt57/bin/qt57-env.sh`. I cant

[2017-06-26 14:06] lanyouzibetty commented on #131
@Levi-Armstrong Hello, thanks for your reply, I installed the libllvm3.9 manually, but the problem still exists.

[2017-06-26 14:08] gavanderhoorn commented on #130
Doesn't the Qt installer include the `-wrapper.sh` script? That would seem to avoid having to `source` all sorts of files?

Btw: is using the regular Qt installer and the plugin from the PPA actually supported @Levi-Armstrong? Are the Qt Creator version in your PPA and the one from the regular installer binary compatible?

[2017-06-26 15:06] Levi-Armstrong commented on #131
What error does it print out?

[2017-06-26 15:21] Levi-Armstrong commented on #130
You are correct there is a wrapper, @MarqRazz you may have better luck if you created a symbolic link against the -wrapper.sh instead of directly against `/opt/qt57/bin/qtcreator`.

Qt installer? Are you referring to downloading Qt from there website and installing versus using `sudo apt install`? If so, it currently is not.

They should be.

[2017-06-26 15:23] gavanderhoorn commented on #130
Isn't that what @MarqRazz is doing? See his OP:

`wget http://download.qt.io/official_releases/qt/5.7/5.7.1/qt-opensource-linux-x64-5.7.1.run`

[2017-06-26 15:57] Levi-Armstrong commented on #130
Oh, I missed that part. It should be ok but it will not use them as it will install the Qt Libraries into the opt directory form my ppa.

[2017-06-26 16:11] Thompson104 commented on #131
@Levi-Armstrong Same error message after manually installed libllvm 3.9

[2017-06-26 16:30] MarqRazz commented on #130
Are you saying that this step is not needed during install?

wget http://download.qt.io/official_releases/qt/5.7/5.7.1/qt-opensource-linux-x64-5.7.1.run

I thought ros_qtc_plugin was just a plugin and required qtcreator to be installed beforehand.

[2017-06-26 16:32] gavanderhoorn commented on #130
@MarqRazz wrote:

`sudo ln -s /home/marq/Qt5.7.1/Tools/QtCreator/bin/qtcreator /usr/local/bin/qtcreator`

@Levi-Armstrong: I'm uncertain what will happen here now, if @MarqRazz starts this instance of Qt Creator with all the environment variables pointing to the other one.

[2017-06-26 16:33] gavanderhoorn commented on #130
@MarqRazz: no, you don't need to install Qt Creator yourself. The [install instructions](https://github.com/ros-industrial/ros_qtc_plugin/wiki/1.-How-to-Install-(Users)) also don't ask you to.

[2017-06-26 16:42] Levi-Armstrong commented on #131
I found the issue libllvm3.9 was renamed to libllvm3.9v4 on trusty. I will update it and let you know when it has been published.

[2017-06-26 16:43] Thompson104 commented on #131
@Levi-Armstrong Thank you for your help.

[2017-06-26 16:56] MarqRazz commented on #130
I still get the RVIZ errors, but haven't tried to use the environment to see if there are other effects.

My bad.... I installed this partly from memory and the wiki instructions and thought that installing a version of qtcreator was a requirement (thinking this was a plug-in and not a full package). Some of the old instructions have you install it before the plugin.
[https://github.com/Levi-Armst

[2017-06-26 22:46] Levi-Armstrong commented on #131
There is a new version, let me know if you have any issues.

[2017-06-27 00:11] marketto89 commented on #131
Thank you @Levi-Armstrong it works!

[2017-06-27 00:11] #131 closed

[2017-06-27 12:37] Levi-Armstrong commented on #129
@wangzhaodong123 Are you doing rviz plug-in development? If so, I know there is an issue if you build it using the IDE, because the environment is pointing to Qt 5.7 when the plug-in needs to be built with another version. I have started to work on this but have not had time to finish, but the way to solve this and still use the IDE is build it from the terminal passing the codeblock generator fla

[2017-06-27 12:38] Levi-Armstrong commented on #127
@DanielLandMineBoys were you able to solve the issue?

[2017-06-27 14:38] lanyouzibetty commented on #131
@marketto89 hello, how did you solve this problem? I installed the libllvm3.9v4 manually, but the problem still exists, thanks in advance.

[2017-06-28 03:41] oxoocoffee commented on #126
Little update. I got it build against Qt5.9 couple of days ago. Needs more testing but it is coming.
Also added support to build against multiple Qt Creators versions so help with testing and allow multiple versions to run.

[2017-06-28 13:42] NikolausDemmel commented on #128
Thanks @gavanderhoorn and @Levi-Armstrong. In the meantime I have actually managed to get this working with qtcreator from PPA on our setup, but this should serve nicely as a future reference for me and others.

[2017-06-28 13:42] #128 closed

[2017-07-07 02:31] JinglinZhang commented on #117
I have the same error, but the ln command doesn't work.
It seems that the file libQt5Test.so.5.7.0  doesn't exist, and there is already a libQt5Test.so file in /usr/lib/x86_64-linux-gnu/.
Could anyone help?

[2017-07-07 02:46] JinglinZhang commented on #117
I delete the original /opt/qt57/lib/libQt5Test.so.5 and make a hard link from /usr/lib/x86_64-linux-gnu/libQt5Test.so.5 to /opt/qt57/lib/libQt5Test.so.5, then it works.
[code]

[2017-07-07 13:01] Levi-Armstrong commented on #117
I will see what I can do to fix this in the Debian.

[2017-07-08 10:08] ZuoJiaxing commented on #58
@vharron , I have the same problem with you.  Anyway to fix it ?

[2017-07-08 11:08] reinzor opened #132 "Plugin working but QT is not resolving my include files"
![image](https://user-images.githubusercontent.com/4176023/27984775-83e7b996-63de-11e7-9480-ed39e9e9548d.png)

Set-up my workspace using catkin tools, compiling works but my include files are not resolved (picture above). Any ideas? Just followed the user-setup WIKI.

[2017-07-08 14:09] vharron commented on #58
Change your PATH to include a cmake binary or move a cmake binary into your PATH

[2017-07-09 13:54] Levi-Armstrong commented on #132
Are you compiling using the IDE or from the command line?

[2017-07-09 14:58] Levi-Armstrong commented on #132
I should probably add this to the wiki somewhere, but when using the IDE you will need to build once and after every clean from within the IDE which will generate a project file that the IDE parses to build the internal code model. After this you may build from the terminal, but you will occasionally need to update the code model by right on the project node and selecting reload code model. This i

[2017-07-10 13:29] Levi-Armstrong commented on #130
@MarqRazz, Were you able to resolve the issue?

[2017-07-12 12:52] MarqRazz commented on #130
Sorry It took me so long to get back to this. Everything is working fine now, thanks for your help guys!!

[2017-07-12 12:52] #130 closed

[2017-07-14 08:05] facontidavide commented on #126
I am looking forward for this

[2017-07-16 01:08] msinvent commented on #130
Is the above problem resolved ? I am getting the same problem when I followed the exact installation instructions. Apart from that when I am running
`rosrun rqt_graph rqt_graph`
I am getting the following error
[code]
I am not able to see any visible changes with the tool

But when i did the same with
`rosrun rqt_plot rqt_plot`
I am getting the same set of errors along with it is not working the w

[2017-07-16 02:12] Levi-Armstrong commented on #130
If you build and run from a terminal does this error go away?

[2017-07-16 02:52] msinvent commented on #130
No, it stays in both the cases.

[2017-07-17 09:50] antoan opened #133 "Could not find a package configuration file provided by "roscpp""
After following the installation instructions in the wiki I get the above error when opening a catkin package

Ubuntu 14.04
Qt Creator 4.2.1
[QtCreatorOutput.txt](https://github.com/ros-industrial/ros_qtc_plugin/files/1152152/QtCreatorOutput.txt)

[2017-07-17 12:25] Levi-Armstrong commented on #130
Was it a clean build from the terminal? If so, I don't think it has to do with the ros_qtc_plugin but cannot be certain. One way to make sure is to create a virtual machine and test your running your code then install qtcreator and ros_qtc_plugin then test again and see if it shows up.

[2017-07-17 12:58] msinvent commented on #130
Let me try this. Will get back to you once i will perform above test.

On Jul 17, 2017 8:25 AM, "Levi Armstrong" <notifications@github.com> wrote:

[2017-07-18 21:04] AustinDeric opened #134 "symbol lookup error"
/opt/qt57/bin/qtcreator: symbol lookup error: /opt/qt57/lib/x86_64-linux-gnu/qtcreator/plugins/libROSProjectManager.so: undefined symbol: _ZN4YAML6detail9node_data14convert_to_mapEN5boost10shared_ptrINS0_13memory_holderEEE

when running opening a project or specifying catkin tools.  everything works fine when using catkin_make.

[2017-07-18 21:07] AustinDeric commented on #134
running```sudo apt-get install libboost1.58-all-dev``` fixes the issue.  If there are no code mods on the QT side to give a clearer error message or install boost 1.58 with QT, then we should close the issue.

[2017-07-18 23:25] Levi-Armstrong commented on #134
Is this on kinetic?

[2017-07-18 23:48] Levi-Armstrong commented on #133
Do you have ROS installed?

[2017-07-18 23:54] Levi-Armstrong commented on #134
It sounds like I may not be linking against yamlcpp correctly discussed [here](https://stackoverflow.com/questions/36403287/compiler-error-with-yaml-cpp-undefined-reference-to-yamldetailnode-data).

[2017-07-19 00:04] Levi-Armstrong commented on #134
Also I just noticed that yaml-cpp is not a run depend for the binary. Can you verify that yaml-cpp is installed?

[2017-07-19 23:24] Levi-Armstrong commented on #134
@AustinDeric were you able to resolve the issue?

[2017-07-19 23:25] Levi-Armstrong commented on #132
@reinzor were you able to resolve the issue?

[2017-07-20 16:33] reinzor commented on #132
Hi @Levi-Armstrong , I dit not have time yet to look back at this issue. I will give it a shot this weekend. Thanks!

[2017-07-25 20:32] amcelroy commented on #25
Sorry to necro a closed topic, but adding the sleep command to allow the debugger to attach would be a huge help if mentioned in the tutorial. The debugger kept skipping my breakpoints and it was driving me nuts and couldn't find an answer until searching through all the closed topics.

[2017-07-26 10:08] reinzor commented on #132
Still not working, I did try the following:

1) catkin build on new ws --> import ws in qtcreator (not working)
2) catkin clean in qtcreator --> catkin build --> repopened ws --> build (not working)

Any ideas?

[2017-07-26 13:00] Levi-Armstrong commented on #25
@amcelroy  Thank you for the reminder. I have updated the Notes section the debug [wiki](https://github.com/ros-industrial/ros_qtc_plugin/wiki/4.-Debugging-Catkin-Workspace).

[2017-07-26 13:08] Levi-Armstrong commented on #132
Can you check the build directory and in each packages directory there should be a file package_name.cbp? Let me know if they exist or not.

[2017-07-26 16:25] amcelroy commented on #25
@Levi-Armstrong Thanks. Thanks also for making such a great tool, it is an amazing way to write code for ROS and has sped up development dramatically. Very nice tool!

[2017-07-26 21:07] antoan commented on #133
Yes, ROS Indigo LTS

[2017-07-26 23:52] Levi-Armstrong commented on #133
Can you post the qtcreator environment for the project? If you go to the project tab on the left and under build you will find the environment information.

[2017-07-27 01:36] FreelanceJavaDev commented on #127
I have a similar problem where I can't even locate the package.  I'm on Ubuntu Mate 16.04 running on a Raspberry Pi 3 (armv7)

[2017-07-27 15:00] Levi-Armstrong commented on #127
Sorry it is currently only released for armv8. I will try one for armv7 but not sure how it will go.

[2017-07-27 15:06] Levi-Armstrong commented on #127
They are currently building so I will keep you up to date.

[2017-07-28 13:02] Levi-Armstrong commented on #127
@FreelanceJavaDev Most of the Qt Libraries built but two. It is complaining about a missing dependency libglesv2. Can you check and verify that this library is able to be installed on your machine?  If so it is most likely just a missing dependency in the debian which I can easily fix.

[2017-07-28 23:43] FreelanceJavaDev commented on #127
Here's what I get in Terminal:
` Hit:1 http://packages.ros.org/ros/ubuntu xenial InRelease
Hit:2 http://ppa.launchpad.net/flexiondotorg/minecraft/ubuntu xenial InRelease
Hit:3 http://ports.ubuntu.com xenial InRelease
Hit:4 http://ppa.launchpad.net/levi-armstrong/ppa/ubuntu xenial InRelease
Hit:5 http://ports.ubuntu.com xenial-updates InRelease
Hit:6 http://ppa.launchpad.net/levi-armstrong/qt-libra

[2017-07-29 02:03] lochappy commented on #132
I aslo have the similar issue, any idea? The .cbp does exist in my case.

[2017-07-29 02:09] lochappy commented on #132
I guess it cannot load the include path for some reason. Is there any way to add the include path manually, just like INCLUDEPATH += /opt/ros/indigo/include in normal .pro file, for example?

[2017-07-29 03:00] Levi-Armstrong commented on #132
Just want to check. You followed the instructions for importing a ros workspace and have built it using qt creator? If it is missing the .cbp file this is due to not building using qt creator.

[2017-07-29 03:28] lochappy commented on #132
I followed the procedure as:
From QtCreator 4.2.1, (QT 5.7.1)
 + File -> New Project -> Import Project -> Import ROS Workspace (Distribution : Indigo, Build system: CatkinMake, the workspace path points to an empty folder) -> Next -> Finish
 + From  sidebar, right-click on src -> add new -> ROS -> Package -> (Name: demo, Dependencies Catkin: roscpp) -> Next -> Finish
 + From  sidebar, right-click

[2017-07-29 03:33] Levi-Armstrong commented on #132
OK have you built from within Qt Creator?

[2017-07-29 03:37] lochappy commented on #132
I have built it within the Qt Creator,the attachment is the compile output.
![screenshot from 2017-07-29 11 35 12](https://user-images.githubusercontent.com/9412700/28741817-0d04a30a-7452-11e7-8f50-54c1edade303.png)

[2017-07-29 03:42] Levi-Armstrong commented on #132
Have you added the add_executable for demo.cpp to the CMakeLists file?

[2017-07-29 03:55] Levi-Armstrong commented on #127
Do mind trying the command below and see if the library is able to be installed?

`sudo apt install libglesv2`